<div class="beer">
    <img src="{{this.image_url}}" alt="{{this.name}}">
    <h2> <a href="/beers/{{this.id}}">{{this.name}}</a> </h2>
    <h4 class="tagline">{{this.tagline}}</h4>
    <h4 class="description">Description: {{this.description}}</h4> 
</div>