
<div class="col-md-4">
    <article class="beer-card">
        <img class="beer-card" src="{{image_url}}" alt="{{name}}">
        <h1 class="name">{{name}}</h1>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
        
    </article>
</div>


{{!-- <a href="/beers/beer-i3f4d34s34b">
    <!-- name of the beer -->

</a> --}}