  <a href="/beer/{{ beer.id }}">
    <h1 class="title is-1">
      {{beer.name}}
    </h1>
  </a>
  <img src='{{beer.image_url}}' alt='' />
  <h3>
    {{beer.tagline}}
  </h3>

  <p>
    {{beer.description}}
  </p>