<div>
    <img src="{{this.image_url}}" alt="beer image"><br>
    <a href="/beers/beer/{{this.id}}">{{this.name}} </a><br>
    <span>Description: {{this.description}}</span><br>
    <span>Tagline: {{this.tagline}}</span><br>
</div>