<div class="col-md-4">

    <article class="card">
        <img class="beer-img" src="{{this.image_url}}" alt="{{this.name}}">
        <h2 class="beer-name"> {{this.name}} </h2>
        <p class="beer-description">{{this.description}}</p>
        <p class="beer-tagline">{{this.tagline}}</p>
    </article>

</div>