{{#each this}}

<div class="item">
    
    <img src="{{this.image_url}} " class="pic_Beer" alt="{{this.name}} image">
    <a href="beers/beer-{{this.id}}">
        <h3>{{this.name}} </h3>
    </a>
    <aside>{{this.tagline}} </aside>
    <p>{{this.description}} </p>
</div>

{{/each}}