<img src="{{image_url}}" class="card-img-top" alt="{{name}}">
<div class="card-body">
    <h5 class="card-title">{{ name }}</h5>
    <p class="card-text">{{ description }}</p>
    <p class="tagline">{{ tagline }}</p>
</div>