<div class='col-sm-4 text-center beerCard'>
    <article>

        <img class='beersImg' src="{{image_url}}" alt="{{name}}">
        
        <hr>


        <div class="beerInfo">
            <a href='beers/{{this.id}}')><h3>{{name}}</h3></a>
            <h4>{{tagline}}</h4>  
            <p>{{description}}</p>            
        </div>

    </article>
</div>