<div><ul>
    <li><img src="{{image_url}}" alt="Bottle of {{name}}" class="beerImg"/></li>
    <li class="tagline">{{name}}</li>
    <li class="tagline">{{tagline}}</li>
    <li>{{description}}</li>
</ul>
</div>