<div class="card" style="width: 24rem; height: 40rem;">
    
    <img src="{{this.image_url}}" class="card-img-top " alt="{{this.name}}">
    <div class="card-body">
        <a href="/beers/beer-{{this.id}}" style="text-decoration: none;"><h5 class="card-title">{{this.name}}</h5></a>
        <span class="tag-line">{{this.tagline}}</span>
        <p class="card-text">{{this.description}}</p>
    </div>
</div>