        <article class="col-md-6 col-lg-4 beer">
            <div  >
                <img class='beerImg' src="{{this.image_url}}" alt="{{this.name}}">
            </div>
            
            <h4>{{this.name}}</h4>
            <hr>           
            <p>{{this.description}}</p>
            <p><i>{{this.tagline}}</i></p>
        </article>