<div class="beer-partial">
    <div>
        <img src={{image_url}} alt={{name}}>
    </div>
    <div>
        <h3>{{name}}</h3>
        <p style="color: #bfbfbf">{{tagline}}</p>
        <p>{{description}}</p>
    </div>
</div>