<!-- {{#each this}} -->

    <div>
        <a href="beers/beer-{{this.id}}"><h3>{{this.name}} </h3></a>
        <img src="{{this.image_url}} " alt="">
    
    <aside>{{this.tagline}} </aside>
    <p>{{this.description}} </p>
    </div>

<!-- {{/each}} -->