<div class="each-beer">
    <div class="beer-img">
        <img src="{{image_url}}">
    </div>

    <a href="/beers/beer-{{id}}-{{randStr}}">
        {{name}}
    </a>

    {{!-- <h4>{{name}}</h4> --}}
    <span>{{tagline}} </span>
    <aside> {{description}}</aside>
</div>