<ul class="beer-card">
        {{#each products}}
        <li>
        <img src="{{image_url}}" alt="{{name}}" width="100px">
        <h2>{{name}}</h2>
        <p>Description: {{description}}</p>
        <p>Tagline: {{tagline}}</p>
        </li>
{{/each}}
</ul>
