            
            
            <a href="/specific/{{id}}">

                <img src="{{image_url}}" alt="beer image {{this.id}}">

            </a>

            {{name}}
            {{description}}
            {{tagline}}