<div>
    <div class="beer-img" style="display: flex; justify-content:center;">
        <img src="{{image_url}}" alt="{{name}}"/> 
    </div>
    <div class="beer-body">
        <h1>{{name}}</h1>
        <h3>{{tagline}}</h3>
        <p>{{description}}</p>
    </div>
  
</div>