<img src={{this.image_url}} class="card-img-top" alt="...">
<div class="card-body">
  <a href="/beers/beer/{{this.id}}"><h5 class="card-title">{{this.name}}</h5></a>
  <p class="card-text"><small class="text-muted">{{this.tagline}}</small></p>
  <p class="card-text">{{this.description}}</p>
</div>