<div class='beer-card'>
  <div class='beer-card__img'>
    <img src='{{this.image_url}}' alt='{{this.name}}' />
  </div>
  <div class='beer-card__info'>
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
  </div>
</div>