<div class='beer-cards col-md-4'>
  <div class='card border-0'>
    <img class='card-img-top' src='{{image_url}}' alt='Beer {{name}}' />
    <div class='card-body'>
      <h5 class='card-title'><a href="/beers/{{id}}">{{name}}</a></h5>
      <h6 class='card-title text-muted'>{{tagline}}</h5>
      <p class='card-text'>{{description}}</p>
    </div>
  </div>
</div>