<div>
  <img class="image-beer" src="{{this.image_url}}" alt="beer"></img>
  <p><span>Name: </span><a href="/beers/{{this.id}}">{{this.name}}</a></p>
  <p><span>Description: </span>{{this.description}}</p>
  <p><span>Tags: </span> {{this.tagline}}</p>
</div> 