<div class="beers-container">
        <div class="beers-row">
            <div class="beers-item">
                <img src="{{this.image_url}}" alt="{{this.name}}">
                <p>{{this.name}}</p>
                <p>{{this.description}}</p>
                <p>{{this.tagline}}</p>
            </div>  
        </div>
</div>
