<div class="col-md-4">

    <article class="beer-card">
        <img src="{{image_url}}" class="beer-img" alt="{{name}} {{tagline}}">
        <div class="beer-body">
            <h5 class="beer-name">{{name}}</h5>
            <p class="beer-tagline">{{tagline}}</p>
            <p class="beer-text">{{description}}</p>
    </article>

</div>