<div class="beer-container">
    <a href="/beers/beer-{{this.id}}">
        <img src="{{this.image_url}}" alt="">
    </a>

    <div class="beer-info">
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </div>
</div>        
        