            <div class="col-4"">
                <div>
                    <div  class="divChela">
                        <img src="{{image_url}}" alt="{{name}}">
                    </div>
                    <div class="DescriptionBeer">
                        <h3 style="font-size: 17px; font-weight:bolder">{{name}} <br>
                        <span style="font-size: 13px; color:rgb(76, 77, 78)">{{tagline}}</span></h3>
                        <p style="font-size: 13px;">{{description}}</p>
                        <a style ="color: black;" href ="/Beer:{{id}}"> Click to see de beer </a>
                    </div>
                </div>
            </div>