<div class='beer-container'>

  <a href='/beers/{{this.id}}'>
    <img src={{this.image_url}} alt='image beer' />
  </a>
  <div class='beer-text'>
    <p class="bear-title">{{this.name}}</p>
    <p class="bear-description">{{this.description}}</p>
    <p class="bear-tagline">{{this.tagline}}</p>
  </div>

</div>