<a href="/beers/beer-{{this.id}}">
        <div>
                <img src="{{this.image_url}}" alt="{{this.name}}">
                <h2>{{this.name}}</h2>
                <p>{{this.description}}</p>
                <p>{{this.tagline}}</p>
        </div>
</a>