<div class="beer-card">
    <a href="/beers/{{id}}">
        <img class="beer-img" src={{image_url}} alt="beer image">
    </a>
    <h3>{{name}}</h3>
    <p class="tagline">{{tagline}}</p>
    <br>
    <p>Description: {{description}}</p>
</div>