<div class='beer_cards_div'>
  <div class='card_img'>
    <img src='{{this.image_url}}' alt='{{this.name}}' />
  </div>
  <div class='card_body'>
    {{!-- {{#if }} --}}
    <h3 class='card_name'>{{this.name}}</h3>
    <h5 class='card_tagline'>{{this.tagline}}</h5>
    <p class='beer_paragraph'>{{this.description}}</p>
  </div>
</div>