<div class="card p-3 m-3" style="width: 18rem;">
<a href="/beers/beer-{{id}}">
  <img src="{{image_url}}" class="rounded mx-auto d-block" alt="{{name}}" height="200px">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i>"{{tagline}}"</i></li>
  </ul>
</a>
</div>