
    <article>
        <img src="{{image_url}}" href="beers/beer/{{this.id}}" />
       
            <p>Name: {{name}}</p>
            
            <p>Description: {{description}}</p>
            <p>Tagline: {{tagline}}</p>
   
    </article>
