
<div class="col-md-4">
  <div class="card">
    <div class= "card-img-beer">
        <img src="{{this.image_url}}"/>
    </div>
    <div class="card-body">
      <h5 class="beer-title"><a href="/beers/{{this.id}}">{{this.name}}</a> </h5>
      <p class="beer-tagline">{{this.tagline}}</p>
      <p class="beer-descr">{{this.description}}</p>
    </div>
  </div>
</div>