<div class='{{className}}-beer'>
  <div class='{{className}}--beer-img'>
    <a href='beer/{{this.id}}'><img
        src='{{this.image_url}}'
        alt='{{this.name}}'
      /></a>
  </div>
  <h2>{{this.name}}</h2>
  <div class='{{className}}--beer-tagline'>
    {{this.tagline}}
  </div>
  <div class='{{className}}--beer-description'>
    {{this.description}}
  </div>
</div>