<img src="{{beer.image_url}}" class="card-img-top">
<div class="card-body text-center">
  <a href= '/beers/{{beer.id}}'><h5 class="card-title">{{beer.name}}</h5></a>
  <p class="card-text">{{beer.description}}</p>
  <p class="card-text">{{beer.tagline}}</p>
</div>