<div class="card-group text-center">
    <div class="card">
        <img class="card-img-top image" src="{{image_url}}" alt="Card image cap">
        <div class="card-body">
            <a href="/beers/beer/{{id}}">
                <h5 class="card-title">{{name}}</h5>
            </a>
            <p>{{tagline}}</p>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>