  {{!-- <a href=''><img src='{{image_url}}' alt='poster for {{name}}' />
  </a> --}}
  <a href="/beers/{{id}}"><img src={{image_url}} alt=“”></a>
  <h2>
    {{name}}
  </h2>
  <p>
    {{description}}
  </p>
  <p class='font-italic'>
    {{tagline}}
  </p>