<div id="partial-container">
    <div id="partial">
        <img id="partial-img" src="{{image_url}}" alt="{{name}}">
        <div id="partial-body">
            <p id="partial-name">{{name}}</p>
            <p id="partial-description">{{description}}</p>
            <p id="partial-tagline">{{tagline}}</p>
        </div>
    </div>
</div>

