<div>
    <p>       
        <img src="{{this.image_url}}" alt="Beer">    
    </p>
    <a href="/beers/{{this.id}}">{{this.name}}</a>
    <p>Tagline: {{this.tagline}}</p>
    <p>Description: {{this.description}}</p>
</div>