{{!-- <div class="container">
  
    <div class="img">
        <img src="{{image_url}}" alt="beer image" >
    </div>
    <div class="text">
        <h5>{{name}}</h5>
        <p class="tag">{{tagline}}</p>
        <p>{{description}}</p>
    </div>    
  
</div>
 --}}
  <div class="img">
  <img src="{{image_url}}" alt="beer image" >
  </div>
  <h5><a href="/beers/{{id}}">{{name}}</a></h5>
  <p class="tag">{{tagline}}</p>
  <p>{{description}}</p>
