<link rel="stylesheet" href="stylesheets/beerpartial.css">

    <a href="/onebeer{{id}}"><h2>{{name}}</h2></a>
    <p>{{description}}</p>
    <img src="{{image_url}}" alt="">
    <span>{{tagline}}</span>