
    <div>
        <img id="img" src="{{this.image_url}}" alt="image-beer">
    </div>

    <a href="/beers/{{this.id}}"><h2> {{this.name}}</h2></a>
    
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    



