  
  <img src="{{this.image_url}}" width="100px" alt="beer pic">

  <p>{{this.name}}</p> <br>
  <span>{{this.tagline}}</span> <br>
  <p>{{ this.description }}</p> <br>

{{!--<p>food pairing: <b> <br>{{beer.food_pairing}}</b></p> --}}