<div class="col-md-4">

    <div class="card beers-cards">
        <img src="{{image_url}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <h4 class="card-tagline">{{tagline}}</h4>
        </div>
    </div>
</div>