{{!-- <a href="/beers/{{id}}">
    <h4>{{name}}</h4>
</a>

<p>{{description}}</p>
<img src='{{image_url}}' class='beerImg'>
<p>{{tagline}}</p> --}}


<div class='card'>
  <img class="card-img-top imgPartial" src="{{image_url}}" alt="Card image cap">
  <div class="card-body">
    <article class="card-text">
        <a href="/beers/{{id}}">
            <h4>{{name}}</h4>
        </a>
        <p>{{tagline}}</p>
        <p>{{description}}</p>
        
    </article>
  </div>
</div>