<div class='container'>
  <div class='wrapper'>
    <div class='beer-img'>
      <img src='{{this.image_url}}' alt='{{this.name}}' />
    </div>
    <div class='beer-info'>
      <h2>{{this.name}}</h2>
      <p>{{this.description}}</p>
      <p>{{this.tagline}}</p>
    </div>
  </div>
</div>