

  <div class="card">
    <div class="card-image">
        <img class="card-img" src="{{this.image_url}}" alt="{{this.name}} image"/>
    </div>
    
    <div class="card-body">
      <h5>{{this.name}}</h5>
      <p>{{this.abv}}% {{this.ibu}}IBU</p>
      <p>Released: {{this.first_brewed}}</p>
      <p>{{this.tagline}}</p>
    </div>
  </div>

