
    <img src="{{image_url}}" alt="beer image" id="beer-img">
    <div>
        <a href="/beers/beer-{{id}}" id="beer-name">{{name}}</a>
        <br>
        <p class="margin-t">{{description}}</p>
        <br>
        <p><strong>Tagline : {{tagline}}</strong></p>
    </div>



