<div class="card" style="width: 18rem;">


    <div class="card-body">


        <a href="../beers/{{id}}">
            <img src={{image_url}} alt="{{name}}" class="card-img-top">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>

        </a>
    </div>
</div>