
<body>
<div class="contain">
 <img class="images" src= {{this.image_url}}> </img>
<article>
 <a class= "link" href="/beers/beer-{{this.id}}">{{this.name}}</a> 

 <p>
 {{this.description}}<br>
 </p>
 <p>
 {{this.tagline}}
</p>
</article>
</div>
 
 </body>
    

   