<div class="beer">
    <img src="{{ image_url }}" alt="{{ name }}" class="image">
    <a href="/beers/{{id}}" title="{{name}}">
        <p class="name">{{ name }}</p>
    </a>
    <p class="tagline">{{ tagline }}</p>
    <p class="description">{{ description }}</p>
    <p class="food-pairing">{{ food-pairing }}</p>
    <p class="brewer-tips">{{ brewer-tips }}</p>

</div>