<div class="beer-img">
  <img src={{this.image_url}} alt="...">
</div>
<div class="beer-text">
  <a href="/beers/beer/{{this.id}}"><h5 class="beer-title">{{this.name}}</h5></a>
  <p class="beer-subtitle"><small>{{this.tagline}}</small></p>
  <p class="beer-description">{{this.description}}</p>
</div>