<div class='beer'>
<div class="beer-img">
  <a href='/beers/{{id}}'><img src='{{image_url}}' alt='beer-picture'/></a>
</div>
  <a href='/beers/{{id}}'><h2>{{name}}</h2></a>
  <h3>{{tagline}}</h3>
  <p>{{description}}</p>
</div>