<div class="beerInfo">
    <a href="/beers">
        <img src="{{image_url}}" alt="Image for {{name}}">
    </a>
    <div class="beer-details">
        <h3>{{name}} {{first_brewed}}</h3>
        <p>The Beer is described as: {{description}}</p>
        <p>Known For : {{tagline}}</p>
        <p>ABV: {{abv}}</p>

    </div>
</div>