{{#each beer}}
<li class="beer">
    <a href="/beers/beer-{{this.id}}"><img class="beer-img" src="{{this.image_url}}" alt="{{this.name}}"></a>
    <a href="/beers/beer-{{this.id}}">
    <div class="beer-details"><h2 class="title">{{this.name}}</h2>
    </a>
    <p class="tagline">{{this.tagline}}</p>
    <p class="description">{{this.description}}</p>
    
    </div>
</li>
{{/each}}