<div class="card" >
    <a href="beers/{{id}}"><img class="card-img-top" src="{{image_url}}" alt=""></a>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5><h6>{{tagline}}</h6> 
        <p class="card-text">{{description}}</p>
    </div>
</div>