<p> 
  <img src="{{this.image_url}}" width="100px" alt="beer pic"> 
</p>
  
<p> 
  <span style="color: black;font-weight:bold;font-size:xx-large"> {{ this.name }} </span> 
</p> 

<p> tagline: 
  <br> <span style="color: black;font-weight:bold"> {{ this.tagline }} </span> 
</p> 

<p> description: 
  <br> <span style="color: black;font-weight:bold"> {{ this.description }} </span> 
</p> 

<p> first brewed in: 
  <br> <span style="color: black;font-weight:bold"> {{ this.first_brewed }} </span> 
</p>







