{{!-- image, name, description, and tagline of the beer --}}


<div class="col-md-4">
    <div class="card beer-card">
        <img class="card-img-top" src="{{image_url}}" alt="{{name}}">  
        <div class="card-body">
            <a href="/beers/{{id}}">
                <h5 class="card-name">{{name}}</h5>
            </a>
            <p class="card-text">{{description}}</p>
            <p class="card-text">{{tagline}}</p>
        </div>    
    </div>
</div>
