<div class="container">
   <div class="row">
   <div class="card">
     <img alt="{{name}}" src="{{image_url}}" />
         <div class="card-body">
         <h3 class="card-title">{{name}}</h3>
           <h5 class="tagline">{{tagline}}</h5>
           <p class="description">{{description}}</p>
         </div>
     </div>
   </div>
 </div>