<div class='beers'>
  <img src='{{image_url}}' alt='{{name}}' />

  <p class='name'><a href='/beers/{{this.id}}'>{{name}}</a></p>
  <p class='tagline'>{{tagline}} </p>

  <p class='desc'>{{description}} </p>

</div>
