
<div class="col-md-4">
    <article>
        <img src="{{image_url}}" alt="{{name}}">
        <div>
            <a href="/beers/{{id}}"><h3>{{name}}</h3></a>
            <p>{{description}}</p>
            <p>{{tagline}}</p>

        </div>
    </article>

</div>



