<div>
    <div class="card" style="width: 18rem;">
        <img src="{{ image_url }}" class="beer-image card-img-top" alt="beer image">
        <div class="card-body">
            <h5 class="card-title">
                <a href="/beers/{{id}}">{{ name }}</a>
            </h5>

            <p class="card-text">{{ description }}</p>
            <p class="card-text">{{ tagline }}</p>
        </div>
    </div>
</div>