<div class="card">
    <div class="imgholder">
        <img src="{{this.image_url}}" alt="{{this.name}}">
    </div>
    <div class="container">
        <h4><b>{{this.name}}</b></h4>
        <p class="muted">{{this.tagline}}</p>
        <p>{{this.description}}</p>
    </div>
</div>