       <a href="/beers/beer-{{id}}">
            <img src="{{image_url}}" alt="{{name}}" class="beersImgs">
       </a>
                <h5>{{name}}</h5>
                <h6>{{tagline}}</h6>
                <p>{{description}}</p>