<div class="beers-container">
        <div class="beers-row">
            <div class="beers-item">
                <div class="beer-image">
                    <img src="{{this.image_url}}" alt="{{this.name}}">
                </div>
            </div> 
            <div class="beer-details">
                <h3><em>{{this.name}}</em></h3>
                <p>{{this.description}}</p>
                <p>{{this.tagline}}</p>
            </div>
       </div>
</div>
