<div class="one-beer">
    <div class="image-container">
        <img src="{{image_url}}" alt="{{name}}">
    </div>
    <div class="info-container">
        <h2 class="name">{{name}}</h2>
        <h3 class="tagline">{{tagline}}</h3>
        <p class="description">{{description}}</p>
    </div>
</div>