<a href="/beers/beer-{{this.id}}"><h4>{{this.name}}</h4>
<h5>{{this.tagline}}</h5>
<p>{{this.description}}</p>
<img src="{{this.image_url}}"/></a>


{{!-- 
decided to practice standard css instead of bootstrap --}}
{{!-- 
             <div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{this.image_url}} alt="Beer Image">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <h5 class="card-title">{{this.tagline}}</h5>
    <p class="card-text">{{this.description}}</p>
  </div> --}}
