    <div>
    <img src="{{image_url}}" alt="" class="image-div"/>
    </div>
    <div>
      <a href="/beers/{{id}}"><h1>{{name}}</h1></a>
      <p>{{description}}</p>
      <h5>{{tagline}}</h5>
    </div>