<div class='card'>

  <img src='{{this.image_url}}' height='70px' />
  <p>{{name}}</p>
  <p>{{description}}</p>
  <p>{{tagline}}</p>

</div>

{{!-- <div class='card'>
  
  <a href='/beers/{{id}}'>
    <img src='{{this.image_url}}' height='100px' />
  </a>
  <p>{{name}}</p>
  <p>{{description}}</p>
  <p>{{tagline}}</p>

</div> --}}