
    <div class="beers-container">
        <div>
            <a href=""><img src="{{image_url}}" alt="{{ name }}"></a>
        </div>
        <div class="text-container2">
            <h1>{{this.name}}</h1>
            <h2>{{this.tagline}}</h2>
            <p>{{this.description}}</p>
            <a style="color: #f0762b; font-weight: bolder;" href="/id-beer{{id}}">{{this.name}}</a>
        </div>
    </div>