<a href="/beers">
	<img class="beer-images" src="{{image_url}}" alt="Image for {{name}}">
</a>
<h2>
	{{name}}
</h2>

<p>
    {{tagline}}
<p>

<div class="description">
	<p>
		Description: {{description}}
	</p>
</div>	




