<article class="col-md-6 col-lg-4">

    <div class="card-body">

        <a href="/beers/{{this.id}}">
            <img src="{{this.image_url}}" alt="{{this.name}} beer">
        </a>

        <h2>{{this.name}}</h2>
        <hr>
        <h3>{{this.tagline}}</h3>
        <p>{{this.description}}</p>

    </div>

</article>