
<div class="beerCard">

<a href="/beer/{{this.id}}">
<img class="beer-img" src="{{this.image_url}}" alt="a cold beer">
<h1 class="beer-name">{{this.name}}</h1>
<p class="beer-description">{{this.description}}</p>
<p class="beer-tagline">{{this.tagline}}</p>
</a>

</div>
