   <div class='beers'>
        <div class='beerimg'>
              <a href='/singlebeer/{{id}}'>
              <img src={{image_url}} id='beer-bottle'></a>
        </div>
         <div class='beer-container'>
              <h1>{{name}}</h1>
              <p>{{description}}</p>
              <p id='tag'>{{tagline}}</p>  
         </div>
      </div>
   
    