<div class="card">
    <div class="card-top">
        <img src="{{image_url}}" alt="{{name}}" class="beerImage">
    </div>
    <div class="card-body">
        <a href="/beer/{{id}}"><h2 class="beer-title">{{name}}</h2></a>
        <p class="beer-description">{{description}}</p>
        <p class="beer-tagline">{{tagline}}</p>
    </div>
</div>
