<div class="card mb-3 p-3" style="max-width: 540px;">
    <div class="row g-0 justify-content-around align-self-center">
        <div class="col-md-5 beer-img mx-2">
            <img src="{{image_url}}" class="img-fluid rounded-start mx-3" alt="{{name}}">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-title my-3">{{tagline}}</p>
                <p class="card-text my-2">{{description}}</p>

            </div>
        </div>
    </div>
</div>