  <div class="card" style="width: 18rem;">
    <img src="{{this.image_url}}" class="card-img-top" alt="{{this.name }} image">
    <div class="card-body">
      <p class="card-text">{{this.name}}</p>
      <p class="card-text">{{this.description}}</p>
      <p class="card-text grey">{{this.tagLine}}</p>

    </div>
  </div>