
    <img src="{{image_url}}" class="card-img-top" alt=`{{name}} photo` />
    <div class="card-body">
        <a href="/beer-info/{{id}}"><h5 class='card-title'>{{name}}</h5></a>
        <p class='card-text'>{{description}}</p>
    

