<img src='{{this.image_url}}' alt='{{this.name}}' />

<div class='description-container'>
  <a href='/beers/beer-{{this.id}}'>{{this.name}}</a>
  <h5>{{this.tagline}}</h5>
  {{!-- <h1>{{this.name}}</h1> --}}

  <p>{{this.description}}</p>
</div>