
     {{#if image_url}}
    <img src="{{image_url}}" alt="{{name}}" />
    {{else}}
    <p>no image exist</p>
    {{/if}}
    <a href="../../beers/beer/{{id}}"><h3>{{name}}</h3></a>
    <p>{{description}}</p>
    <p>{{tagline}}</p>