<div class="cover">
        <div id="beerApi">
            <div >
                <a href="{{id}}"><img src="{{image_url}}" width="30px" height="50px"></a>
            </div>
            <div class="beer-description">
                <h3 class="uk-card-title">{{name}} {{description}}</h3>
                <p>{{tagline}}</p>
              </div>
        </div>
</div>