
    <div class="beerPartial">
        <img src="{{this.image_url}}" alt="beer-img" class="beer-imgs">
        <a href="/beers/{{this.id}}" class="beerLink">{{this.name}}</a>
        <p class="tagline">{{this.tagline}}</p>
        <p class="description">{{this.description}}</p>
    </div>