

<article>
        
    <div id="beerdiv">
            
            
            <img class="img-beers" src="{{this.image_url}}" alt="{{this.name}}">
    
            <h1 class="text-justify"> {{this.name}}</h1>
            <h4>{{this.tagline}}</h4>
            <p>{{this.description}}</p>
    </div>
                        
</article>
            
       
            





