<div class="box-beer">
    <div>
        <a href="/beer/{{id}}">
            <img src="{{image_url}}" alt="" class="beer-image">
        </a>
    </div>
    <div>
        <a href="/beer/{{id}}"><h5>{{name}}</h5></a>
        <p class="tagline">{{tagline}}</p>
        <p>{{description}}</p>
    </div>
</div>