<div class="col-md-4">
  <div class="card">
    <div class = "beermage">
      <img class="card-img-top" src="{{this.image_url}}" alt="{{this.name}}"/>
    </div>
    <div class="card-body">
      <a href="/beers/{{this.id}}"><h5 class="card-title">{{this.name}}</h5></a>
      <p class="card-description">{{this.description}}</p>
      <p class="card-tagline">{{this.tagline}}</p>
    </div>
  </div>
</div>