<div class="col-md-4">
    <div class="card">
       <img src="{{image_url}}" class="card-img-top" alt="{{name}}">
       <div class="card-body">
           <h5 class="card-title"><a href="/beers/{{id}}">{{name}}</a></h5>
            <p class="card-text"><small class="text-muted">{{tagline}}</small></p>
            <p class="card-text">{{description}}</p>
     </div>

    </div>
</div>