<article class="parcial-flex">
    <div>
        <img src="{{image_url}}" alt="beer" class="partial-img" />
    </div>
    <div class="box-partial">
        <a class="partial-name" href="/beers/{{id}}">{{name}}</a>
        <p class="partial-text"> {{description}} </p>
        <p class="partial-text"> {{tagline}} </p>
    </div>
</article>