<div class='beer-container'>
            <div>
            <img class='beer-imgs' src="{{this.image_url}}" alt="image">
            </div>
            <div>
                <h1>{{this.name}}</h1>
                <h6>{{this.tagline}}</h6>
                <p>{{this.description}}</p>
                <h3>Food Pairing</h3>
                <ul>
                    {{#each food_pairing}}
                    <li>
                        {{this}}
                    </li>
                    {{/each}}
                </ul>
            </div>

        </div>