<img class="card-img-top mx-auto d-block" src="{{image_url}}" alt="beer {{name}}" />

<div class="card-body">
    <a href="/beers/beer-{{id}}">
        <h5 class="card-title"><b>{{name}}</b></h5>
    </a>
    <h6 class="card-title tagline"> {{tagline}}</h6>
    <p class="card-text">{{description}}</p>
</div>