<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div>
  {{#each beers}}
      <a href = "/beers/beer-{{id}}"> <img src="{{this.image_url}}"></a>
          <h1>{{this.name}}</h1>
            <span>{{this.tagline}}</span>
            <p>{{this.description}}</p>
  {{/each}}
</div>    
</body>
</html>