<article>
        <img src="{{this.image_url}}" alt="beer-picture">
    <div>
        <a href="/beers/{{this.id}}"><h3>{{this.name}}</h3></a>
        <h4>{{this.tagline}}</h4>
        <p>{{this.description}}</p>
    </div>
</article>