<div class="card">
    <a href="/beers/beer-{{this.id}}">
        <div class="card-top">
            <img src="{{this.image_url}}" alt="" class="">
        </div>
        <div class="info">
            <h2>{{this.name}}</h2>
            <p class="info-tag">{{this.tagline}}</p>
            <p>{{this.description}}</p>
        </div>
    </a>
</div>