<div class="product-detail">
    <div class="product-image">
        <img src="{{randomItem.images.[1]}}" alt="{{randomItem.title}}">
    </div>
    <div class="product-text">
        <h2>{{randomItem.title}}</h2>
        <h3>{{randomItem.brand}}</h3>
        <p>{{randomItem.description}}</p>
        <h4>User Reviews</h4>
        <p>{{randomItem.rating}}</p>
        <h4>Price</h4>
        <p><strong>{{randomItem.price}}</strong> Euroes</p>
        <p><strong>{{randomItem.discountPercentage}}%</strong> off!</p>
    </div>
</div>