<div class="beer-list">
    <img class="img-beer" src="{{ this.image_url }}" />
    <!-- <h2>{{ this.name }}</h2> -->
    <a href="/beer/{{ this.id }}">{{ this.name }}</a>
    <p>{{ this.description }}</p>
    <p>{{ this.tagline }}</p>
</div>