<article class="beerCards">
    <img class="card-img-top mx-auto" src="{{image_url}}" alt="{{name}}">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-tagline">{{tagline}}</p>
</article>