{{#each beersArray}}

<div class="beerscontainer">
<div class="beers-content">
    <div>
        <img id="beerspage-img" src="{{image_url}}" alt="poster for {{name}}">
    </div>
    <div>
        <h1>{{name}}</h1>
        <h5>"{{tagline}}"</h5>
        <p>{{description}}</p>
        
    </div>
</div>
</div>

{{/each}}