<div class="col-md-4 beer-card">
    <div class="left">
        <img src="{{image_url}}" alt="{{name}}">
    </div>
    <div class="right">
        <h2><a href="beers/beer-{{id}}">{{name}}</a></h2>
        <p>{{tagline}}</p>
        <p>{{description}}</p>
    </div>
</div>