<article class="col-md-4 col-lg-4">
        <div class="card-body" >
        <a href="/random-beer">
            <img class="card-img-top" src="{{this.image_url}}" alt="{{this.name}}"/>
        </a>
        <hr>
        <h5 class="beer-title">{{this.name}}</h5>
        <p class="beer-text">{{this.tagline}}</p>
        <p>{{this.description}}</p>
    </div>
</article>