   <div class="beer__box">
       <div class="imagebox">
            <img src="{{image_url}}" alt="Image for {{name}}" class = "beerimg">    
       </div>
        <h1>
            {{name}}
        </h1>
        <h2>
            {{tagline}}
        </h2>
        <p>
            {{description}}
        </p>
    </div>
   