<div class="beer-card">
    <img class="beer-image" src="{{image_url}}" alt="beer-img">
    <span class='beer-details'>

        <h2 class='beer-name'><a class="card-link" href="/beers/{{ id }}">{{ name }}</a></h2>
        <p class="beer-tagline">{{tagline}} </p>
        <p class="card-description">{{ description }}</p>
    </span>
</div>