
  <div class="beer_partial">
 <img src ={{this.image_url}} alt ={{this.name}} class ="random_beer-picture">
  <h3>{{this.name}}!!</h3>
  <h3>{{this.description}}</h3>
  <h3{{this.tagline}}></h3>

  </div>

  