{{!-- <div>
    <ul>
  {{#each beers}}
    <li>{{this.name}}</li>
    <li><img src="{{this.image_url}}"/></li>
     <li>{{this.description}}</li>
      <li>{{this.tagline}}</li>
  {{/each}}
</ul>
</div> --}}

<article class="beerpartial">
  <div>
    <ul>
    <li>{{this.name}}</li>
    <li><img src="{{this.image_url}}"/></li>
     <li>{{this.description}}</li>
      <li>{{this.tagline}}</li>
    </ul>
  </div>
</article>