<div class="card">
<div>
    <img src="{{this.image_url}}" alt="{{this.name}}">
    <div class="card-body">
      <h5 class="card-title"><b>{{this.name}}</b></h5>
      <p class="card-text"><small class="text-muteTd">{{this.tagline}}</small></p>
      <p class="card-text">{{this.description}}</p>
    </div>
  </div>
</div>