<div class="beerCard flex align-center">
  <a href="/beers/{{this.id}}">
    <img class="thumbnail" src="{{this.image_url}}" width="160px">
  </a>
  <div class="summary">
    <h2>{{this.name}}</h2>
    <h3>{{this.tagline}}</h3>
    <p>{{this.description}}</p>
  </div>
</div>
