<div class='col-md-3'>
    <article class='card'>


        <div class='card-body'>
            <img src='{{image_url}}' alt='' />

            <a href='/beers/{{id}}'>
                <h4>Name: {{name}}</h4>
            </a>
            <p>Tagline:{{tagline}} </p>
            <p>Description: {{description}}</p>
        </div>

    </article>
</div>