
<div class="col-md-3 mb-4 pb-4">
  <div class="card border-white" style="width: 18rem;">
    <img class="imgBeers mx-auto" src="{{image_url}}" alt="{{name}}" width="30%"/>
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text"><small class="text-muted">{{this.tagline}}</small></p>
      <p class="card-text">{{this.description}}</p>
    </div>
  </div>
</div>

