<div>
  <a class="card-link" href="/getbeer/{{id}}">
  <div class="card">
    <img
      class="card-img-top"
      src={{this.image_url}}
    />
    </a>
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <h6 class="tag-line">{{this.tagline}}</h6>
      <p class="card-text">{{this.description}}</p>
    </div>
  </div></a>
</div>
