<article class="col-4">
    <a href="/random-beers/beer-{{id}}">
    <div class="beer-img">
        <img src="{{image_url}}" alt="{{name}}">
    </div>
    </a>
    <h2 class="beer-name">{{name}}</h2>
    <p class="text-muted">{{tagline}}</p>
    <p>{{description}}</p>


</article>