<div class="beer-partial-box">
  <img class="beer-img" src="{{image_url}}" alt="{{name}}">
  <p class="beers-name">{{name}}</p>
  <p class="beers-tag">{{tagline}}</p>
  <p class="beers-description">{{description}}</p>
</div>
