<!--Iteration 5 beerpartial.hbs-->
<img src="{{image_url}}" alt="{{name}} beer image">
<h3>{{name}}</h3>
    <h3>Tagline</h2>
        <p {{tagline}}</p>
    <h3>Description</h2>
         <p>{{description}}</p>
