
<div class="beers-card">
    <img src="{{image_url}}" alt="Image to beer: {{name}}">
    <h2><a href="beer/{{id}}">{{name}}</a></h2> 
    <p>{{tagline}}</p>
    <p>Description: {{description}}</p>
</div>

