{{#if this.image_url}}
<img src = '{{this.image_url}}'/>

{{#if}}
<div class = "beer-inner">
    <h3><a href = "/beers/{{this.id}}">{{this.name}}</a></h3>
    <h5>{{this.tagline}}</h5>
    <p>{{this.description}}</p>
</div>
