<div class="container d-flex my-5">
    <div class="mx-5">
        <a href="/beers/{{this.id}}">
            <img src="{{this.image_url}}" alt="{{this.tagline}}">
        </a>
    </div>
    <div>
        <h2>{{this.name}}</h2>
        <h4>{{this.tagline}}</h4>
        <p>{{this.description}}</p>