<div class="container">
    <div class="row">
        <div class= "col-4 align-item-center">

        <img src="{{image_url}}" alt="{{name}}" class="beers">
        <h2>{{name}}</h2>
        <h5>{{tagline}}</h5>
        <h3>{{description}}</h3>
        </div>
    
    </div>
</div>