<div class="container-img"><img class="beer-img" src="{{image_url}}"></div>
    <div>            
        <h2><a href="/beers/{{id}}"> {{name}}</a></h2> 
        <p>{{tagline}}</p>
        <p>{{description}}</p> 
    </div>
