<div>
  <div class='card'>
    <a href='{{id}}'><img src={{image_url}} alt={{name}} /></a>
    {{!Inside the block, you can use this to reference the element we are iterating. }}

    {{!-- nota que href {{this.id}} te manda a localhost http://localhost:3000/1 --}}
  </div>
  <div>
    <h3>{{name}}</h3>
    <p>{{description}}</p>
  </div>
  <p>{{tagline}}</p>
</div>