<section class="box">
	<div class="beer-box">
	<a href="/beers">
		<img class="beer-images" src="{{image_url}}" alt="Image for {{name}}">
	</a>
	<h2>
		{{name}}
	</h2>
	<h3>
		{{tagline}}
	</h3>
	<p>
		{{description}}
	</p>
</div>

</section>



