
    <a href="/beers/{{id}}"> 
    <div class="beer-card">

        <img src={{image_url}} alt ="{{name}}">
        <h2>{{name}}</h2>
        <p class="tag">{{tagline}}</p>
        <p>{{description}}</p>
    </div>
    </a> 

