<div>
  <a href="/beers/{{this.id}}"><img src="{{this.image_url}}" alt="{{this.name}}"></a>
</div>
<div class="beer-text">
  <h1>{{this.name}}</h1>
  <h6>{{this.tagline}}</h6>
  <p>{{this.description}}</p>