<div>
    <img src="{{this.image_url}}" alt="image of{{this.name}}" class="beer-img">
</div>
<div class="beer-text">
    <a href="/beers/beer-{{this.id}}" class="beer-name">{{this.name}}</a>
    <p class="beer-tag">{{this.tagline}}</p>
    <p class="beer-desc">{{this.description}}</p>
</div>