<div class="beer-info">
    <a href="/beers/{{this.id}}">
        <img src="{{this.image_url}}" alt="beer-image">
    </a>
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
</div>