{{#if this.image_url}}
<img class="beer-img" src="{{this.image_url}}" alt="{{this.name}}">
{{else}}
<img class="beer-img" src="/images/beer.png" alt="placeholder: No image available">
{{/if}}
<h1><a href="/beers/beer-{{this.id}}">{{this.name}}</a></h1>
<p>{{this.tagline}}</p>
<p>{{this.description}}</p>