<h2>Name: {{name}}</h2>

<img src="{{image_url}}" alt="Beer">

<p>Description: {{description}}</p>


<p>Tagline: {{tagline}}</p>
{{!-- <ul>
  {{#each this.tagline}}
    <li>{{this}}</li>
  {{/each}}
</ul> --}}