{{#each this}}

<div class="beer-card">
    <a class="card-link" href="/beer/{{id}}">
        <img class="card-img" src="{{image_url}}" alt="{{name}}" srcset="">
    </a>
    <h2 class="card-title">{{name}}</h2>
    <h4 class="card-subtitle">{{tagline}}</h4>
    <p class="card-brewed"><b>First Brewed:</b> {{first_brewed}}</p>
    <p class="card-Description"><b>Description:</b> {{description}}</p>
</div>

{{/each}}