<a class="beer-link" href="/beers/{{this.id}}">
    <div class="beer-card">
        <img src="{{this.image_url}}" alt="{{this.name}}">
    </div>
    <div class="beer-text">
        <h2>{{this.name}}</h2>
        <p>{{this.description}}</p>
        <h3>{{this.tagline}}</h3>
    </div>
</a>