{{!-- <img src="{{image_url}}" class="card-img-top" alt="{{name}}"> --}}
<div class="card-body">
    <h3 class="card-title">{{name}}</h3>
    <p class="card-text">{{description}}</p>
    <h6 class="card-text">{{tagline}}</h6>

</div>