    <a href="/clicked-beer/{{id}}">
           <li><img src="{{image_url}}" alt="image of beer: {{name}} ">  </li> 
           <li>{{name}} </li> 
           <li>{{description}} </li> 
           <li>{{tagline}} </li> 
    </a>