
   <img src= {{ this.image_url }}/>
    <p>Name: {{ this.name }}</p>
    <p>Description: {{ this.description }}</p>
    <p>Tagline: {{ this.tagline }}</p>
    <p>food_pairing: {{ this.food_pairing }}</p>
    <p>brewers_tips: {{ this.brewers_tips }}</p>
  