<div class="col-md-3">
    <article class="card">
        <img src = "{{image_url}}" alt = "beer image">
         {{name}}
         {{description}} 
         {{tagline}}
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <hr>
            <p class="card-text">{{beers}}</p>
        </div>
    </article>
</div>