<div class="beer-card">
    <a href="/beers">
        <img src="{{image_url}}" alt="Image for {{name}}">
    </a>
    
    <div class="beer-details">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
    </div>
</div>