<div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <a href="{{id}}"><img src="{{image_url}}" alt=""></a>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{name}} {{description}}</h3>
                <p>{{tagline}}</p>
              </div>
        </div>
</div>