<div class="beer">
  <img src="{{this.image_url}}" alt="{{this.name}}">
  <a href="/beers/beer-{{this.id}}">
    <h2>{{this.name}}</h2>
  </a>
  <span>{{this.tagline}}</span>
  <p>{{this.description}}</p>
</div>