<img src={{this.image_url}} alt='beer image' class='beer-img' />
<a href='/beers/beer-{{this.id}}'>
    <h2 class='beer-name'> {{this.name}} </h2>
</a>
<p class='beer-tagline'> {{this.tagline}} </p>
<p class='beer-description'> {{this.description}} </p>