<div class="col-4 d-flex flex-column align-self-center">
            {{#if image_url}}
            <img id="beer-image" src="{{image_url}}" alt="a beer" class="align-self-center">
            {{else}}
            <img id="beer-image" src="/images/beer.png" alt="beer placeholder" class="align-self-center">
            {{/if}}  
      <h5><a href="/beer/{{id}}">{{name}}</a></h5>
      <p class="card-text blockquote-footer">{{tagline}}</p>
      <p class="card-text">{{description}}</p>   
</div>