<div class="col-4">
    <article>

        <img src="{{image_url}}" alt="{{name}}" class="beer-img">

        <h2>{{name}}</h2>

        <p>{{description}}</p>

        <p>{{tagline}}</p>

    </article>
</div>