<div class="col-md-4">
    <div class="card beers">
        <img src="{{image_url}}" alt="{{name}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text">{{tagline}}</p>
            <a href="/beers/:id" class="btn">{{name}}</a>
        </div>
    </div>
</div>