<picture>
    <img src="{{this.image_url}}" alt="{{this.name}}">
</picture>
<h3 class="beer-name">
  <a href="/beers/beer-{{this.id}}">{{this.name}}</a>
</h3>
<p class="beer-tagline">{{this.tagline}}</p>
<p class="beer-description">{{this.description}}</p>