<div class="col-md-4">

    <article class="beer picture">
        <a href="/beers/beer-i3f4d34s34b"> <img src="{{image_url}}" class="beer-img" alt="{{beer-img}}"> </a>
        <div class="beer-body">
            <h5 class="name-title">{{name}}</h5>
            <p class="tagline-text">{{tagline}}</p>
            <p class="description-text">{{description}}</p>
    </article>

</div>