<section id="main-container">
            <div class="container-img">
                <img src="{{this.image_url}}" alt="img-beers" width="150px">
            </div>
            <div>
                <h3><a href="/beers/{{this.id}}">{{this.name}}</a></h3>
                <h4 id="tagline">{{this.tagline}}</h4>
                <p>{{this.description}}</p>
            </div>
</section>

