<div class="col-sm-12 col-md-6 col-xl-4 col-offset-2 spacing">
    <a href="/beers/{{this.id}}">
    <img src={{this.image_url}} class="card-img-top" alt="...">
    </a>
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.tagline}}</p>
    <p class="card-text">{{this.description}}</p>
</div>