<article class="col-md-3 col-lg-6 card-group">

    <div class="card row text-center align-items-center beer">

        <a href="/beers/{{id}}"><img src="{{image_url}}" class="card-img-top beer-img" alt="{{name}}"></a>
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text"><i>{{tagline}}</i></p>
        </div>
        
    </div>

</article>