<div class="col-4">
    <article class="beer-card">
        <a href="/beer-{{id}}">
            <img src="{{image_url}}" alt="{{name}}">
            <h4>{{name}}</h4>
        </a>
        <h5>"{{tagline}}"</h5>
        <hr>
        <p>{{description}}</p>
    </article>
</div>