<div class="beers">
  <ul>
    <div>
      <img class="img-beers" src="{{this.image_url}}"/>
      <div class="li-beers">
      
      <li class="name-of-beer">{{this.name}}</li> 
        <br>
        <li class="tag-line">{{this.tagline}}</li>
        <br>
        <li>{{this.description}}</li>
        <br>
         <h2>Food Pairing</h2>
        <br>
        <ul>
          <li>{{this.food_pairing}}</li>
          </ul>
       </div>
    </div>
      
 
  </ul>
</div>

