<div class="beer-img">
    <img src="{{image_url}}" alt="This is a picture of {{name}}">
</div>
<div class="beer-info">
    <h2>{{name}}</h2>
    <div class="tagline">{{tagline}}</div>
    <div class="description">{{description}}</div>