<hr>

<a href="/beer/{{this.id}}">
    <li>
        <p>
            {{this.name}}
        </p>
        <p>
            {{this.tagline}}
        </p>
        <p>
            {{this.description}}
        </p>
        <img src="{{this.image_url}}" alt="">

    </li>
</a>