<div>
    <div>
        <img src="{{image_url}}" alt="{{name}}">
    </div>
    <div>
        <h1><a href="/beers/{{id}}">{{name}}</a></h1>
        <p> {{tagline}}</p>
        <p>{{description}}</p>
    </div>

</div>