<div class="card-group col-sm-4">
    <div class="card" style="width: 18rem;">
        <a href="beers/beer/{{this.id}}">
            <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
        </a>
        <div class="card-body">

            <h5>{{name}} </h5>

            <p class="card-text">{{ description }}</p>
            <p class="tagline">{{ tagline }}</span>

        </div>
    </div>
</div>