<div class="card" style="width: 1200px;">
    <div class="row">
        <div class="col-md-4">
            <img src="{{image_url}}" class="img-fluid rounded-start" alt="Beers image">
        </div>
        <div class="col-md-4">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{tagline}}</p>
            <h6 class="card-title">Description</h6>
            <p class="card-text"><small class="text-muted">{{description}}</small></p>
            <h6 class="card-title">Food</h6>
            <p class="card-text"><small class="text-muted">{{food_pairing}}</small></p>
            <h6 class="card-title">Tips</h6>
            <p class="card-text"><small class="text-muted">{{brewers_tips}}</small></p>
        </div>
        </div>
    </div>
</div>

