
    <img src="{{this.image_url}}" alt="this should be an image of how {{this.name}} looks like!">
    <a href="/beer/{{this.id}}"><H3>{{this.name}}</H3></a>
    <H5>{{this.tagline}}</H5>
    <p>{{this.description}}</p>
    
