<div class="beer-card">
    <img src="{{this.image_url}}" alt="beer image">
    <h3>{{this.name}}</h3>
    <p>{{this.tagline}}</p>
    <p>{{this.description}}</p>
    <a href="/beers/{{this.id}}">Check this beer out!</a>
</div>