<div class="col-md-4">
  <img class="beer" src="{{ image_url }}" alt="Beer"/>
  <div class="card-body">
    <h5 class="card-title"><a href="/beers/{{id}}">{{ name }}</a></h5>
    <p class="card-text">{{ tagline }}</p>
    <p class="card-text">{{ description }}</p>
  </div>
</div>