<article>
    <div class="card-body">
        <img class="card-img-top" src="{{image_url}}" alt="{{name}}" />

        <h3 class="card-title">{{name}} </h3>
        <h5 class="card-text">{{tagline}}</h5>
        <p>{{description}}</p>
    </div>
</article>