<div class="col-sm-4" id="partial">
    <div>
        <img src="{{image_url}}" alt="{{name}}">
    </div>
    <div id = 'text'>
        <a href="/beers/{{id}}"><h5>{{name}}</h5></a>
        <p>{{tagline}}</p>
        <p>{{description}}</p>
