<div class="col-md-4 justify-content-center">
    <div class="beer">
        <img class="img-beer" src="{{ image_url}}">
        <div class="beer-body">
            <p>{{name}}</p>
            <p>{{description}}</p>
            <p>{{tagLine}}</p>
            <p>{{food_pairing}}</p>
            <p>{{brewers_tips}}</p>
        </div>

    </div>
</div>