<div class="beer">
        <p>
            <img  class="image" src="{{image_url}}" alt="Image of {{name}}" height="50%">
        </p>
        <p>
            <h3>{{name}}</h3>
        </p>
        <p>
            {{tagline}}
        </p>
        <p>
            {{description}}
        </p>
</div>
