<div class="col-4 d-flex align-items-stretch">
    <div class="card">
        <div class="m-2">
            <img src="{{image_url}}" class="card-img-top object-fit-scale card-img" alt="{{name}}">
        </div>
        <div class="card-body">
            <h5 class="card-subtitle mb-2 text-muted">{{name}}</h5>
            <h6>{{tagline}}</h6>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>