{{#with this}}
<div class="beer">
    <img src="{{image_url}}" alt="img-beers">
    <div>
        <div class="description">
            <h2><strong>{{name}}</strong></h2>
            <p class="tagline">{{tagline}}</p>
            <p>{{description}}</p>
        </div>
        {{#if hasAdditionalInfo}}
        <div class="additional-info">
            <h3><strong>Food Pairing</strong></h3>
            <ul>
                <li>{{food_pairing.[0]}}</li>
                <li>{{food_pairing.[1]}}</li>
                <li>{{food_pairing.[2]}}</li>
            </ul>
            <h3><strong>Brewers Tips:</strong></h3>
            <p>{{brewers_tips}}</p>
        </div>
        {{/if}}
    </div>
</div>
{{/with}}