<div class="allBeers">
    <a href="/beer/{{this.id}}">
        
            <div>
                <img src="{{this.image_url}}" alt="">
            </div>
            <p>
                <b>{{this.name}}</b>
            </p>
    </a>
            <p class="tagLine">
                {{this.tagline}}
            </p>
            <p>
                {{this.description}}
            </p>

        
    
</div> 