     <img src="{{this.image_url}}" alt="{{this.name}} beer image">
    <a class="title-link" href="{{this.image_url}}"><h3>{{this.name}}</h3></a>
    <p class="tagline">{{this.tagline}}</p>
    <p>{{this.description}}</p>