<div class="beer">
    <img src="{{this.image_url}}">
    <h2>
        <a href="/beers/beer-{{this.id}}">{{this.name}}</a>
    </h2>
    <h5>
        {{this.tagline}}
    </h5>
    <p class="description">{{this.description}}</p>
</div>