<div class="col-md-4">
  <a class="card" href="/beers/{{this.id}}">
    <div class="containerImg">
        <img class="card-img-top" src="{{this.image_url}}" alt="{{this.name}}"/>
    </div>
    <div class="card-body">  
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.description}}</p>
      <p class="card-text-tagline">{{this.tagline}}</p>
    </div>
  </a>
</div>