<div class="col-md-4 ">
    <div>
        <div class=" beer-image  " style="width: 18rem;">
            <img src={{image_url}} class="card-img-top rounded mx-auto d-block" alt="{{name}}">
            <div class="card-body ">
                <h5 class="card-title">{{name}}</h5>
                <p class="color-grey">{{tagline}}</p>
                <p class="card-text">{{description}}</p>
                <a href="#" class="btn btn-dark">Ir a algún lugar</a>
            </div>
        </div>
    </div>
</div>