<div class="beer-partial-box">
  <a href="/beer/{{id}}"><img class="beer-img" src="{{image_url}}" alt="{{name}}"></a>
  <p class="beers-name">{{name}}</p>
  <p class="beers-tag">{{tagline}}</p>
  <p class="beers-description">{{description}}</p>
</div>
