<div class="col mb-6 ">
    <img src="{{this.image_url}}" height='300' alt="this.name" >
</div>
<div class="col ">
    <h2><a href="/beers/beer-{{this.id}}">{{this.name}}</a></h2>
    <p><em>{{this.tagline}}</em></p>
    <p>{{this.description}}</p>
</div> 