<div class="card col-md-4">
    <img src="{{image_url}}" class="card-img-top" alt="{{name}}">

    <div class="card-body">
        <h5 class="card-title" style="font-weight:bold">{{name}}</h5>
        <p class="card-text" style="color:darkgray; font-weight:bold">{{tagline}}</p>
        <hr>
        <p class="card-text">{{description}}</p>
    </div>
</div>