<div class="col-md-4">
    <div class="card beerCards">
        <a href="/zoom?{{name}}">
            <img src="{{image_url}}" class="card-img-top" alt="{{name}}">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>