    
      <div class='beers'>
      <div class='beerimg'>
            <img src={{image_url}} id='beer-bottle'>
      </div>
       <div class='beer-container'>
             <div class='list'>
                  <li><a id='beername' href='/singlebeer/{{id}}'>{{name}}</a></li> 
                  <li>{{description}}</li>
                  <li><p id='tag'>{{tagline}}</p></li>
            </div>
       </div>
      </div>
   

    