
        <div id="beer-card">
            <div id="beer-card-vert">
                    <p class="bold">{{name}}</p>
                    <p>{{tagline}}</p>
                    <p>{{description}}</p>
                <img id="beer-card-img"
                src={{image_url}}
                alt={{name}} />
            </div>
        </div>