<div class='beer-partial-container'>
  <div>
    <img src='{{image_url}}' alt='Image of {{name}}' class='beer-images' />
  </div>
  <div class='beer-general-info'>
    <h1>{{name}}</h1>
    <p id='beer-tagline'>{{tagline}}</p>
    <p id='beer-description'>{{description}}</p>
  </div>
</div>