
<body id="partial">
<div class="contain">
 <img class="images" src= {{this.image_url}}> </img>


 <a class= "link" href="/beers/beer-{{this.id}}">{{this.name}}</a> 

<div>
 {{this.description}}

 <span class="tag">
 {{this.tagline}}
</span>
</div>
 </div>
 </body>
    

   