<div>
	<div class="beerImg d-flex justify-content-center mb-4">
		<img src="{{image_url}}" alt="{{name}}">
	</div>
</div>
<div>
	<h5 class="card-title">{{name}}</h5>
	<p class="text-secondary"><small class="text-body-secondary">{{tagline}}</small></p>
	<p>{{description}}</p>
</div>