<div class="col-lg-6">
    <div class="card" style="width: 18rem;">
        <img src="{{image_url}}" alt="{{name}}" class="card-img-top">

        <h5 class="card-title">{{name}} </h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{tagline}}</p>

    </div>
</div>