    <div>

    <img src="{{image_url}}" alt="{{name}}" class="beer-imgs">

    <a href="/beers/beer-{{id}}"> <p class="name"> {{name}} </p> </a>

    <p class="description">{{description}} </p>

    <p class="tagline"> {{tagline}} </p>

    </div>