<div class="col-4">

    <div class="beer">
        <img class="beerImg" src="{{this.image_url}}" alt="{{this.name}}" />
        <h5><strong>{{this.name}}</strong></h5>
        <h6 class="beer-tagline"><em>{{this.tagline}}</em></h6>
        <p>{{this.description}}</p>        
    </div>

</div>