<img style="width: 140px; height: 180px; object-fit:scale-down;" src="{{this.image_url}}" alt="beer">
{{this.name}}
{{this.description}}
{{this.tagline}}
<a class="allA" href="/beers/beer-{{this.id}}">{{this.name}}</a>