    <div class="single-beer">
        <img src="{{this.image_url}}">
        <a href="/beers/{{this.id}}">
            <span>{{this.name}}</span>
        </a>
        
        <span>{{this.description}}</span>
        <span>Tagline: {{this.tagline}}</span>
    </div>