<div class="col-md-4">
  <div class="card">
    <img class="card-img-top" src="{{this.images.[0]}}" alt="{{this.name}}"/>
    <div class="card-body">
      <h5 class="card-title">
        <a href="/beer-detail-page?id={{this.id}}">{{this.title}}</a>
      </h5>
      <p class="card-text">
        {{this.brand}}
      </p>
      <p>
        {{this.description}} 
      </p>
    </div>
  </div>
</div>
