    <div class="beer"> 
          
        <a href="/beers/beer-{{id}}"><h1>{{name}}</h1></a>
        <div class="img-des">
            <img src="{{image_url}}" alt="">
            <p>{{description}}</p>
        </div>
        <h3>{{tagline}}</h3>
    </div>

