{{#with this}}
  <div class='card text-truncate'>
    <div class='card-body'>

      <img
        class='card-img-top'
        alt='Responsive image'
        src='{{image_url}}'
        alt='{{name}}'
        style='height: 15vh; width:auto'
      />
      <h2 class='card-title'><a href='/beer/{{id}}'>{{name}}</a></h2>
      <p class='card-text'>{{tagline}}</p>
      <p class='card-text'><small class='text-muted'>{{description}}</small></p>
      <h3>Food Pairing</h3>
      <p class='card-text'><small class='text-muted'>{{food_pairing}}</small></p>
      <h3>Brewer Tips</h3>
      <p class='card-text'><small class='text-muted'>{{brewers_tips}}</small></p>
    </div>
  </div>
{{/with}}