<div class="col-md-4">
    <a href="/beer/{{id}}"><img class="beerImg" src="{{image_url}}" alt="{{name}}"></a>
    <hr>
    <h2>{{name}}</h2>
    <p>{{tagline}}</p>
    <hr>
    <p>{{description}}</p>

</div>