<div>
    <img src="{{image_url}}" alt="image for {{name}}">
    <h2>
        <a href="beers/{{id}}">{{name}}</a>
    </h2>
    <p>
        {{description}}
    </p>
    <p>
        {{tagline}}
    </p>
</div>