<div class="col-md-4">
    <div class="beer">
        <img class="beer-img-top" src="{{image_url}}" alt="{{name}}" />
        <div class="beer-body">
            <h5 class="beer-title">{{name}}</h5>
            <p class="beer-tagline">{{tagline}}</p>
            <p class="beer-description">{{description}}</p>
        </div>
    </div>
</div>