<div class="img">
    <a href="/beers/beer-{{id}}"><img src={{image_url}} alt="Image of the beer" ></a>
</div>
<h3>{{name}}</h3>
<p class="tagline">{{tagline}}</p>
<p class="description">{{description}}</p>