  <div id="container-beer">
    <p>Nombre:{{this.name}}</p>
    <p>id: {{this.id}}</p>
    <p>Descripcion: {{this.description}}</p>
    <p>Tagline: {{this.tagline}}</p>

    <div id="img">
      img: 
      <img src="{{this.image_url}}" alt="">
    </div>
  </div>