    <img src="{{image_url}}" alt="{{name}} photo">
    <div class="beertext">
    <div class="name"> {{name}} </div>
    <div class="tagline"> {{tagline}} </div>
    <div class="description"> {{description}} </div>
