<a href="/beers/beer-{{id}}-{{randStr}}">
    {{name}}
</a>

<p> {{id}}</p>
<img src="{{image_url}}" height="200" width="150">
<h4>{{name}}</h4>
<caption>{{tagline}} </caption>
<aside> {{description}}</aside>