<div class="beer">
    <img class="beer-image" src="{{image_url}}" alt="{{image_url}}">
    <a href="/beers/beer{{id}}"><h2 class="beer-name">{{name}}</h2></a>
    <p class="beer-tagline">{{tagline}}</p>
    <p class="beer-description">{{description}}</p>
</div>