<div class="flex align center">
    <a href="beers/{{this.id}}"><img src="{{image_url}}" alt="{{name}}"></a>
    <div class="beers">
        <h2>{{this.name}}</h2>
        <h3>{{this.tagline}}</h3>
        <h4>{{this.description}}</h4>
    </div>
</div>