<a href="/beers/beer-{{this.id}}">
        <div class="item">
                <img src="{{this.image_url}}" alt="{{this.name}}" class="item-image">
                <p class="item-heading">{{this.name}}</p>
                <p class="item-tagline">{{this.tagline}}</p>
                <p class="item-description">{{this.description}}</p>

        </div>
</a>