<div class='card' style='margin-top: 50px;'>
  <a href='/beers/{{this.id}}'>
    <img class='card-img-top' src={{image_url}} alt='' />
    <div class='card-body'>
      <h3 class='h3' style='text-decoration: none; color:black'>{{name}}</h3>
      <p style='text-decoration: none; color:black'>{{description}}</p>
      <p style='text-decoration: none; color:black'>{{tagline}}</p>
    </div>
  </a>
</div>