

<div class="beer">
    <a class="beer-link" href="/beers/{{ beer.id }}">
        <img class="image" src="{{ beer.image_url }}" alt="beer img"/>
        <p class="name"> {{ beer.name }} </p>
        <p class="tagline">{{ beer.tagline }} </p>
        <p class="description">{{ beer.description }} </p>
    </a>
</div>
