<div class="partials-wrapper">

    <div class="partials-image">
        <img class="partials-beer-img" src="{{image_url}}" alt="{{name}}">
    </div>

    <div class="partials-content">
        <h2>{{name}}</h2>

        <p class="tagline">{{tagline}}</p>
        
        <p>{{description}}</p>
        

    </div>

</div>