<div class='col-md-4 .mp-2 globalCard'>
  <div class='card1'>
    <img class='card-img-top' src='{{this.image_url}}' alt='{{this.name}}' />
  </div>
  <div class='card-body'>
    <h5 class='card-title'>{{this.name}} </h5>
    <p class='card-text'>{{this.description}}</p>
    <p class='card-text'>{{this.tagline}}</p>
  </div>
</div>