            <div>
                <a href="/beerDetails/{{this.id}}"><img class="beerImage" src="{{this.image_url}}" alt="picture of beer"></a>
            </div>
            <div class="innerText">
                <h2>{{this.name}}</h2>
                <h3>{{this.tagline}}</h3>
                <p>{{this.description}}</p>
            </div>