<div class="container beer_container">
    <div class="beer_row row">
        {{#each theBeers}}
        <div class="beer_image col-md-3">
            <img src="{{this.image_url}}" alt="Photo of {{this.name}} beer.">
        </div>
        <div class="beer_text col-md-3">
            <a href="/beer-info/{{this.id}}"><h3 class="beer_name">{{this.name}}</h3></a>
            <p class="beer_description">{{this.description}}</p>
            <p class="beer_tagline">{{this.tagline}}</p>
        </div>
        <hr>
        {{/each}}
    </div>
</div>