<img src="{{image_url}}" class="beer-img-top" alt="{{name}}">
<div class="card-body">
    <h5 class="beer-title">{{name}}</h5>
    <p class="beer-text text-muted">{{tagline}}</p>
    <p class="beer-text">{{description}}</p>
</div>