<section>
  {{#if this.image_url}}
    <img src='{{this.image_url}}' alt='{{this.name}}' />
  {{/if}}

  <h1><a href="/beers/{{this.id}}">{{this.name}}</a></h1>
  <p>{{this.description}}</p>
  <p>{{this.tagline}}</p>
</section>