{{!-- To display single beer information and list all items in beers page --}}
<a href="/beers/{{this.id}}">
  <div>
    <img src="{{this.image_url}}" alt="{{this.name}}" />
    <h2>{{this.name}}</h2>
    <p class="tagline">{{this.tagline}}</p>
    <p>{{this.description}}</p>
  </div>
</a>

