<div class="d-flex card col-md-4 mb-3 p-3 border border-dark rounded-3 m-1" style="width: 20rem;">
    <img src="{{image_url}}" class="card-img-top beers-img" alt="{{name}}">
    <div class="p-3 bg-white border border-dark rounded-3 mb-1">
        <h2 class="card-title">{{name}}</h2>
        <h4 class="card-subtitle">{{tagline}}</h4>
        <p class="card-text">{{description}}</p>
    </div>
</div>
