{{#if this.image_url}}
<img src="{{this.image_url}}" alt="{{this.name}}">
{{else}}
<img src="/images/beer.png" alt="placeholder: No image available">
{{/if}}
<h1>{{this.name}}</h1>
<p>{{this.tagline}}</p>
<p>{{this.description}}</p>