<!-- views/partials/playerCard.hbs -->

{{!-- <div class="col-md-4">
  <div class="card">
    <img class="card-img-top" src="{{this.image_url}}" alt="{{this.name}}"/>
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <h5 class="card-title">{{this.tagline}}</h5>
      <p class="card-text">{{this.description}}</p>
      <p class="card-text"> {{this.food_pairing}}</p>
        <p class="card-text">{{this.brewers_tips}}</p>
    </div>
  </div>
</div> --}}

{{!-- <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{{this.image_url}}" class="card-img-top" alt="{{this.name}}">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        {{!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> --}}
      <h5 class="card-title">{{this.tagline}}</h5>
      <p class="card-text">{{this.description}}</p>
      <p class="card-text"> {{this.food_pairing}}</p>
        <p class="card-text">{{this.brewers_tips}}</p>
      </div>
    </div>
  </div>
</div> --}}

{{!-- <div class="cardy wrapy outer">
<div class="cardy wrapy inner">
<div class="cardy">
<h5 class="card-title">{{this.name}}</h5>
      <h5 class="card-title">{{this.tagline}}</h5>
      <p class="card-text">{{this.description}}</p>
      <p class="card-text"> {{this.food_pairing}}</p>
      <p class="card-text">{{this.brewers_tips}}</p>
</div>
</div>
</div> --}}

<div class="beer-container">
<div class="beer-row">
<div class="beer-card">
<img src="{{this.image_url}}" alt="{{this.name}}">
      <h5>{{this.name}}</h5>
      <h5>{{this.tagline}}</h5>
      <p>{{this.description}}</p>
      {{!-- <p class="card-text"> {{this.food_pairing}}</p>
      <p class="card-text">{{this.brewers_tips}}</p> --}}
</div>
</div>
</div>


{{!-- <img src="{{this.image_url}}" alt="{{this.name}}">
      <h5 class="card-title">{{this.name}}</h5>
      <h5 class="card-title">{{this.tagline}}</h5>
      <p class="card-text">{{this.description}}</p>
      {{!-- <p class="card-text"> {{this.food_pairing}}</p>
      <p class="card-text">{{this.brewers_tips}}</p> --}} --}}

