<section>
 <!--{{#each beers}}-->
 <div>
    <img src="{{image_url}}" alt="beer name: {{name}}" class="beer-image">
 </div>
<div>
   <a href="/beers/beer-i3f4d34s34b">{{name}}</a>
   <p> <h2>{{tagline}}</h2></p>
    <p><h3>{{description}}</h3></p>
    
</div>
 <!--{{/each}}-->
</section>


<a href="/beers/beer-i3f4d34s34b">{{name}}</a>