<img class="beer-image mx-auto" src={{this.image_url}} alt="Beer image">
<h4><strong><a href="/beers/{{this.id}}">{{this.name}}</a></strong></h4>
<p style="color:grey"> {{this.tagline}} </p>
<p> {{this.description}} </p>