<div class="card">
  <img class="card-img" src="{{image_url}}"  alt="">
  <div class="card-body">
    <h2 class="card-title"><a href="/beers/{{ id }}">{{name}}</a></h2>
    <p class="card-tagline">{{tagline}}</p>
    <p class="card-description">{{description}}</p>
  </div>
</div>
