<div class="beer-data">
    <h1>{{{ name }}}</h1>
    <p>brewery type: {{{ brewery_type }}}</p>
    <p>address: {{{ address_1 }}}</p>
    <p>city: {{{ city }}}</p>
    <p>state province: {{{ state_province }}}</p>
    <p>postal_code: {{{ postal_code }}}</p>
    <p>country: {{{ country }}}</p>
    <p>longitude: {{{ longitude }}}</p>
    <p>latitude: {{{ latitude }}}</p>
    <p>phone: {{{ phone }}}</p>
    <p>website url: {{{ website_url }}}</p>
    <p>state: {{{ state }}}</p>
    <p>street: {{{ street }}}</p>
</div>