<div class="beers partial content">
    <div class="beer-image">
        <img src={{image_url}}>
    </div>

    <div class="beers-commonInfo">
        <a href='/beers/{{id}}'>{{name}}</a>
        <p><strong>Description:</strong> {{description}}</p>
        <p><strong>Tagline:</strong> {{tagline}}</p>
    </div>

</div>


