<img class="card-img-top img-fluid beer-img" {{#if image_url}} src="{{image_url}}" {{/if}} src="/images/beer.png"
  alt="{{name}}">
<div class="card-body">
  <h2 class="card-title highlight">{{name}}</h2>
  <h3>Description</h3>
  <p class="random-esc">{{description}}</p>
  <h4>Tags</h4>
  <span class="random-tag">{{tagline}}</span>
</div>
