<div class="card">
    <a href="/beers/{{this.id}}"><img src={{this.image_url}} alt={{this.name}}></a>

    <h3>{{this.name}}</h3>
    <h4>{{this.tagline}}</h4>
    <p>{{this.description}}</p>
</div>
