<div class="container-fluid">
  <div class="col-md-4">
    
    <div class="card">
      <img
        class="card-img-top"
        src="{{this.image_url}}"
        alt="{{this.name}}"
      />
      <div class="card-body"></div>
        <h3><a href="/{{id}}">{{name}}</a></h3>
        <p>{{this.description}}</p>
        <h5>{{this.tagline}}</h5>
      </div>
    </div>
  </div>
</div>