<div id="beer-card">
<img class="cards-img" src="{{ this.image_url }}" alt="{{ this.name }}"/>
    <p id="beer-name"><a href="/beers/beer-{{this.id}}">{{ this.name}}</a></p>
    <p id="tagline">{{ this.tagline }}</p>
    <p>{{ this.description }}</p>

</div>
    

