<article class="col-lg-4">
    <div class="card-body">
        <img class="card-img-top" src="{{this.image_url}}" alt="{{this.name}} " />
        <hr>
        <h5 class="card-title"><a href="/only-beer/{{id}}">{{this.name}}</a></h5>
        <p class="card-text">{{this.description}}</p>
        <p >{{this.tagline}}</p>
    </div>
</article>