<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
    <img class="card-img-top d-block mx-auto" src="{{image_url}}" alt="{{name}}">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="grey">{{tagline}}</p>
        <p class="card-text">{{description}}</p>
    </div>
    </div>
</div>