<div class="img-beers">
  <img src="{{this.image_url}}" alt="{{this.image_url}}">
</div>
<div class="datos">
  <h5>{{this.name}}</h5>
  <p class="tagline">{{this.tagline}}</p>
  <p>{{this.description}}</p>
</div>