 <section class="beer">
    
   
        <img class="beer-img" src="{{image_url}}" alt="">
        <a href="/beers/beer-{{id}}"><h3>{{name}}</h3></a> 
        <p>{{description}}</p>
        <p>{{tagline}}</p>
   
 </section>
 
 