<div>
    <img class="beers-photo" src="{{this.image_url}}" alt="Poster for {{this.name}}">

    <h2>
        {{this.name}}
    </h2>
    <p>
        {{this.description}}
        {{this.tagline}}
    </p>
</div>