

<a class="beerbox" href="/beers/{{id}}">

    <img class="beerpic" src="{{beer.image_url}}" alt="beer-pic">
    <h2>{{beer.name}}</h2>
    <p>{{beer.description}}</p>
    <p class="tagline">{{beer.tagline}} </p>

</a>

