<div class="container">
    <div class="row alin-items-center justify-content-center">

        <img src="{{image_url}}" alt="{{name}}" class="beers">
        <h2>{{name}}</h2>
        <h3>{{description}}</h3>
        <p>{{tagline}}</p>
    </div>
</div>