<div class="card-body md-6">
    <h5><strong>{{name}}</strong></h5>
    <br>
    <p>{{description}}</p>
    <br>
    
    <p>{{tagline}}</p>
    <br>
    <p>{{brewers_tips}}</p>
    <br>
    <p>{{food_pairing}}</p>
</div>