<div>
    <a href="/beers/{{this.id}}"><img src="{{this.image_url}}" alt="{{this.name}}"></a>
</div>
<div class="beer-text card-body">
    <h1 class="bg-info text-white">{{this.name}}</h1>
    <p class="bg-primary text-white">{{this.tagline}}</p>
    <p class="bg-light text-dark">{{this.description}}</p>