<div class='info'>
  <img class='beer-pic' src='{{this.image_url}}' alt='{{this.name}}' />
  <div class='beer-text'>
    <h4 class='beer-name'>{{this.name}}</h4>
    <p class='beer-description'><em>Description:</em> {{this.description}}</p>
    <p class='beer-tagline'><b>Tagline:</b> {{this.tagline}}</p>
  </div>
</div>