<div class="col-md-4">
    <article >
        <div class="image-container">
        <img src="{{image_url}}">
        </div>
        <div class="info-beers">
            {{!-- <a href="/beers/beer-i3f4d34s34b"><!-- name of the beer --></a> --}}
            <a href="/beers/{{this.id}}"><h3>{{this.name}}</h3></a>
            <p>{{this.description}}</p>
            <p><i>{{this.tagline}}</i></p>
        </div>
    </article>
</div>

