<section>
    <article>
            <img class="beer-api" src="{{ this.image_url }}">
            <a href="/beers-{{this.id}}"><h3>{{this.name}}</h3></a>
                <p> {{ this.tagline }} </p>
                <p> {{ this.description }} </p>
        <br>
    </article>
</section>