<div class="card" style="width: 18rem;">
  <img src="{{this.image_url}}" class="card-img-top" alt="Beer {{this.name}}">
  <div class="card-body">
    <h5 class="card-title" style="font-weight: 800;">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text" style="font-style: italic;">{{this.tagline}}</p>
  </div>
</div>