
<card class="beer-container">
    <h3 class=>{{name}}</h3>
    <a href="/beer-details/{{id}}">
    <img class='beers-images' src="{{image_url}}" alt="{{name}}">
    </a>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
</card>
