<div class='beer-item'>
  <img class='img-beers' src={{image_url}} />
  <div>
    <a class='link-beer' href='/beers/{{id}}'>{{name}}</a>
    <p class='tagline'>{{tagline}}</p>
    <p>{{description}}</p>
  </div>
</div>