<div class="col-md-4 mb-3">
    <div class="card">
        <img src="{{image_url}}" class="beerimg card-img-top" alt="{{name}}">
        <div class="card-body">

            <h2 class="text-uppercase text-light bg-dark">{{name}} </h2>
            <h5 class="font-weight-bold">Tagline: </h5>
            <p> {{tagline}} </p>
            <h5 class="font-weight-bold"> Description:</h5>
            <p> {{description}}</p>

        </div>
    </div>
</div>