      <div class='beers'>
       <div class='beer-container'>
       <div class='beer-image'>
                  <img src={{image_url}} id='beer-bottle'>
      </div>
       <div id='list'>
                  <li><a id='beername' href='/singlebeer/{{id}}'>{{name}}</a></li> 
                  <li>{{description}}</li>
                  <li>{{tagline}}</li>
       </div>
       </div>
      </div>

    