    <div class="one-beer">
        <img class="beer-image" src="{{this.image_url}}" alt="{{this.name}} image">
        <div class="beer-text-div">
            <h1>{{this.name}}</h1>
            <p class="beer-text">{{this.description}}</p>
            <h2>{{this.tagline}}</h2>
        </div>
    </div>
