<div class="col-4">
    <div class="player-card">
        <img src="{{image_url}}" class="card-img-top" alt="{{name}}">
    </div>
    <div class="card-body">
        <h4 class="card-title">{{name}}</h4>
        <h5 class="card-subtitle mb-2 text-muted">{{tagline}}</h5>
        <p class="card-text">{{description}}</p>
    </div>
</div>