 <a href="/beer/{{this.id}}">
   <div class="beerCard">
        <img src={{this.image_url}}/>
        <h1>{{this.name}}</h1>
        <p>{{this.description}}</p>
        <q>{{this.tagline}}</q>
      

    </div> 
    </a>