<div class="card-group">
    <div class="card border-dark mb-3">
        <img class="card-img-top img-height" src="{{image_url}}" alt="{{name}}">
        <div class="card-body">
            <h1 class="card-header">{{name}}</h1>
            <h3 class="card-title">{{tagline}}</h3>
            <p class="card-text">{{description}}</p>

        </div>
    </div>
</div>