<div class="col-md-4">
    <div class="card mb-4 beer-card">
        <img src="{{image_url}}" class="beer-img-top" alt="{{name}}">
        <div class="card-body">
            <h5 class="beer-title"><b>{{name}}</b></h5>
            <h6 class="beer-tagline"><b>{{tagline}}</b></h6>
            <p class="beer-description">{{description}}</p>
        </div>
    </div>
</div>