<article class="beer-box">
    <img src="{{image_url}}">
    <div>

        <h5 class="beer-name"><a href="/beers/{{id}}">{{name}}</a></h5>
        <p class="tagline">{{tagline}}</p>
    </div>
    <div>
        <p class="description-text">{{description}}</p>
    </div>
</article>