<div class="beer-info">
    <img src="{{this.image_url}}" alt="beer">
    <article>
        <h3>{{this.name}}</h3>
        <p class="tagline">
            {{this.tagline}}
        </p>
        <p class="description">
            {{this.description}}
        </p>

        <h4>Food Pairing</h4>
        <ul>
            <li>{{this.food_pairing}}</li>
        </ul>

        <h4>Brewer's tips</h4>
        <p>
            {{this.brewers_tips}}
        </p>
    </article>
</div>