

   
    
  
        <img src={{this.image_url}}>
        <a href="/beers/{{this.id}}" class="beer-name">{{this.name}}</a>
        <p id="description">{{this.description}}</p>
        <p>{{this.tagline}}</p>
  
    
   
    
   



    

 

 