<div class="col-md-4">
    <div class="card">
        <img class="card-img-top" src="{{this.image_url}}" alt="{{this.name}}" />
        <div class="card-body">
            <h5 class="card-title">
                {{this.name}}
            </h5>
            <p class="card-text">
                {{this.tagLine}}
            </p>
            <h5>
                <div class="row">
                    <div class="col-md-6">
                    <p>Alcohol:{{this.abv}}</p>
                    </div>
                    <div>
                    <p>First brew on:{{this.first_brewed}}</p>
                    </div>
                </div>
            </h5>
        </div>
    </div>
</div>