<div class="col-md-4">

    <p><img src="{{image_url}}" alt="" class="wid"></p>
    <p>{{name}}</p>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <p>{{food}}</p>
    <p>{{pairing}}</p>
    <p>{{brewer}}</p>



</div>