<div class="container-beers">
    <div class="container-beer">
        <div class="container-beer-image">
            <a href="/beers/beer-{{this.id}}"><img id="beer-image" src="{{this.image_url}}" alt="{{this.name}}"></a>
        </div>
        <div>
            <h3 id="name">{{this.name}}</h3>
            <p id="tagline">{{this.tagline}}</p>
            <p id="description">{{this.description}}</p>
        </div>
    </div>
</div>