<div class="col-md-3">
    <article class="card">
        <img class="card-img-left" src="{{image_url}}" alt="{{name}}">
        <div class="card-body">

            <h5 class="card-title"><a href="#" target="_blank">{{name}}</a></h5>
            <hr>
            <p class="card-text">{{description}}</p>
            <p class="card-text">{{tagline}}</p>
        </div>
    </article>
</div>