<div class="col-md-4">
    <article class="beer">
        <img src="{{this.image_url}}" alt="{{this.name}}">
        <div>
            <a href="/beers/{{id}}"><h2>{{this.name}}</h2></a>
            <p>{{this.drecription}}</p>
            <p>Tagline : {{this.tagline}}</p>
        </div>
    </article>
</div>