{{!-- <div class="col"> --}}
    {{!-- <img src="{{image_url}}" alt="beer image">
    <h5>{{name}}</h5>
    <p>{{description}}</p>
    <h6>{{tagline}}</h6> --}}
    {{!-- <div class="container card" style="width: 18rem;">
        <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
        </ul>

    </div> --}}

    <div class="card mt-5 ">
        <img src="{{image_url}}" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
        </ul>
    </div>
    {{!--
</div>
</div> --}}