<div class='col-md-3'>
  <a href='/beers/{{this.id}}'><img
      width='20px'
      src='{{this.image_url}}'
      class='card-img-top'
      alt='{{this.name}}'
    /></a>
  <div class='card-body'>
    <h5 class='card-title'>{{this.name}}</h5>
    <h6>{{this.tagline}}</h6>
    <p class='card-text'>{{this.description}}</p>
  </div>
</div>