<div class="col-4" id="beers">
  <div class="card m-2 p-2 justify-content-center text-center" style="height: 700px">
    <img class="card-img-top" src="{{this.image_url}}" alt="{{this.name}}">
    <div class="card-body p-2" >
      <h5 class="card-title">{{this.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{this.tagline}}</h6>
      <p class="card-text text-start">{{this.description}}</p>
    </div>
    </div>
  </div>

{{!-- ajustar el texto para que no desborder --}}
