<div class='container'>

  <div class='row random'>

    <div class='col-md-4 randomLeft'>

      <img class='card-img-top' src='{{this.image_url}}' alt='' />
    </div>

    <div class='col-md-4 col-lg-8 randomRight'>

      <a href='/beers/beer-{{this.id}}'>
        <h5 class='card-title'>{{this.name}}</h5></a>
      <p class='card-text'>{{this.description}}</p>
      <h3 class='card-title'>{{this.tagline}}</h3>

      <p class='card-text'>{{this.description}}</p>

    </div>

  </div>
</div>