<div class="beer-container">
    <a href="/beers/{{this.id}}" class="beer-card item">
        <li>
            <img src="{{this.image_url}}" alt="beer" class="catalog-beers"><br>
            {{this.name}}<br>
            {{this.tagline}}<br>
            {{this.description}}<br>
        </li>
    </a>
</div>