<div class='col-md-4'>
  <div class='card beer-card'>
    <a href='/details-beer/{{id}}'>
      <img src='{{image_url}}' alt='{{name}}' />
    </a>
    <div class='card-body'>
      <h5 class='card-title'>{{name}}</h5>
      <p class='card-text'>{{description}}</p>
      <p class='card-text'>{{tagline}}</p>
    </div>
  </div>
</div>