{{#if image_url}}
<div id="beerImg">
    <a href="/beers/beer-{{id}}">
        <img src="{{image_url}}" alt="{{name}}" width="100px">
    </a>
</div>
{{/if}}
<div id="beerInfo">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
</div>
