<img src="{{image_url}}" class="card-img-top p-3" alt="{{name}}">
<div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h6>{{tagline}}</h6>
    <p class="card-text">{{description}}</p>
</div>