<div class="card" style="width: 18rem;">


    <div class="card-body">


        <a href="../beers/{{id}}">
            <div class="row justify-content-center imgheight">
                <img src={{image_url}} alt="{{name}}" class="card-img-top allBeers img-fluid">
            </div>
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{description}}</p>

        </a>
    </div>
</div>