hola soy partial hbs
<div>
    <img src="{{image_url}}" alt="{{tagline}}">
    <h1>{{id}}</h1>
    <p>Nombre: {{name}}</p>
    <p>Nombre1: {{description}}</p>
    {{!-- <p>Nombre:2 {{food_pairing}}</p>
    <p>Nombre:3{{brewers_tips}}</p> --}}

</div>