<div class="container-beers">
    <div class="container-beer">
        <div>
            <a href="/beers/beer-{{this.id}}"><img id="beer-image" src="{{this.image_url}}" alt="{{this.name}}"></a>
        </div>
        <div>
            <h1>{{this.name}}</h1>
            <p>{{this.description}}</p>
            <p>{{this.tagline}}</p>
        </div>
    </div>
<div>