<img src="{{image_url}}" class="card-img-top p-3" alt="{{name}}">
<div class="card-body">
    <h1 class="card-title">{{name}}</h1>
    <h2 class="card-title">{{tagline}}</h2>
    <p class="card-text">{{description}}</p>
</div>