<article>
    <div>
        <a href="/beers/{{id}}"><img class="" src="{{this.image_url}}" alt=""></a>
        <h4>{{this.name}}</h4>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </div>
</article>