<div class="container centering">
    <div class="row justify-content-md-center">
        <img class="col-4 img" src="{{image_url}}" alt="{{name}}">
        <div class="col-8">
            <h1>{{name}}</h1>
            <h3>{{tagline}}</h3>
            <p>{{description}}</p>
            <h5>{{description}}</h5>
</div>
    </div>
</div>