

<div class="card">
    <img src="{{image_url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><a href="/beers/{{id}}">

                {{name}}

            </a></h5>
            <p class="tagline">{{tagline}}</p>
        <p class="card-text">{{description}}</p>
    </div>
</div>



