<img
  src='{{beer.image_url}}'
  class='card-img-top object-fit-contain'
  style='height: 170px;'
  alt='{{beer.name}}'
/>
<div class='card-body text-start'>
  <h5 class='card-title'>{{beer.name}}</h5>
  <p class='text-body-tertiary'>{{beer.tagline}}</p>
  <p class='card-text fs-6'>{{beer.description}}</p>
</div>