<article class='col-12 col-md-4 mt-2'>
  <div class='border border-0 rounded rounded-3'>
    <a href='#'>
      <img
        src='{{this.image_url}}'
        alt='Poster for {{this.name}}'
        class='col-3'
      />
    </a>
    <h2>
      {{this.name}}
    </h2>
    <p class='text-black-50'>
      {{this.tagline}}
    </p>
    <p>
      {{this.description}}
    </p>
  </div>
</article>