<div class="beerCard">
    <div class="beerCardImage">
        <img src="{{this.image_url}}" alt="{{this.name}}">
    </div>
    <div class="beerCardInfo">
        <h1>{{this.name}}</h1>
        <p>{{this.tagline}}</p>
        <p>{{this.description}}</p>
    </div>
</div>