<div class='one-beer'>
    <img src="{{this.image_url}}" alt="{{this.name}}">
    <div class='about-beer'>
        <a href="/beers/beer-{{this.id}}">Learn more about {{this.name}}</a>
        <h2>{{this.name}}</h2>
        <p><i>{{this.tagline}}</i></p>
        <p>{{this.description}}</p>
    </div>
</div>