
            <div>
            <img width="5%" src="{{this.image_url}}" alt="image">
            </div>
            <div>
               <a href="/beers/beer-{{this.id}}"> <h1>{{this.name}}</h1></a>
                <h6>{{this.tagline}}</h6>
                <p>{{this.description}}</p>
            </div>

    