<div>
  <h2>{{beer.name}}</h2>
  <img src="{{beer.image_url}}" alt="{{beer.name}} Image">
  <p>{{beer.description}}</p>
  <p><strong>Tagline:</strong> {{beer.tagline}}</p>
  <p><strong>Food Pairing:</strong> {{beer.food_pairing.join(', ')}}</p>
  <p><strong>Brewer Tips:</strong> {{beer.brewers_tips}}</p>
</div>