 <!--Partial for beers.hbs and random-beer.hb-->
 
 <!--Removed #each cause referenced in beers-->
 
 
 <div id="bodyDiv">
        
        <div id="partialDiv">
                <img class = "partialImg" src="{{ this.image_url }}">
                <a href ="./beers/{{this.id}}" class = "h1partial">{{ this.name }}</a>
                <p class = "taglinepartial">{{ this.tagline }}</p>
                <p class = "descriptionpartial">{{ this.description }}</p>
        </div>

</div>