<img src="{{{image_url}}}" class=" card-img-top" alt="...">
<div class="card-body">
    <a href="/beers/{{id}}">
        <h5 class=" card-title">{{{name}}}</h5>
    </a>
    <p class="card-text">{{{description}}}</p>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item">{{{tagline}}}</li>

</ul>