<div class="beer"> 
    <div class="imgpartial"> 
            <img class="width100" src="{{ image_url }}" alt="{{ name }}">
    </div>
    <div class="container">
        <div class="beerName">
            <strong>{{ name }}</strong><br>
            <span class="tagLine">{{ tagline }}</span> 
        </div>
        <div class="textDescription">{{ description }}</div><br>
         