<div class='beer-details'>
  <div class='card-image'>
    <img class='bottle' src="{{image_url}}" />
  </div>
  <a href="/beers/beer-{{id}}"><h3 class="beer-name">{{name}}</h3></a>
  <p class='tagline'>{{tagline}}</p>
  <p>{{description}}</p>
</div>