<article class="beerpartial">
    <div class="art-img">
        <img src="{{image_url}}" alt="beer img" class="card-img-top">
    </div>
    <div class="art-text">
        <h2><a href="/beers/{{id}}">{{name}}</a></h2>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
    </div>
</article> 