

<div class="text-center">

    <img src="{{image_url}}" class="card-img-top w-25 mb-4" alt="{{name}}">
    <h5 class="card-title"><a href="/beers/{{id}}">{{name}}</a></h5>
    <p class="card-text">{{tagline}}</p>
</div>


    <h6 class="card-title">Description</h6>
    <p class="card-text">{{description}}</p>

                    
        

