<div class="beerInfo">
    <a class="beers-page" href="/beers/{{id}}"><img src="{{image_url}}" alt="{{name}} beer"></a>
    <h4>{{name}}</h4>
    <p class="tag">{{tagline}}</p>
    <p class="desc">{{description}}</p>
</div>