<img src="{{this.image_url}}" alt="beer" class="img-beer"><br>
<a class="link-beer" href="/beers/beer-{{this.id}}">
    {{this.name}}
</a>
<p class="tagline">{{this.tagline}}</p> 
<p class="description">{{this.description}}</p>