<div class='template'>
  <div class='img'>
    <img src='{{image}}' alt='' />
  </div>
  <div>
    {{#if beer}}

      <h1><strong>{{name}}</strong></h1>

    {{else}}
      <a href='/beers/bear-{{id}}'><h1><strong>{{name}}</strong></h1></a>

    {{/if}}

    <h3>{{tagline}}</h3>
    <p>{{description}}</p>

    {{#if beer}}

      <h2>Food Pairing</h2>
      <ul>

        {{#each food_pairing as |food|}}
          <li>{{food}}</li>
        {{/each}}

      </ul>
      <p><strong>Brewers Tips:</strong> {{brewers_tips}}</p>

    {{/if}}
  </div>
</div>