<a class="bonus" href="/beers/{{id}}">

    <div class="container">
        <div class="row">
            <div class="col mb-4 img-box">
                <img class="card-pic" src="{{image_url}}" alt="{{name}}" style="max-height: 300px;" />
            </div>
        </div>

        <div class="row">
            <div class="col mb-4">
                <article>
                    <h5>{{name}}</h5>
                    <p class="tagline">{{tagline}}</p>
                    <p class="description">{{description}}</p>
                </article>
            </div>
        </div>
    </div>

</a>