<div class="beer-image-prop">
	<img src="{{image_url}}" alt="name for {{name}}" class="beer-image">
</div>
<div class=""> 
	<a href="/beers/{{id}}" class="title">
		{{name}}
	</a>
	</h2>
	<p>
		{{description}}
	</p>
	<p>
		{{tagline}}
	</p>
</div>


