
<div class="container">

    <div class="row">
        
            <li><a href="/beers/{{this.id}}" style="font-weight: bolder">{{name}}</a></li>
            <img class="images" src="{{image_url}}" alt="">
            <p>Tagline: {{tagline}}</p>
            <p>Description: {{description}}</p>

        
    </div>

</div>

