
<div>
    <img src='{{this.image_url}}' alt='' />
   <a href="/beers/beer-{{id}}"> <h5 class='beer-name'>{{name}} </h5></a> 
      <br/><span>{{description}}</span>
      <br/>
    <h6>{{beer-tagline}}</h6> 
    <hr/>
</div>