{{!-- <div class="container">

    <div class="row">


        <div class="col-md-4"> --}}

            <article>

                <img class="beerImage" src={{image_url}} alt="Beer Image">
                <p class="name">{{name}}</p>
                <p>{{description}}</p>
                <p class="tag">{{tagline}}</p>
                <ul>{{#each food_pairing}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                <p>{{brewers_tips}}</p>


            </article>
            {{!--
        </div>


    </div> --}}