       
               <div style="width: 25%;">
               <img src="{{this.image_url}}" alt="image for {{name}}">
                
            
        
                <h2><a href="/beers/{{id}}">{{name}}</a></h2>
                <p>{{this.description}}</p>
                <p>{{tagline}}</p>
        
             </div>
        