<div>
    <div>
        <img src={{image_url}} alt="beerpartials">
    </div>
    <div>
        <h5> {{name}} </h5>
        <a href="/beers/{{id}}">{{name}}</a>
        <p> {{description}} </p>
        <h6> {{tagline}} </h6>
    </div>
   
</div>