
<div class = "beerPartial">
    <div>
    <a><img src={{this.image_url}} alt="beer" class = "image"></a>
    </div>

    <div>
    <a href="/beers/{{this.id}}">{{this.name}}</a>
    <a>{{this.description}}</a>
    <a>{{this.tagline}}</a>
    </div>
</div>