
<div class='card-container'>
        <div id="photo">
            <img src={{this.image_url}} alt={{this.name}} />
        </div>    
            <h3>Name: {{this.name}}</h3>
            <h3>Description: {{this.description}}</h3>
            <h3>Tagline: {{this.tagline}}</h3>
  
</div>  










{{!-- <div class='container-beer'>
    <div class="row">
        <img src={{this.image_url}} alt={{this.name}} />
        <h3>Name: {{this.name}}</h3>
        <h3>Description: {{this.description}}</h3>
        <h3>Tagline: {{this.tagline}}</h3>
    </div>
</div>   --}}
