{{#with this}}
  <div class='card text-truncate col-3'>
    <div class='card-body'>

      <img
        class='card-img-top'
        alt='Responsive image'
        src='{{image_url}}'
        alt='{{name}}'
        style='height: 15vh; width:auto'
      />
      <h5 class='card-title'><a href='/beer/{{id}}'>{{name}}</a></h5>
      <p class='card-text'>{{tagline}}</p>
      <p class='card-text'><small class='text-muted'>{{description}}</small></p>
    </div>
  </div>
{{/with}}