     <img src="{{this.image_url}}" alt="{{this.name}} beer image">
    <a href="beer/{{this.id}}.png"><h3>{{this.name}}</h3></a>
    <p class="tagline">{{this.tagline}}</p>
    <p>{{this.description}}</p>