<a class="cardLink" href="/beers/beer/{{id}}">
    <div class="card card-custom mx-2 mb-3">
        <img class="card-img-top image" src="{{image_url}}" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{name}}</h2>

            <p>{{tagline}}</p>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</a>