<div class = "partial-div">
    <div class="beer-div"><img class="beer-img" src="{{this.image_url}}" alt="beer-img"></div>
   <div class = "beer-text">
       <a class="beer-name" href="/beers/{{this.id}}">
        <h2>{{this.name}}</h2>
        </a>
        <h4>{{this.tagline}}</4h>
        <p>{{this.description}}</p>

   </div> 
</div>