<div class="beer-card">
  <div class="beer-image-wrapper" style="background-image:url('{{this.image_url}}')"></div>
  <h3>{{ this.name }}</h3>
  <span>{{this.tagline}}</span>
  <p>{{ this.description }}</p>
  <a href="/beer/{{this.id}}">More detail</a>
</div>