<div class='one-beer'>
    <img src="{{this.image_url}}" alt="{{this.name}}">
    <div class='about-beer'>
        <a href="/beers/beer-i3f4d34s34b">{{this.name}}<h2>{{this.name}}</h2></a>
        <p><i>{{this.tagline}}</i></p>
        <p>{{this.description}}</p>
    </div>
</div>