<div class="col-4">
  <div class="card">
    <img
      class="card-img-top"
      src="{{this.image_url}}"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title"><a href= "/beers/{{this.id}}">{{this.name}}</a></h5>
      <p class="card-text">{{this.description}}</p>
      <p class="card-text">{{this.tagline}}</p>
    </div>
  </div>
</div>