<div class="card h-100">
    <img src="{{this.image_url}}" class="card-img-top img-thumbnail" alt="">
    <div class="card-body">
        <h5 class="card-title"><a href="/beers/beer/{{this.id}}">{{this.name}}</a></h5>
        <p class="card-text">{{this.tagline}}</p>
        <p class="card-text">{{this.description}}</p>
    </div>
</div>

