<div class="beerpartial-container">
    <div class="beerpartial-img">
        <img src={{this.image_url}}>    
    </div>
    <div class="beerpartial-infos">
        <h1>{{this.name}}</h1>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
        {{#if this.random}}
            <h2>Food Pairing</h2>
            <ul>
            {{#each this.food_pairing}}
                <li>{{this}}</li>
            {{/each}}
            </ul>
            <p>{{this.brewers_tips}}</p>
        {{/if}}
    </div>
</div>
