<div class="text-center" style="width: 400px;">
<img  style="height : 250px;" src="{{this.image_url}}" alt="">
</div>
<div class="px-2 py-2">
<h5 class="card-title py-2">{{this.name}}</h5>
<h6 class="card-subtitle text-muted py-2">{{this.tagline}}</h6>
<p class="card-text  mb-1" >{{this.description}}</p>
<a href="beer/{{id}}" class="btn btn-warning mt-2">More</a>
</div>