<div class="beer">
    <img src="{{image_url}}" alt="">
    <div>
        <h3>{{name}}</h3>
        <small>{{tagline}}</small><br><br>
        <p>{{description}}</p>
        <a href="beer/{{id}}" class="beer-btn">Read more</a>
    </div>
</div>