{{#if image_url}}
    <img src="{{this.image_url}}" alt="{{this.name}}">
{{else}}
    <img src="https://images.punkapi.com/v2/keg.png" alt="Brewdog Logo">
{{/if}}
<h1>{{this.name}}</h1>
<h2>{{this.tagline}}</h2>
<h2>{{this.description}}</h2>