<article class="beer">

    <img src="{{image_url}}" class="card-img-top" alt="{{abv}} {{abv}}">
    <a href="/beers/{{id}}">
        <h2>{{name}}</h2>
    </a>
    <p class="tagline">{{tagline}}</p>
    <p>{{description}}</p>

</article>