<div class="col-4">
    <article class="borderArray">
        <img class="beerArray" src="{{image_url}}" alt="{{name}}">
        <h3>{{name}}</h3>
        <p class="tagline">{{tagline}}</p>
        <p>{{description}}</p>


    </article>
</div>