<div class="col">
    <div class="card h-100" style="width: 18rem;">
        <img  class="card-img-top" src="{{this.image_url}}" alt="{{this.name}}">
        <div class="card-body">
            <h3 class="card-title">{{this.name}}</h3>
            <p class="card-text">{{this.tagline}}</p>
            <h6 class="card-text">{{this.description}}</h6>
        </div>
    </div>
</div>