<div class='beer-cards col-md-4'>
  <div class='card border-0'>
    <img class='card-img-top' src='{{image_url}}' alt='Beer {{name}}' />
    <div class='card-body'>
      <h6 class='card-title'><a href='/beers/{{id}}'><b>{{name}}</b></a></h6>
      <p class='card-text muted'>{{tagline}}</p>
      <p class='card-text'>{{description}}</p>
    </div>
  </div>
</div>