<div id="beer-card">

    <div id="img-card">
        <img src={{ image_url }} alt="Beer image" />
    </div>

    <h5><a href="/beers/{{ id }}">{{ name }}</a></h5>

    <span>{{ tagline }}</span>

    <p>{{ description }}</p>

</div>