<div class="col-md-4 row" >
    <div class="container">
        <a href="/beers/{{this.id}}">  
            <div class="image-container">
                <img class="beer-img" src="{{image_url}}" alt="beer-image">
            </div>
            <h5 class="">{{name}}</h5>
         </a> 
        <div class="">
             <p class="text-muted">{{tagline}}</p> 
             <p>{{description}}</p>
        </div>
    </div>
</div> 

