
<article class="col-xl-4">
    <div class="card-body">
        <a href="beers/{{id}}">
            <img src="{{image_url}}" alt="">
        </a>
        <h2>{{name}}</h2>
        <h3>{{tagline}}</h3>
        <p>{{description}}</p>
</div>
</article>


