
<img class="random-image" src="{{image_url}}" alt="{{name}}"/>
<div class="beers-container">
  <h2 class="card-title">
    {{name}}
  </h2>
  <h4 class="text-secondary">
    {{tagline}}
  </h4>
  <p class="card-text">
    {{description}}
  </p>
</div>