 {{#each beersFromApi}}
    
    <div class="beer">
        <a href="/beers/{{id}}"></a>
        <img src="{{image_url}}" alt="{{name}}">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
    </div>
 {{/each}}