<div class="col-md-3">
    <div class="card player-card">

        <a href="/detailed-beer">{{name}}
        <img src="{{image_url}}" alt="{{name}}" class="card-img-top">
      </a>

    </div>
</div>

<div class="col-md-3">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}} {{tagline}}</p>
    </div>
</div>