{{!-- <div>
    <img src="{{image_url}}" alt="beer image" />
    <div class="beerName">
        {{name}}
    </div>
    <p>{{tagline}}</p>
    <p>{{description}}</p>
</div> --}}

<div class="card" style="width: 18rem;">
    <img src="{{image_url}}" class="card-img-top" alt="beer image">
    <div class="beerName">
        {{name}}
    </div>
    <p>{{tagline}}</p>
    <div class="card-body">
        <p class="card-text">{{description}}</p>
    </div>
</div>