<div class="wrapper-img-info">
	<div class="beers-wrapper-img">
	<img src='{{this.image_url}}' alt='{{this.name}}' />
	<a href="/beers/beer-{{this.id}}">{{this.name}}</a>
	</div>
	<div class="beers-wrapper-info">
		<h1>{{{this.name}}}</h1>
		<h2>{{{this.tagline}}}</h2>
		<p>{{{this.description}}}</p>
	</div>
</div>