<div>
  <img src='{{this.image_url}}' alt='{{this.name}}' />
  <a href='/beers/beer-i3f4d34s34b'>{{this.name}}</a>
  <h3>{{this.name}}</h3>
  <p>{{this.description}}</p>
  <small>{{this.tagline}}</small>
</div>