<div class="col-md-2">

    <article class="card beer-card">
        <img class="popino" src="{{image_url}}" class="card-img-top" alt="{{name}} {{tagline}}">
        <div class="card-body">
            <h2><a href="/beers/{{id}}">{{name}}</a></h2>
            <h5 class="card-title"> {{tagline}}</h5>
            <p class="card-text">{{description}}</p>
    </article>

</div>
