<div class="col-md-3">
    <article class="beer-card">
        <img src="{{image_url}}" alt="{{name}}">
        <div>
            <h3>{{name}}</h3>
            <p>{{tagline}}</p>
            <hr>
            <p>{{description}}</p>
        </div>
    </article>
</div>