<div class="beer-container">
    <div class="image-container">
            <img src="{{image_url}}" alt="{{name}} image" class="beer-name">
    </div>
    <div class="text-container">
        <h2 class="beer-name">{{name}}</h2>
        <p class="beer-description">{{description}}</p>
        <p class="beer-tagline">{{tagline}}</p>
    </div>
</div>