<div>

    <ol>
        <p>lista ordenada</p>
        <li><img src="{{this.image_url}}" alt="{{this.tagline}}"></img></li>
        <li> {{this.name}} </li>
        <li> {{this.description}} </li>
        <li> {{this.tagline}} </li>
    </ol>

</div>