<div> 
    <a href="/Beers{{id}}">  
        <img class="partialcss" src="{{image_url}}" alt="name of the beer!!{{name}}">
         </a>
  <br>
   <h2> {{name}}</h2> <br>
    <p>{{description}}</p><br>
    {{tagline}}
 </div>