<div class='col-md-4'>
  <div class='card'>
    <div class='card-block'>
      <a class='beer-link' href='/beers/{{beer.id}}'>
        <img class='random' src={{image_url}} alt='beer img' /></a>
      <h2 class='fw-bolder'>{{name}}</h2>
      <p>{{description}}</p>
      <p>{{tagline}}</p>

    </div>
  </div>
</div>