<a href="/beer/{{id}}">
    <img src="{{image_url}}" class="card-img-top" alt="{{name}}">
</a>
<div class="container-text">
    <div class="card-body">

        <h1>{{{id}}}</h1>
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{tagline}}</p>
        <p class="card-text">{{description}}</p>
    </div>