<div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src={{image_url}} width="200" height="200" alt={{name}}/>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{name}} {{description}}</h3>
                <p>{{tagline}}</p>
              </div>
        </div>
</div>