{{#if this.image_url}}
<span class="imgcont"><img src="{{this.image_url}}" alt="{{this.name}}"></span>
{{/if}}
<h2>{{this.name}}</h2>
<p class="tagline">{{this.tagline}}</p>
<p>{{this.description}}</p>