<div class="col-3">
  <div class="card">
    <img
      class="card-img-top"
      src="{{this.image_url}}"
      alt="photo of beer"
    />
    <div class="card-body">
      <h5 class="card-title"><a href="/beer/{{this.id}}">{{this.name}}</a></h5>
      <p class="card-text">{{this.tagline}}</p>
        <div class="card-body">
            <p class="card-text">{{this.description}}</p>   
        </div>    
    </div>
  </div>
</div>