
<div class="card mb-3" style="max-width: 540px;">
    <img src="{{image_url}}" alt="{{name}}" class="card-img-top"/>
    <div></div>
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text"><small class="text-muted">{{tagLine}}</small></p>
</div>