<article>
<img src="{{image_url}}" alt="image of this beer">
<h1>
    {{#if id}}
    <a href="beer-{{id}}">{{name}}</a>
    {{else}}
    {{name}}
    {{/if}}
</h1>
<small>{{ tagline }}</small>

<p>{{ description }}</p>

</article>