
<div class="information-container">
  <img class="beer-image" src= <%= encodeURI(beer.image_url) %> alt=<%= beer.name %> >
  <h2 class="name"><%= beer.name %></h2>
  <h3 class="subheader"><%= beer.tagline %></h3>
  <p class="description"><%= beer.description %></p>
</div>