<div class="height d-flex justify-content-center align-items-center">
    
    <div class="card p-3">
        
        <div class="d-flex justify-content-between align-items-center ">
            <div class="mt-2">
                <div class="mt-5">
                    <h5 class="text-uppercase mb-0">{{this.tagline}}</h5>
                    <h1 class="main-heading mt-0">{{this.name}}</h1>
                </div>
            </div>
            <div class="image">
                <img src="{{this.image_url}}" width="200">
            </div>
        </div>
        
        <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
            <span>{{this.food_pairing}}</span>
            
        </div>
        <p>{{this.description}}</p>
        <p>{{this.brewers_tips}}</p>       
    </div>
    
</div>
