<div class="random-beer">
    <div class="random-beer-img">
        <img src="{{image_url}}" alt="Random Beer">
    </div>
    <div>
        <h3>{{name}}</h3>

        <h5 class="tagline">{{tagline}}</h5>
        <p class="beer-description">{{description}}</p>

        <h5 class="food">Food Pairing</h5>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <p class="tips">Brewers Tips: {{brewers_tips}}</p>
    </div>
</div>