<div class="col-md-4">
    <img src="{{image_url}}" alt="{{name}}">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <p>{{food_pairing}}</p>
    <p>{{brewers_tips}}</p>
</div>