
    <div class="rdBeer">
    <div class="rdImage"></div>
        <a href="#">
            <img src="{{image_url}}" alt="Image URL">
        </a>
    </div>
    <div class="rdContent">
        <h2>{{name}}</h2>
        <h3>{{tagline}}</h3>
        <p>{{description}}</p>
        
        <p>{{food_pairing}}</p>
        <p>{{brewers_tips}}</p>
    </div>

    </div>
  
