
<div class='random-beer-card'>
{{#if image_url}}
        <img
          src='{{image_url}}'
          alt='image of a beer named {{name}}'
        />
      {{/if}}

      {{#unless image_url}}
        <h1 id="noImgH1">🥴</h1>
      {{/unless}}

      <h2>{{name}}</h2>
      <p class='tagline'>{{tagline}}</p>
      <p>{{description}}</p>
      <h3>Food pairing</h3>
      <ul>
      {{#each food_pairing}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
        <p><span>Brewer Tips: </span>{{brewers_tips}}</p>
      </p>
</div>
