<article>
    <div class="col-md-2">
        <img class="randomBeerCard-img" src="{{this.image_url}}">
    </div>
    <div class="col-md-10">
        <h3 class="randomBeerCard-title">{{this.name}}</h3>
        <hr>
        <p class="randomBeerCard-text">{{this.description}}</p>
        <p class="randomBeerCard-tag">{{this.tagline}}</p>
        <p class="randomBeerCard-food">{{this.food_pairing}}</p>
        <p class="randomBeerCard-tips">{{this.brewers_tips}}</p>

    </div>
</article>