<div class="random_card">
    <div>
        <img src="{{image_url}}" alt="Cerveza aleatoria">
    </div>
    <div>
        <h4>{{name}}</h4>
        <h5 class="subtitle">{{tagline}}</h5>
        <p> {{description}}</p>
        <p>{{food_pairing}}</p>
        <p>{{brewers_tips}}</p>
    </div>

</div>