<div class="d-flex justify-content-between align-items-center mt-5">
      <div class="pe-5">
         <img src="{{this.image_url}}" class="card-img-top" alt="..." >
      </div>
      <div>
         <h5 class="card-title">{{this.name}} </h5>
         <p>{{this.tagline}}</p>
         <p class="card-title">{{this.description}}</p>
         <p class="card-title">{{this.food_pairing}}
         <p class="card-title">{{this.brewers_tips}}</p>
      </div>
 </div>
