<div class="row">
<div class='random'>
       
        <img src={{this.image_url}} alt={{this.name}} />
         
        <div id="text">
            <span>Name: {{this.name}}</span>
            <p>Description: {{this.description}}</p>
            <p>Tagline: {{this.tagline}}</p>
        </div> 
</div>  
</div>