<div class="random">

    <article class="card">
        <img src="{{image_url}}" class="card-img-top" alt="{{name}} {{lastName}}">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <h6>{{tagline}}</h6>
            <p class="card-text">{{description}}</p>
        </div>
    </article>

</div>