<div class="random-beer">
    <div class="random-beer-img">
        <img src="{{image_url}}" alt="Random Beer">
    </div>
    <div>
        <h3>{{name}}</h3>

        <h5 class="tagline"><span class="grey">{{tagline}}</span></h5>
        <p class="beer-description">{{description}}</p>

        <h5 class="food"><b>Food Pairing</b></h5>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <p class="tips"><b>Brewers Tips:</b> {{brewers_tips}}</p>
    </div>
</div>