<div class="col-4 container">
    <img src="{{this.image_url}}" alt="Beer">
</div>    
<div class="col-4">
    <h1>
        {{this.name}}
    </h1>
    <p>{{this.tagline}}</p>
    <p>{{this.description}}</p>
    <h3>Food pairing</h3>
    <ul>
        {{#each this.food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <h3>Brewers Tips:</h3>{{this.brewers_tips}}
</div>