<div id="randomCon">
    
        <img src={{image_url }} alt ="{{name }}">
        <h2>{{name }}</h2>
        <p>{{description }}</p>
        <p>{{tagline }}</p> 
        
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        
        <p>{{brewers_tips }}</p>

    </div>