<article class="row">
    <div class="col-md-3 col-lg-3">
        <img src="{{this.image_url}}" alt="{{this.name}}" />
        </div>
    <div class="col-md-9 col-lg-9">
        <h5 class= "beer-title">{{this.name}}</h5>
        <p class="beer-text">{{this.tagline}}</p>
        <p>{{this.description}}</p>
        <p "beer-title">FOOD PAIRING</p>
        <p>{{this.food_pairing}}</p>
         <p>BREWER TIPS</p>
        <p "beer-title">{{this.brewers_tips}}</p>
    </div>

</article>