

  <img src="{{this.image_url}}" alt="{{this.name}}" class="card-img">
  <h5 >{{this.name}}</h5>
  <h5 >{{this.tagline}}</h5>
  <h5 >{{this.description}}</h5>
  <h5 >{{this.food_pairing}}</h5>
  <h5 >{{this.brewers_tips}}</h5> 
