{{!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{this.tagline}}</li>
        <li class="list-group-item">{{this.food_pairing}}</li>
        <li class="list-group-item">{{this.brewers_tips}}</li>
    </ul>
</div> --}}

<div class="ranBeerDiv">
    {{!-- <div class="imgRandom"> --}}
        <img src="{{this.image_url}}" alt="img">
    {{!-- </div> --}}

    <div>
        <h1>{{this.name}}</h1>
        <p>{{this.description}}</p>
        <h2>Food Pairing</h2>
        <p>{{this.food_pairing}}</p>
        <h3>Brewers Tips: </h3>
        <p>{{this.brewers_tips}}</p>
    </div>
</div>




{{!-- ay an image, name,
 description, tagline, food pairing and brewer tips. --}}