<div class="col-md-4">
  <div class="random-card">
    <div class = "beermage">
      <img class="card-img-top" src="{{this.image_url}}" alt="{{this.name}}"/>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-description">{{this.description}}</p>
      <p class="card-tagline">{{this.tagline}}</p>
      <ul>
      {{#each this.food_pairing}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
	  <p class="card-brewtip">{{this.brewers_tips}}</p>
    </div>
  </div>
</div>