 
<div id="full-page-beers" class="container">
    <img src="{{image_url}}" alt="{{name}}" class="beers">
    <div>
        <h1>{{name}}</h1>
        <h2>{{tagline}}</h2>
        <p>{{description}}</p>
        <p><b>Food Pairing:</b></p>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><b>Brewers Tips:</b> {{brewers_tips}}</p>
    </div>
</div>