<div id="random">
    <img id="random-image" src="<%= beer[0].image_url %>" />
    <div id="random-details">
        <h3>
            <%= beer[0].name %>
        </h3>
        <p id="tagpne">
            <%= beer[0].tagline %>
        </p>
        <p>
            <%= beer[0].description %>
        </p>
        <p class="bold">Food pairing</p>
        <p>
            <%= beer[0].food_pairing %>
        </p>
        <p class="bold">Brewers tips:<span>
                <%= beer[0].brewers_tips %>
            </span></p>

    </div>
</div>