<div class="wrapper">
    <div class="img-div">
        <img class="img-beer"
        src="{{ image_url }}" alt="beer_{{name}}" />
    </div>
    <div class="info">
        <h2 class="b-name">{{name}}</h2>
        <span class="b-tagline">{{tagline}}</span>>
        <p class="b-description">{{ description }}</p>

        <span class="bold">Food Pairing</span>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <span class="bold">Brewers Tips: </span><p>{{brewers_tips}}</p>
    </div>
</div>