<div class="beers-container">
    <img src={{beer.image_url}}></br>
    <h1>{{beer.name}}</h1></br>
    <p>Desription: {{beer.description}}</p></br>
    {{beer.tagline}}</br>
    {{beer.food_pairing}}</br>
    {{beer.breewers_tips}}</br>
</div>
