<div class="col-lg-6">
    <img src="{{image_url}}" class="img-fluid rounded-start" alt="{{name}}">
</div>
<div class="col-lg-6">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="text-muted">{{tagline}}</p>
    <p class="card-text">Food Pairing</p>
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p class="card-text">{{brewers_tips}}</p>
</div>