<div class="col-md-4">
    <article class="beers-card">
        <img src="{{image_url}}" alt="{{name}}">
        <hr>
        <p>Nombre: {{name}} </p>
        <p>Descripción: <strong>{{description}}</strong></p>
        <p>Lema: {{tagline}} </p>
        <p>Acompañamiento: {{food_pairing}}</p>
        <p>Consejos: {{brewers_tips}} </p>

    </article>
</div>