<article class="col">
    <div class="row vh-100">
        <div class="col-md-3 col-6 random-beer-img">
            <img src="{{image_url}}" alt="{{name}}">
        </div>
        <div class="col-md-7 col-6">
            <h2>{{name}}</h2>
            <p class="text-muted">{{tagline}}</p>
            <p>{{description}}</p>
            <h3>Food Pairing</h3>
            <ul>
                <li>{{food_pairing.[0]}}</li>
                <li>{{food_pairing.[1]}}</li>
                <li>{{food_pairing.[2]}}</li>
            </ul>

            <h3 class="inline">Brewers tips:</h3>
            <p class="inline">{{brewers_tips}}</p>

        </div>
    </div>


</article>