<div class="col-md-3">
    <article class="beers">
        <img class="beers-img-top" src="{{image_url}}" alt="{{name}}">
        <div class="beers-body">
            <h5 class="beers-title">{{name}}</h5>
            <hr>
            <p class="beers-description">{{description}}</p>
            <p class="beers-tagline">{{tagline}}</p>
            <p>{{food_pairing}}</p>
            <p>{{brewer_tips}}</p>
        </div>
    </article>
</div>