<div class="d-flex justify-content-center">
    <img src="{{image_url}}" alt="{{name}}">
</div>
<h5 class="text-justify">{{name}}</h5>
<p class="text-justify text-secondary">{{tagline}}</p>
<p class="text-justify">{{description}}</p>