<h5><i class="fas fa-utensils"></i>
    Food pairing:</h5>
<p>{{this.food_pairing}}</p>
<h5><i class="fas fa-beer"></i>
    Brewer tips:</h5>
<p>{{this.brewers_tips}}</p>
<h5><i class="fas fa-birthday-cake"></i>
    First Brewed:</h5>
<p>{{this.first_brewed}}</p>
<h5><i class="fas fa-percentage"></i>
    ABV:</h5>
<p>{{this.ph}}</p>
<h5><i class="fas fa-filter"></i>
    Ph:</h5>
<p>{{this.ph}}</p>
</div>

</div>