<div class="item">
    <img src="{{ image_url }}" alt="{{ name }}" class="picture">
    <p class="name">{{ name }}</p>
    <p class="tagline">{{ tagline }}</p>
    <p class="description">{{ description }}</p>
</div>