<div class="col-md-6">

    <figure class="beer-image">
        <img src="{{image_url}}" alt="{{name}}">
    </figure>
    <h4>{{name}}</h4>
    <p>{{description}}</p>
    <span>{{tagline}}</span>

    <hr>
</div>