<div class="col-md-4">
    <div class="cardbeer">
        <img src="{{image_url}}" alt="{{name}}">
        <div class=" card-body">
            <h4>{{name}}</h4>
            <h5>{{tagline}}</h5>
            <p class="card-text">{{description}}</p>
            <hr>
        </div>
    </div>
</div>