<div class="image">
    {{!-- <a href="/beer-detail/{{id}}"></a> --}}
    <img src={{image_url}} alt={{name}}>
</div>
<div class="content">
    <h3>{{name}}</h3>
    <h6>{{tagline}}</h6>
    <p>{{description}}</p>
</div>
