<div class="col-md-6" id="every-beer">

    <img src="{{image_url}}" alt="{{name}}">

    <a href="/beers/{{id}}" class="btn btn-sm btn-info btn-md">Wanna see!</a>
    <hr>

    <h5>{{name}}</h5>

    <em>{{tagline}}</em>
    <hr>
    <p>{{description}}</p>


</div>