<div class="beer-partial">
    <div>
      <img class="img-beer-partial" src="{{this.image_url}}" alt="Beer image">
    </div>
    <div class="text-beer-partial">
      <a class="beer-name" href="/beers/beer-{{this.id}}">
        {{this.name}}
      </a>
      <p class="beer-tagline smaller-font">{{this.tagline}}</p>
      <p class="beer-description smaller-font">{{this.description}}</p>
    </div>
</div>