<div class="col-md-6 col-lg-4 beer-file">

      <a href="/beers/{{id}}">
            <article>
                  <figure>
                        <img src="{{image_url}}" alt="Beer {{name}}">
                  </figure>

                  <div>
                        <h5>{{name}}</h5>
                        <h6>{{tagline}}</h6>
                        <p>{{description}}</p>
                  </div>
            </article>
      </a>

</div>