<article>
    <img src="{{this.image_url}}" alt="{{this.name}} Pic">
    <h3><a href="/beers/beer-{{this.id}}">{{this.name}}</a></h3>
    <em>{{this.tagline}}</em>
    <p>{{this.description}}</p>
</article>