<div class="beer">
    <img class="img-beer" src="{{this.image_url}}" alt="beers">

    <a class="ref-beer" href="/beers/beer-{{this.id}}">{{this.name}}</a>
    <p class="text">{{this.description}}</p>
    <p class="text">{{this.tagline}}</p>

</div>