<div class="beer-container">
    <div class="beer-card">
        <div class="beer-poster">
            <img src="{{this.image_url}}" alt="image for {{this.name}}">
        </div>
        <div class="beer-details">
            <h3>{{this.name}}</h3>
            <p>Description: {{this.description}}</p>
            <p>{{this.tagline}}</p>
            <p></p>
        </div>
    </div>
</div>