<div class="col-md-3">
    <div class="card player">
        <img class="card-img-top" src="{{image_url}}" alt="{{name}}">
        <div class="card-body">
            <h4>{{name}}</h4>
            <p class="card-text">{{description}}</p>
            <hr>
            <small>{{tagline}}</small>
        </div>
    </div>
</div>