<div class="col-md-6">
    <div class="cardbeer">
        <img src="{{image_url}}" alt="{{name}}">
        <div class=" card-body">
            <h4>{{name}}</h4>
            <p class="card-text">{{description}} {{tagline}}</p>
            <hr>
        </div>
    </div>
</div>