<div class='container'>
    <div class="row">
        <img src={{this.image_url}} alt={{this.name}} />
        <h3>Name: {{this.name}}</h3>
        <h3>Description: {{this.description}}</h3>
        <h3>Tagline: {{this.tagline}}</h3>
    </div>
</div>  