<div class="singles-wrapper">
    <div>
        <div class="person">
            <img src={{this.image_url}} alt={{this.name}} />
            <h3>Nombre: {{this.name}}</h3>
            <p>Edad: {{this.description}}</p>
            <p>tag line{{this.tagline}}</p>
        </div>
    </div>
</div>