{{!-- Display an image, name, description and tagline. --}}

<div class="beercard">
  <div class="beercard-image">
    <a href="/beer/{{id}}">
      <img src={{image_url}} alt="beer image">
    </a>
  </div>
  <h3>{{name}}</h3>
    <p class="tagline">{{tagline}}</p>
  <p>{{description}}</p>
</div>