<article class="card">
    <a href="/beers/{{id}}">
        <img src="{{image_url}}" alt="{{name}} image">
    </a>
  <div>
    <h3>{{name}}</h3>
    <h4>{{tagline}}</h4>
    <p>{{description}}</p>
  </div>
</article>