   {{#if random_beers}}
   <h1> {{name}}</h1>
   <img src="{{image_url}}" alt="">
   <p>{{description}}</p>
  <h3>{{tagline}}</h3>
  <p>{{food_pairing}}</p>
  <p>{{brewers_tips}}</p>
  {{else}}
   <h1> {{name}}</h1>
   <img src="{{image_url}}" alt="">
   <p>{{description}}</p>
  <h3>{{tagline}}</h3> 

  {{/if}}



