<div class="beer">
    <div class="beer-img-ctn">
        <img src="{{this.image_url}}" class="imgBeer" alt="">
    </div>

    <div class="beer-info">
        <h2><a href="/beers/beer-{{this.id}}">{{this.name}}</a></h2>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </div>

</div>