<div class="container">
    <img src={{image_url}} alt="{{name}}">
    <div class="details">
        <a href="/beers/{{id}}">
            <h2>{{name}}</h2>
        </a>
        <p id="tagline">{{tagline}}</p>
        <p>{{description}}</p>
    </div>
</div>