<div class="partial-container">
	<div class="container-image">
		<a href="/beers{{this.id}}"><img class="beers-images" src="{{ this.image_url }}" alt="{{ this.name }}"></a>
	</div>

	<div class="container-information">
		<div class="beers-name">{{this.name}}</div>
		<div class="tagline">{{ this.tagline }}</div> 
		<div class="description">{{ this.description }}</div>
	</div> 
</div>	
