{{#each beersArray}}
<div class="col p-4">
    <div class="row">
        <img id="img-cont" class="img-fluid" src="{{this.image_url}}" alt="{{this.name}}">
        <div class="col">
            <div class="col h3">{{this.name}}</div>
            <div class="col h6">{{this.tagline}}</div>
            <div class="col">{{this.description}}</div>
        </div>
    </div>
</div>
{{/each}}