
<div >
<a class='beer-holder' href="/beers/{{id}}">

        <img src="{{image_url}}" alt="">
        <div class="text-info">
            <h3>{{name}}</h3>
            <h4>{{tagline}}</h4>
            <p>{{description}}</p>
        </div>

</a>
</div>