<div class="beerCard">
    <div class="beer-img">
        <a href="/beers/beer-:{{this.id}}"><img src="{{this.image_url}}" alt=""></a>
    </div>
    <div class="beer-details">
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </div>
</div>