<div class="col-12">
    <h2>{{this.name}}</h2>
</div>
<div class="col-12 col-sm-6 beerpics d-flex justify-content-center">
    <img src={{this.image_url}} class="img-fluid">
</div>
<div class="col-12 col-sm-6">
    <p>
        {{this.description}}
        {{this.tagline}}</p>
    <button class="btn-primary"><a href="/beerdetail/{{this.id}}" target="_self">Tap the
            {{this.name}}</a></button>
</div>
<div class="col-12 d-flex justify-content-center stars">* * * * * * * * * *</div>