2<div class="col-md-4">
    <img class="card-img-top" src={{image_url}} alt="" />
    <div class="card-body">
        <a href="/beers/{{id}}"><h5 class="card-title">{{name}}</h5></a>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{tagline}}</p>
    </div>
</div>