<div class="col-4 col-md-offset-1">

    <article = class="partial">

        <img class="cerv" src="{{this.image_url}}" alt="{{this.name}}">
        <h4>{{this.name}}</h4>
        <p class="tagline">{{this.tagline}}</p>
        <hr>
        <p>{{this.description}}</p>


    </article>



</div>