<div class="col-12">
    <h2>{{this.name}}</h2>
</div>
<div class="col-12 col-sm-6 col-md-4 beerpics d-flex justify-content-center">
    <img src={{this.image_url}} class="img-fluid">
</div>
<div class="col-12 col-sm-6 col-md-4">
    <h3>What's in the bottle / tin?</h3>
    <p>
        {{this.description}}
        {{this.tagline}}</p>
</div>
<div class="col-12 col-md-4">
    <h3>Tastes best with...</h3>
    <p>{{this.food_pairing}}</p>
    <h3>Ultimate tips from your brewer</h3>
    <p>{{this.brewers_tips}}</p>
</div>