<div class="beer-item">
    <h1>{{this.name}}</h1>
    <img src={{this.image_url}}>
    <p>{{this.tagline}}</p>
    <p>{{this.description}}</p>
    <a href="/beers/beer-{{this.id}}">view more</a>
</div>