<div id="beer-box-inner">
    <img id="beers" src="{{this.image_url}}" alt="beer">
    <div id="beer-info">
        <a href=/beers/{{this.id}}><h1 id="beer-name">{{this.name}}</h1></a>
        <p id="beer-tagline">{{this.tagline}}</p>
        <p id="beer-description">{{this.description}}</p>
    </div>
</div>
