<div class="beer"><img src="{{image_url}}" alt="{{name}}">
    <p>Name: {{name}}</p>
    <p>Tagline: {{tagline}}</p>
    <p>Description: {{description}}</p>
    <p><a href="/beers/beer-{{id}}" class="underlined">View details</a></p>
</div>