<div class="window">

    <div class="one">
<img src='{{image_url}}' style="height:160px;">
<div id="beers">
    <div id="name">
        <a href="/one-beer/{{id}}">
            <h2>{{name}}</h2>
        </a>
        </div>
    </div>
    </div>

    <div id="description">
        <p>Description : {{description}}</p>
    </div>

    <div id="tagline">
        <h3>Tagline : {{tagline}}</h3>
    </div>

</div>