<div id="beers-container">
    <a href="/beers/{{this.id}}">
        <img src={{this.image_url}}>
    </a>
    <h4>Name : {{this.name}}</h4>
    <p>Description: {{this.description}}</p>
    <p>Tag line: {{this.tagline}}</p>
</div>
