<div class="card d-inline">
    <img class="card-img-top d-flex align-items-center" src="{{this.image_url}}" alt="">
    <div class="card-body">
        <h5 class="card-title font-weight-bold">  <a href="/beers/{{this.id}}">{{this.name}}</a></h5>
        <p class="card-text text-secondary font-italix">{{this.tagline}}</p>
        <p class="card-text text-muted">{{this.description}}</p>
    </div>
</div>