<div class="col-md-4 justify-content-center">
    <div class="beer">
        <img class="img-beer" src="{{image_url}}" alt="{{name}}">
        <div class="beer-body">
            <h4>{{name}}</h4>
            <p>{{description}}</p>
            <p>{{tagline}}</p>
        </div>
    </div>

</div>