
    <ul>
        <li><a href="/beer/{{this.id}}">{{this.name}}</a></li>
        <li>{{this.tagline}}</li>
        <li><img src="{{this.image_url}}" alt=""></li>
        <li>{{this.description}}</li>
    </ul>
