<div class="beerPartial--container">
    <img class="beerPartial--img" src={{this.image_url}} alt="beer-image">
    <div class="beer--description">
        <a href="/beers/beer?id={{this.id}}">
            <h2>{{this.name}}</h2>
        </a>
        <h4>{{this.tagline}}</h4>
        <h3>{{this.description}}</h3>
    </div>
</div>