<div class="col-sm-4 beerpartial">
    <div>
        <img src="{{this.image_url}}" alt="beer-image">
    </div>
    <div>
        <a href="/beers/{{this.id}}"><h3>{{this.name}}</h3></a>
    </div>
    <div>
        <h4>{{this.tagline}}</h4>
    </div>
    <div><p>{{this.description}}</p></div>
</div>