<a href=/beers/{{this.id}}>
  <div class="card card-spacing">
    <img class="card-img-top" src={{this.image_url}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><b>{{this.name}}</b></h5>
      <p class="card-text">{{this.description}}</p>
      <p class="card-text">{{this.tagline}}</p>
    </div>
  </div>
</a>