<img src="{{this.image_url}}" alt="" height="200px">
<div>
    <div><a href="/beers/{{this.id}}">
            <h2>{{this.name}}</h2>
        </a></div>
    <div>
        <p>{{this.tagline}}</p>
        <p>{{this.description}}</p>
    </div>


</div>