<div class="card">

    <a href="/beers/{{id}}">
        <div>
            <img src="{{image_url}}"/>
            <h1>{{name}}</h1>
            <p>{{description}}</p>
            <small>{{tagline}}</small>
        </div>
    </a>
    
</div>


