 <div class="card" style="width: 18rem;">

    <img src="{{this.image_url}}" class="card-img-top" alt="{{this.name}}">

    <div class="card-body">

      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.tagline}}</p>
      <hr>
      <p class="card-text">{{this.description}}</p>


    </div>

  </div>