<div class="col-md-4">
    <article class="card">
        <div class="card-body">
            <img class="card-img-top" src="{{image_url}}">
            <h5 class="card-title">{{name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{tagline}}</h6>
            <p class="card-text">{{description}}</p>
            <a href="/beers/{{id}}" class="btn btn-primary">Beer Details</a>
        </div>
    </article>
</div>