   <h1>Hola</h1>


  <h1>{{name}}</h1>
  <img src="{{image_url}}" alt="">
  <p>{{description}}</p>
  <h3>{{tagline}}</h3>
  
  <ul>
 {{#each food_pairing as |fopa|}}
  <li>{{fopa}}-</li>
 {{/each}}
</ul>
	<h4>Brewer:</h4>
  <p>{{brewers_tips}}</p>


