<div>
<div class="beerImg">
    <img src="{{image_url}}">
</div>
<div class="beerName">
    <a href="/beer/{{this.id}}">{{this.name}}test</a>
</div>
<div class="tagName">
    <span>{{this.tagline}}</span>
</div>
<div class="beerDescription">
    <span>{{description}}</span>
</div>
</div>