{{#each beersArray}}
<div>
    <div>
        <img src="{{this.image_url}}" alt="{{this.name}}">
        <div>
            <div>{{this.name}}</div>
            <div>{{this.tagline}}</div>
            <div>{{this.description}}</div>
        </div>
    </div>
</div>
{{/each}} 