<div class="image-beer-container">
    <img class="image-beer" src={{this.image_url}} alt="image not found">
</div>

<a href="/beers/{{this.id}}">
    <h5>{{this.name}}</h5>
</a>
<div>{{this.description}}</div>
<div>{{this.tagline}}</div>