<div class="beerCard">
    <a href="/beers/beer-{{this.id}}">
        <div class="beer-img">
            <img src="{{this.image_url}}" alt="">
        </div>
    </a>
    <div class="beer-details">
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </div>
</div>