<div class="beer-item">
    <div class="beer-pic">
        <img src="{{this.image_url}}" alt="picture of {{this.name}}">
    </div>
    <div class="beer-info">
        <h2>{{this.name}}</h2>
        <i>{{this.tagline}}</i>
        <p>{{this.description}}</p>
    </div>
</div>