
    <a href="/beers/{{this.id}}/{{this.name}}">
    <img class="beerpictures" src="{{this.image_url}}" alt="{{this.name}}" >
    </a>
    <h2>{{this.name}}</h2>
    <h3>{{this.tagline}}</h3>
    <p>{{this.description}}</p>
    
