<div class="media">
    <img src="{{this.image_url}}" class="mr-3 rounded float-left" style="max-height:100px" alt="this.name">
    <div class="media-body">
        <h5 class="mt-0"><a href="/beers/{{id}}">{{this.name}}</a></h5>
        {{this.description}}
        <p class="font-italic">>{{this.tagline}}</p>
    </div>
</div>