<div class="eachbeer">
  <a href="https://google.com">
    <img class="beer-images" src="{{this.image_url}}" alt="{{this.name}}"/>
  </a>
  <h2 class="beer-title">{{this.name}}</h2>
  <p class="beer-tagline">{{this.tagline}}</p>
  <p class="beer-description">{{this.description}}</p>
</div>

