<div class="basicBeer">
    <div class="beerImage">
        <img src="{{this.image_url}}" alt="poster for {{this.name}}">
    </div>
    <div class="beerInfo">
        <h3>{{this.name}}</h3>
        <p>Tagline: {{this.tagline}} </p>
        <p>This beer is: {{this.description}}</p>
    </div>
</div>