<div class="col-md-6">
    <div class="beer">
        <img class="img-beer" src="{{image_url}}" alt="{{name}}">
    </div>
    <div class="beer-body">
        <h4>{{name}}</h4>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
        <hr>
    </div>
</div>