<div class="birras">
<a href="#">
    <img src={{this.image_url}}>
    </a>
<h3>{{this.name}}</h3>
<p>
{{this.description}}
{{this.tagline}}
{{this.tagline}}
{{food_pairing}}
{{brewers_tips}}
</p>
</div>
