<a href="/beer/{{this.id}}">
  <div class="beer-card">
    <img src="{{this.image_url}}" alt="{{this.name}}">

    <div class="title">
      <h1>{{this.name}}</h1>
      <p class="tagline">{{this.tagline}}</p>
      <p class="description">{{this.description}}</p>
</a>
</div>
</div>