<div class="beer-box">
  <img class="beer-img" src="{{this.image_url}}" alt="beer image">
  <article class="beer-detail">
    <a class="beer-link" href="/beers/{{this.id}}"><h3>{{this.name}}</h3></a>
    <p>{{this.description}}</p>
    <h4>{{this.tagline}}</h4>
  </article>
</div>