
<div class="beer-info-container">

    <figure class="beer-img-container">
        <a href="/beers/{{id}}">
            <img class="beer-img" src="{{image_url}}" alt="{{name}}">
        </a>
    </figure>
    
    <h1 class="beer-title">{{name}}</h1>
    
    <p class="tagline">{{tagline}}</p>
    
    <p>{{description}}</p>
    
</div>