<div class="card margin align-content-center" style="width: 18rem;">
    <img class="card-img-top " src="{{this.image_url}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><a href="/beer/{{id}}">{{name}}</a></h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{tagline}}</p>

    </div>

</div>