<div class="beer2">
    <div class="col1">
        <ul>
            <li>Name : {{paramsBeer.name}}</li>
            <li>TagLine: {{paramsBeer.tagline}}</li>    
            <li>Brewed: {{paramsBeer.first_brewed}}</li>
            <li>Description: {{paramsBeer.description}}</li>
            <li><a href="/beer/{{paramsBeer.id}}"><div class= "movie-link">See more of {{paramsBeer.name}}</a><li>
        </ul>
    </div>
    <div class="col2">
            <img src="{{paramsBeer.image_url}}"  class="image" alt="">
    </div>
</div>


        
        