<div class="col-lg-4">
    <a href='/beers/{{id}}'>   
        <article class="card">
            <img class="card-img-top" src="{{image_url}}" alt="{{name}}">
            <div class="card-body">
            
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">{{tagline}}</p>
            </div>
        </article>
    </a>

</div>