<div class="randomBeers">
<title>Random Beer Partials</title>
<div class="randomItems">
    <div class="randomPicture">
<img src={{this.image_url}}>
</div>
<div class="moreRandomInfos">
<h2>{{this.name}}</h2>
<p>{{this.description}}</p>
<p>{{this.tagline}} </p>
<p>{{this.food_pairing}}</p>
<p>{{this.brewer_tips}}</p>
</div>
</div>
</div>