<div>
  <img src="{{ image_url }}" height="120px" width="120px" alt="{{ name }}" />
  <h1>{{ name }}</h1>
  <p>
    {{ description}}
  </p>
  <p>{{tagline}}</p>
  <p> Food Paring:</p>
  <ul>
    <li>
      {{food_pairing}}
    </li>
  </ul>
  <p>{{brewers_tips}}</p>
</div>