  <h1>Random beer</h1>
<h1>random beers goes here</h1>
<img src={{this.image_url}} alt="">
<h1>{{this.name}}</h1>
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>
<p>{{this.food_pairing}}</p>
<p>{{this.brewers_tips}}</p> 