{{!-- <div class="container">
    <div class="row">
        {{#each arrayCervecitas}}
            <div class="card beer-card" style="width: 24rem;">
                <div id="beer-img">
                     <img src={{this.image_url}} class="card-img-top" alt={{this.name}}>
                </div>
                 <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <h5 class="card-text">{{this.tagline}}</h5>
                </div>
            </div>
         {{/each}}
    </div>
</div>



 --}}

<div class="container">
    <div class="col">
        {{#each arrayCervecitas}}
            {{> beerpartial}}
        {{/each}}
    </div>
</div>