{{#each beersFromApi}}
<div>
    <img src="{{this.image_url}}" alt="{{this.name}}">
    <h6>{{this.name}}</h6>
    <p>Description: {{this.description}}</p>
    <p>Tagline: {{this.tagline}}</p>
</div>
{{/each}}