<h1>All Beers</h1>
<div class="beers-list">

    {{#each beers}}
</div>

<div class="beer-type">
    <img src="{{ image_url }}" alt="{{ name }}">

    <div class="beer-info">
        <h2>{{ name }}</h2>
        <p>{{ tagline }}</p>
        <p>{{ description }}</p>

    </div>
</div>

{{/each}}
</div>
</div>

