
<div>
    <img src="{{image_url}}" alt="">
</div>
<div>
    <h2>{{name}}</h2>
    <h3>{{tagline}}</h3>
    <p>{{description}}</p>
    <h4>Food Pairing</h4>
    <ul>
        <li>{{food_pairing.[0]}}</li>
        <li>{{food_pairing.[1]}}</li>
        <li>{{food_pairing.[2]}}</li>
    </ul>
    <h4>Brewer Tips:</h4>
    <p>{{brewers_tips}}</p>
</div>
