<!-- views/beers.hbs -->

{{!-- layouts/layout --}}

<h1>Beers</h1>
<div class="beer-list">
    {{#each beers}}
    <div class="beer">
        <img src="{{image_url}}" alt="{{name}}">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p><em>{{tagline}}</em></p>
    </div>
    {{/each}}
</div> 

