<div class="beers">
    <h1>Beers</h1>
  {{#each beers}}
   <div class="beersSpecs">
        <img src="{{image_url}}" alt="{{name}}"><br></br>
        <h2>{{name}}</h2>
        <h3>{{tagline}}</h3>
        <p>Description: {{description}}</p>
    </div>
    <br>
  {{/each}}
</div>
