<div class="single-beer">
  {{#if image_url}}
  <div class="img">
    <img src="{{image_url}}" alt="{{name}}">
  </div>
  {{/if}}
  <div class="description">
    <h1>{{name}}</h1>
    <small>{{tagline}}</small>
    <p>{{description}}</p>
    <h2>Food paring</h2>
    <ul>
      {{#each food_pairing}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <strong>Brewers Tips: </strong>
    <span> {{brewers_tips}}</span>
  </div>
</div>