<div class="container">

    <h1>Beers</h1>

    <div class="row">

        {{#each beers}}

        <div class="col-lg-4">
            <div class="allBeers">
                <img src="{{image_url}}" alt="{{name}}">
                <p>{{name}}</p>
                <p>{{description}}</p>
                <p>{{tagline}}</p>
            </div>

        </div>

        {{/each}}

    </div>

</div>