  {{!-- {{> partials}} --}}

 

{{!-- <div class="bFlex beer">
 {{#each beers}}
<div class="bItems">
  
    {{> partials this}}
   
    {{!-- <img class="beerImg" src="{{this.image_url}}" alt="beer here">
    <h2><b><a class="bLinks" href="/beers/beer-{{this.id}}">{{this.name}}</a></b></h2>
    <h4 class="tagLine" >{{this.tagline}}</h4>
    <p>{{this.description}}</p> 
</div> 
{{/each}}   
</div>   --}}






{{!-- original --}}
<div class="bFlex beer">
  {{#each beers}}
  <div class="bItems">
    <img class="beerImg" src="{{this.image_url}}" alt="beer here">
    <h2><b><a class="bLinks" href="/beers/beer-{{this.id}}">{{this.name}}</a></b></h2>
    <h4 class="tagLine" >{{this.tagline}}</h4>
    <p>{{this.description}}</p>
 </div>
 {{/each}}    
</div>