<div class="container">


         <h3>{{ numRecords}} Cervezas</h3>

         {{{{vue-js}}}}
         <div id="app" v-cloak>

            <div class="row">

               <div class="col-xs-12 col-md-4"
                    v-for=" item in listaBeers"
                    style="padding: 5px"
               >
                  <div class="card">

                     <div class="card-body text-center">

                        <h5 class="card-title">
                           {{item.name}}
                        </h5>

                        <p>
                           {{item.tagline}}
                        </p>
                        <img class="img-fluid "
                             style="height:400px"

                             :src="item.image_url"
                             :alt="item.name" />
                        <p>
                           {{item.description}}
                        </p>

                     </div>

                  </div>

               </div>
            </div>


         </div>

         {{{{/vue-js}}}}
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

   const app = new Vue(
           {
              el: '#app',
              data: {
                 listaBeers:{{{jsonBeers}}},
                 isDebug: false
              },
              methods:{},
              mounted() {

              }
           }
   );

</script>
