<div class="row">
    {{#each beers}}

    <div class=" col-md-3">
        <div class="position-relative">
            <img src="{{image_url}}" class="card-beers" alt="{{name}}">
            <h5 class="card-title">{{name}} {{description}} {{tagline}}</h5>
        </div>
    </div>


    {{/each}}
</div>