<h1>Beers !</h1>

{{#each beers}}
<img id="img-beers" src="{{this.image_url}}" alt="{{this.name}}">
<p class="description">Beer Name : {{this.name}}</p>
<p class="description">Description : {{this.description}}</p>
<p class="description">Tags : {{this.tagline}}</p>
{{/each}}