

<div class="beerList">
    {{#each this.listado25Cervezas}}
    <div class="cuadro">
        {{> beerpartial this}}
    </div>
    {{/each}}
</div>

<!--<div>

<p>{{this.id}}</p>
<img style ="width:30px" src="{{this.image_url}}" alt="">
<p>{{this.name}}</p>
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>


</div>-->