<div>



    {{#each beers}}
    {{>beerpartial this}}
    <a href="/{{id}}">xxxxxxxxxxxxxxxxxxxxxxxxx</a>
    <hr>
    {{!-- <img src="{{image_url}}" alt="{{tagline}}">
        {{name}}
        {{description}} --}}

    {{/each}}
</div>