{{!-- {{#each beerArr}}
    <div>
        <img src="{{image_url}}" alt="">
        <h2>{{name}}</h2>
        <h3>{{tagline}}</h3>
        <p>{{description}}</p>
    </div>
{{/each}} --}}

<div class="overview">

{{#each beerArr}}
    <a href='/beers/beer-{{id}}'>
        {{> beerpartial}}
    </a>
{{/each}}

</div>

