<div>
    <h1>Beers</h1>
    <hr>
    <div>
        {{#each beerInfo}}
        <div class="col-md-4">
            <article class="player-card">
                {{!-- <img src="{{image_url}}" alt="{{name}}">
                <p>{{name}}</p>
                <p>{{description}}</p>
                <p>{{tagline}}</p> --}}
                {{!-- bonus con partial --}}
                {{>beerpartial}}
            </article>
        </div>
        {{/each}}
    </div>
</div>