<main class="center">
    <div class="card center" style="width: 64rem;">
      <img class="card-img-top" src={{beer.image_url}} alt="beer">
      <div class="card-body">
        <h3 class="card-title">{{beer.name}}</h3>
        <em><b><p>{{beer.tagline}}</p></b></em>
        <p class="card-text" maxlength="50">{{beer.description}}</p>
        <b><p class="card-text">Food pairings:</p></b>
        <p class="card-text">{{beer.food_pairing}}</p>
        <b><p class="card-text">Tips:</p></b>
        <p class="card-text">{{beer.brewers_tips}}</p>
      </div>
    </div>
</main>
