<h1 class="title">Beers</h1>
<hr>
<ul class="list grid users">
    {{#each beersFromApi}}
    <li class="item">
        <h2 class="title">Hacker {{@index}}</h2>
        {{this.name}} - {{this.tagline}}
        <img src="{{this.image_url}}" alt="a nice beer pic">
        {{this.description}} 

        {{!-- <a href="/ironhacker/{{this._id}}/delete">X</a> --}}
    </li>
    {{/each}}
</ul>