{{!-- {{#each}} --}}

{{!-- <pre>{{ beers.length }}</pre> --}}


<ul>
  {{#each beers}} 
    <li>{{this.name}}</li>
    <li>{{this.image}}</li>
    <li>{{this.description}}</li>
    <li>{{this.tagline}}</li>

  {{/each}}
<ul>


    
