
{{!-- <ul>
  {{#each beers}} 
    <li>{{this.name}}</li>
    <li <img src="{{this.image_url}}"></li>
    <li>{{this.description}}</li>
    <li>{{this.tagline}}</li>

  {{/each}}
<ul> --}}


    {{#each beers}} 
        {{> beerpartial}}
    {{!-- <h3>{{this.name}}</h3>
    <img src="{{this.image_url}}">
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p> --}}

  {{/each}}
