<head>
    <title>Beers</title>
</head>

<body>
    {{#each beersFromApi}}
    <div class="card">
        <img src="{{this.image_url}}" alt="{{this.name}}" style="width:20%">
        <div class="container">
            <h4><b>{{this.name}}</b></h4>
            <p>{{this.description}}</p>
            <p>{{this.tagline}}</p>
        </div>
    </div>
    {{/each}}
</body>

</html>