<div class="row">


    {{#each beerArr}}
    <div class="col-md-4">
        <div class="beer-colum">
            <img src="{{image_url}}" alt="{{name}} ">
            <h4>{{name}}</h4>
            <div class="colorBlueFont">
                <p>{{tagline}}</p>
            </div>
            <p>{{description}}</p>
        </div>
    </div>
    {{/each}}


</div>