<div class="container">




    {{{{vue-js}}}}
        <div id="app" v-cloak>

            <div class="row">


                <div class="col-xs-12 col-md-3">

                    <div v-if="!item.image_url"
                         class="text-align:center; margin:30px">
                        Imagen no disponible
                    </div>

                    <img class="img-fluid"
                         v-if="item.image_url"
                         style="max-height: 600px"
                         :src="item.image_url"
                         :alt="item.name"/>


                </div>
                <div class="col-xs-12 col-md-9">
                    <h3 style="margin-bottom: 20px">Random beer</h3>

                    <h1 class="card-title">
                        {{item.name}}
                    </h1>

                    <h3>
                        {{item.tagline}}
                    </h3>

                    <p>
                        {{item.description}}
                    </p>
                </div>
            </div>


        </div>

    {{{{/vue-js}}}}
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    const app = new Vue(
            {
                el: '#app',
                data: {
                    item: {{{ jsonRandomBeer  }}},
                    isDebug: false
                },
                methods:{
                },
                mounted(){

                }
            }
    );

</script>
