<h1>beers page</h1>

{{#each beers}}
<section>
    <img src="{{this.image_url}}" alt="{{this.name}}" />
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
</section>
{{/each}}