<section class="beer-details">
  {{#each beersFromApi}}
  <div class="detail-card">
    {{> beerPartial this}}
    <h3><b>First Brewed: </b>{{this.first_brewed}}</h2>
    <h3><b>Abv: </b>{{this.abv}}</h2>
    <h3><b>Ibu: </b>{{this.ibu}}</h2>
    <h3><b>Target fg: </b>{{this.target_fg}}</h2>
    <h3><b>Target og: </b>{{this.target_og}}</h2>
    <h3><b>Ebc: </b>{{this.ebc}}</h2>
    <h3><b>Srm: </b>{{this.srm}}</h2>
    <h3><b>Ph: </b>{{this.ph}}</h2>
    <h3><b>Attenuation level: </b>{{this.attenuation_level}}</h2>
    <h3><b>Food pairing</b></h2>
     <ul>
         {{#each food_pairing}}
         <li>{{this}}</li>
         {{/each}}
     </ul>
    <h3><b>Brewer Tips: </b>{{this.brewers_tips}}</h2>
  </div>
  {{/each}} 
</section>