<div>
    <h1>All Beers</h1>
  <div class="row">
    {{#each beers}}
  <div class="beer">
    <img src="{{image_url}}" alt="{{name}}">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
  </div>
{{/each}}
  </div>
</div>
