<div class="box-beers">
    {{#each chelitas}}
        <div class="name-beers">
            {{name}}
        </div>
        <img class="iamge-beers" src="{{image_url}}" alt="{{name}}">
        {{description}}
        {{tagline}}
    {{/each}}
</div>
