<div class="all-beers">
  {{#each beers as |beer|}}
    <div class="individual-beer">
      <a href="beers/{{beer.id}}" class="a-card">
      <div class="card">
        <div class="card-body">
          <img class="small-beer" src="{{beer.image_url}}" alt="beer-image">
          <h3 class="card-title">{{beer.name}}</h3>
          <p>{{beer.description}}</p>
          <h5> {{beer.tagline}}</h5>
        </div>
      </div>
      </a>
    </div>
  {{/each}}
</div>