<div class='beers'>
  <h1>All Beers</h1>
  <div class='beer'>
    {{#each beers}}
      <img src='{{image_url}}' alt='{{name}}' width='100' />
      <h2> {{name}} </h2>
      <p> {{description}} </p>
      <p><em> {{tagline}} </em></p>

    {{/each}}
  </div>
</div>