{{#each beers}}
<a href="/beers">
    <img src="{{image_url}}" alt="Image of {{name}}">
</a>
<h2>
	{{name}}
</h2>
<p>
	Brief description: {{description}}
</p>
<p>
	Also known as: {{tagline}}
</p>

{{/each}}