<div>
    {{> beerpartial this}}
    <p>First brewed: {{first_brewed}}</p>
    <p>ABV: {{abv}}</p>
    <p>IBU: {{ibu}}</p>
    <p>Food pairing: {{food_pairing}}</p>
    <p>Brewers tips: {{brewers_tips}}</p>
</div>