<div class="d-flex flex-wrap">
{{#each data as |beer|}}

<div class="card" style="width: 18rem;">
  <img src={{beer.image_url}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{beer.name}}</h5>
    <p class="card-text">{{beer.description}}</p>
    <h6><strong> Food Pairing</strong></h6>
     <p class="card-ingredients">{{beer.food_pairing}}</p>
     <p> <strong>Brewers Tips :</strong> {{brewers_tips}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{{/each}}
</div>