<div class="container">
    <h1>Estas son mis Beers</h1>

    <div>
        {{#each beers}}
        {{name}}
        <img src="{{image_url}}" alt="{{name}}" class="beers">
        {{description}}
        {{tagline}}
        {{/each}}
    </div>
    
    
    
    
    
    
    
    
    <!--<a href="/" class="btn">ir a home</a>-->
</div>