{{!-- receives beersFromApi and iterate over each beer --}}
{{#each beersFromApi}}
{{!-- makes a card for each beer --}}
<div class="card" style="width: 18rem;">
    <img src="{{this.image_url}}" class="card-img-top" alt="{{this.name}}'s image">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.description}}</p>
        <p class="card-text">{{this.tagline}}</p>
    </div>
</div>
{{/each}}