{{#each beersFromApi}}
    {{> beerpartial}}
<!--
    <div>
        <div>
            <div>
            <a href="/beers/beer-{{this.id}}"><img src="{{this.image_url}}" alt="{{this.name}}"></a>
            </div>
            <div>
            <h3>{{this.name}}</h3>
            <p>{{this.tagline}}</p>
            <p>{{this.description}}</p>
            </div>
        </div>
    </div>
-->
{{/each}}