
<div id="beerCointainer">

  <div id="beerApi">
  {{#each beersApi }}

    <div id="eachBeer">
      {{name}}
    <img src=" {{image_url}} " alt=" {{name}} ">
    {{description}}
    {{tagline}}
    </div>

  {{/each}}
</div>
