
<div>
    {{#each this}}
     <h3>Beer's name:</h3>
     {{name}}
     <br>
     <img src="{{image_url}}" alt="{{name}}">
     <br>
     <h4>Description:</h4>
     {{tagline}}
     <br>
     {{description}}
    {{/each}}
</div>