        <div class="col-md-3">
        <div class="card beer-card">
            <img src="{{image_url}}" class="card-img-top" alt="{{name}}">
            <div class="card-body">
                <h5 class="card-title"><a href='/beers/beer_click/{{id}}'>{{name}}</a>{{tagline}}</h5>
                <p class="card-text">{{description}}</p>
            </div>
        </div>
        </div>