<div class="container ">
    <div class=" row ">
        <div class="col-md  ">
            <img src="{{beer.image_url}}" class="card-img-top beer-img" alt=" {{beer.name}}">
            <div>
                <h5 class="card-title fw-bolder ">{{beer.name}}</h5>
                <p class="text-secondary card-text">{{beer.tagline}}</p>
                <p class="card-text"> {{beer.description}}</p>
            </div>

        </div>
    </div>
</div>