<div class="main">

    <h2 class="subtitle">More infos about {{name}} ! </h2>

    <img
        class="image small"
        src="{{image_url}}"
    />

    <p class="text">First brewed in : {{first_brewed}}</p>

    <ul class="list">
        <li class="item">ABV : {{abv}}</li>
        <li class="item">IBU : {{ibu}}</li>
        <li class="item">EBC : {{ebc}} </li>
        <li class="item">PH : {{ph}}</li>
        <li class="item">PH : {{ph}}</li>
        <li class="item">VOLUME : {{volume}}</li>
    </ul>

</div>