<div class="container">

    {{#each beersFromApi}}
    {{!-- Display an image, name, description and tagline. --}}
    <div class="row">

        <div class="card col-sm-4" style="width: 18rem;">
            <img class="card-img-top" src="{{image_url}}" alt="{{name}}">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
                <p class="card-text"><small class="text-muted">{{tagline}}</small></p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
</div>