
<div class="card">
  {{#each beers}}
    <div class = "cards-container">
    <img src ={{image_url}} alt={{name}} id="beer-picture"/>
    <a id ="beer-link" href="/product-details/{{id}}">{{name}}</a>
    <h4>{{tagline}}</h4>
    <p>{{description}}</p> 
    </div>
  {{/each}}

</div>
