<div class="col-md-3">

    <article>

       <img class="imageClass" src={{image_url}} alt={{name}}>
         <div>
        
             <h5>{{name}}</h5>
             
             <p>{{description}}</p>
             
             <p>{{tangline}}</p>

         </div>
   
   
    </article>

</div>