<div class="random_beer">
      <img class="beer_image" src={{theBeer.image_url}}>
      
      <div class="random_beer_item">
      <h4>{{theBeer.name}}</h4> 
      
      <div class="beer_tag">{{theBeer.tagline}}</div>
      
      <p><strong>First Brewed:</strong> {{theBeer.first_brewed}}</p>
       
      {{theBeer.description}}
      <h4>Ingredients:</h4>
      {{theBeer.ingredients}}

      <h4>Food Pairing:</h4>
      {{theBeer.food_pairing}}
      <p><strong>Brewers Tips:</strong> {{theBeer.brewers_tips}}</p>
      </div>
</div>