<div>
    <div>
        {{#each beersFromApi}}
        <div align="center">
            <img class ="imgBeers" alt="{{name}}" src="{{image_url}}" />
            <div>
                <h3>{{name}}</h3>
                <h5>{{tagline}}</h5>
                <p>{{description}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>