<div class = 'row'>
{{#each theBeers}}
{{!-- <div class="col-md-4">
    <div class='beersList'>
        
        <img src="{{image_url}}" alt="{{name}}">
        <article class="beerinfo">
        <h4>{{name}}</h4>
        <h5>{{tagline}}</h5>
        <p>{{description}}</p>
        </article>
       
    </div>

</div> --}}
{{>allbeers}}
{{/each}}
</div>