<div class="container">
    <article class="row">
        {{#each beersFromApi}}
        <img src="{{image_url}}" alt="{{name}}">
        <p>Name: {{name}}</p>
        <p>Description: {{description}}</p>
        <p>Tagline: {{tagline}}</p>
        {{/each}}
    </article>

</div>






