<div class="container mt-5">

    <div class="row">

        {{#each allBeers}}
        <div class="col-md-4 mb-3">
            <div class=" card">
                <img class="card-img-top img" src="{{image_url}}" alt="">
                <div class="card-body">
                            <h3>{{name}}</h3>
                            <p>{{description}}</p>
                            <p>{{tagline}}</p>
                            <div>
                                <h4>Food Pairing</h4>
                                <ul>
                                    {{#each food_pairing}}
                                    <li>{{this}}</li>
                                    {{/each}}
                            
                                </ul>
                            </div>
                            <p>
                                <span>Brewers Tips</span>
                                {{brewers_tips}}
                            </p>
                </div>
            </div>
        </div>
        {{/each}}
     </div>
   
    <hr>
    <a href="/" class="btn btn-dark">Back to Home</a>
</div>
