<h1>List of Beers</h1>

<ol>
    {{#each arrayOfBeers}}
    <div>
        <li>name: {{this.name}}</li>
        <li>tagline: {{this.tagline}}</li>
        <li>description: {{this.description}}</li>
        <img src="{{this.image}}" alt="image of {{this.name}}">
    </div>
    {{/each}}
</ol>