<h1>Beers</h1>
{{#each beers}}
  <div class="beer-card">
    <img src="{{image_url}}" alt="{{name}}">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>Tagline: {{tagline}}</p>
  </div>
{{/each}}
