<h1>Beers</h1>

{{#each beers}}

    {{log this}}

<div>
    <img src="{{ image_url }}" alt="{{ name }}">
    <h2>{{ name }}</h2>
    <p>{{ description }}</p>
    <p>{{ tagline }}</p>
</div>
{{/each}}
