<div>
    {{#each this}}
        <h3>Name</h3>
        {{name}}
        <img src={{image_url}} alt={{name}}>
        <h3>Tagline</h3>
        {{tagline}}
        <h3>Description</h3>
        {{description}}
    {{/each}}
</div>