<div>
    {{#each beersList}}   {{!- now we loop through our array of beers retreived, using their key values below}}
    <div>
        <img src="{{image_url}}" alt="{{description}}">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
    </div>
    {{/each}}
</div>