<div class='container beers'>
  <div class='row row-cols-1 row-cols-md-2 g-5'>
    {{#each beers}}
      <div class='col'>
        <div class='card-body'>
          <div class='row'>

            {{#if_even @index}}
              <div class='card-img-wrapper col-5'>
                <img src='{{image_url}}' alt='{{name}}' />
              </div>
            {{/if_even}}

            <div
              class='card-text col-6 d-flex justify-content-center flex-column'
            >
              <h1 class='mb-5'>{{name}}</h1>
              <h5 class='card-tagline pb-5'>{{tagline}}</h5>
              <p class='card-text'>{{description}}</p>
            </div>

            {{#if_odd @index}}
              <div class='card-img-wrapper col-5'>
                <img src='{{image_url}}' alt='{{name}}' />
              </div>
            {{/if_odd}}

          </div>

        </div>
      </div>
    {{/each}}
  </div>
</div>