{{#each beers}}
    {{> beerpartial}}
{{/each}}

{{!-- {{#each beers}}
  <div class='container mt-5'>
    <div class='row'>
      <div class='col-4'>
        <a href='#'>
          <img
            src='{{this.image_url}}'
            alt='Poster for {{this.name}}'
            class='col-2'
          />
        </a>
      </div>
      <div class='col-8'>
        <h2>
          {{this.name}}
        </h2>
        <p>
          Description:
          {{this.description}}
        </p>
        <p>
          Tagline:
          {{this.tagline}}
        </p>
      </div>
    </div>
  </div>

{{/each}} --}}