{{#each responseFromAPI}} <!-- Loop -->
    <p>{{id}}</p>
    <h2>{{name}}</h2>
    <p>{{tagline}}</p>
    <p>{{first_brewed}}</p>
    <p>{{description}}</p>
    <img src="{{image_url}}">
    <p>{{abv}}</p>
    <p>{{ibu}}</p>
    <p>{{target_fg}}</p>
    <p>{{target_og}}</p>
    <p>{{ebc}}</p>
    <p>{{srm}}</p>
    <p>{{ph}}</p>
    <p>{{attenuation_level}}</p>
    <p>{{volume}}</p>
    <p>{{boil_volume}}</p>
    <p>{{method}}</p>
    <p>{{ingredients}}</p>
    <p>{{food_pairing}}</p>
    <p>{{brewers_tips}}</p>
    <p>{{contributed_by}}</p>
{{/each}} <!-- Close Loop -->