  
<div class="bFlex beer">
 
{{#each beers}}

    <div class="bItems">
      
    <img class="beerImg" src="{{this.image_url}}" alt="beer here">
   
  <h3><b><a class="bLinks" href="/beers/beer-{{this.id}}">{{this.name}}</a></b></h3>
  
  <h5 class="tagLine" >{{this.tagline}}</h5>
  <p>{{this.description}}</p>
 </div>
 {{/each}}  
  
  
</div>
