<div>

{{#each selectBeer}}
<img src="{{this.image_url}}">
<h1>{{this.name}}</h1>
{{this.description}}
{{this.tagline}}

{{/each}}
</div>

<!--
    <ul>
        {{#with address}}
            <p>{{street}}, {{number}}</p>
        {{/with}}
    </ul>
-->

</div>