<div class="container beers">

    <div class="row beers">
        {{#each beers}}
        <div class="col-md-4">
            <div class="card mb-4 player-card">
                <img src="{{image_url}}" class="card-img-top object-fit-scale" alt="{{name}}">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text "> {{tagline}}</p>
                </div>
            </div>
        </div>
        {{!-- {{>beerpartial}} --}}
        {{/each}}
    </div>
</div>