


<ul>
    {{#each beers as |beer|}}
      <li>
        {{beer.name}}
        <img hrec = {{beer.image}}/>
        {{beer.name}}
        {{beer.description}}
        {{beer.tagline}}
      </li>
        {{/each}}
  </ul>