<h1>Uniques beer page</h1>


<section>
   {{> beerpartial }}
    <ul>
        {{#each food_pairing}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>{{brewers_tips}}</p>
    <p>{{first_brewed}}</p>
    <p>{{volume.value}} {{volume.unit}} </p>
    
</section>