<div class="container">

    <div class="row">
        {{#each beers}}
        <div class="col-md-4">
            <article class="beer-card">
                <div class="card-img">
                    <img class="d-block" src="{{image_url}}" alt="{{name}}">
                </div>
                <h2>{{name}}</h2>
                <h3>{{tagline}}</h3>
                <p>{{description}}</p>
            </article>
            {{!-- {{> partial-beers}} --}}
        </div>

        {{/each}}
    </div>

</div>