<h1>{{name}}</h1>
<ul>
    {{#each breweryId}}
    <li>{{id}}</li>
    <li>{{name}}</li>
    <li>{{brewery_type}}</li>
    <li>{{address_1}}</li>
    <li>{{city}}</li>
    <li>{{state_province}}</li>
    <li>{{postal_code}}</li>
    <li>{{country}}</li>
    <li>{{phone}}</li>
    <li>{{website_url}}</li>
    <li>{{state}}</li>
    <li>{{street}}</li>
    {{/each}}
</ul>