<div class="myCont-random container">
    <img src="{{beers.image_url}}" class="random-beer" alt="Pic of {{beers.name}}">
    <div>
        <h2 class="display-4">{{beers.name}}</h2>
        <h5 class="tagline-beerss">{{beers.tagline}}</h5>
        <p>{{beers.description}}</p>
        <p><b>Food pairing:</b></p>
        <ul>
            {{#each beers.food_pairing as |food|}}
            <li>{{food}}</li>
            {{/each}}
        </ul>
        <p><b>Brewers tips:</b> {{beers.brewers_tips}}</p>
        <p class="s">Not convinced? <a class="btn btn-secondary btn-sm col-1 s" href="/random-beers" role="button">Next!</a></p>
</div>