<h1>Birras</h1>

    {{>partials}}
        {{#each this.food_pairing}}
            <li>{{this}}</li>
        {{/each}}
        {{this.brewers_tips}}
        {{this.first_brewed}}
        {{this.ph}}
        {{this.abv}}
        {{this.yeast}}
        {{ingredients}}

