{{#each idBeerArr}}

    {{> beerPartial }}
    <p>ID : {{this.id}}</p>
    <p>Food Pairing</p>
    <ul>
        <li>{{this.food_pairing.[0]}}</li>
        <li>{{this.food_pairing.[1]}}</li>
        <li>{{this.food_pairing.[2]}}</li>
    </ul>
    <p>Brewer's Tips: {{this.brewers_tips}}</p>

{{/each}}