<div class="random-beer">
    <img src="{{randomBeer.image_url}}" alt="{{randomBeer.name}}">
    <h2>{{randomBeer.name}}</h2>
    <p>Description: {{randomBeer.description}}</p>
    <p>Tagline: {{randomBeer.tagline}}</p>
    <p>Food Pairing: {{#each randomBeer.food_pairing}}{{this}}, {{/each}}</p>
    <p>Brewer Tips: {{randomBeer.brewers_tips}}</p>
</div>