<div class="container-random">
    <div>
        <img class="random-img" src="{{responseFromAPI.image_url}}">
    </div>
    <div class="random-text">
        <h3>{{responseFromAPI.name}}</h3>
        <p class="random-text-tagline">{{responseFromAPI.tagline}}</p>
        <p>{{responseFromAPI.description}}</p>
        <h6>Food pairing</h6>
        <ul>{{#each responseFromAPI.food_pairing}}
                <li class="random-text-li">{{this}}</li>
            {{/each}}
        </ul>
        <p><b>Brewers Tips: </b>{{responseFromAPI.brewers_tips}}</p>
    </div>
</div>




