<div class="random-page">

    <div class="random-img">
      <img src="{{responseFromApi.image_url}}" alt="{{responseFromApi.name}}"/>
    </div>

    <div class="random-body">        
        <h5>{{responseFromApi.name}}</h5>
        <h6>{{responseFromApi.tagline}}</h6>
        <p>{{responseFromApi.description}}</p>
        <p>
        <h4>Food Pairing</h4>
        {{#each responseFromApi.food_pairing}}
        <ul>
            <li>{{this}}</li>
        </ul>
        {{/each}}
        </p>
      <p> <b>Brewers Tip:</b> {{responseFromApi.brewers_tips}}</p>
    </div>

</div>