<div class="beercontainer">
{{#each beer }}
{{!-- <img src="{{this.image_url}}" alt="beer-pic">
<p>Name : {{this.name}}</p>
<p>Description : {{this.description}}</p>
<p>Tagline : {{this.tagline}}</p> --}}

{{> beerpartial beer=this }}
<p>Food pairing : {{this.food_pairing}}</p>
<p>Brewer tips : {{this.brewers_tips}}</p>


{{/each}}

</div>