<h1>Ramdom Beer</h1>

<div>
    {{#each randomBeers}}
    <img id="img-beers" src="{{this.image_url}}" alt="{{this.name}}">
    <p class="description">Name : {{this.name}}</p>
    <p class="description">Description : {{this.description}}</>
    <p class="description">TagLine : {{this.tagline}}</p>
    {{/each}}
</div>