{{#each randomBeer}}
<p>name: {{name}}</p>
<p>description: {{description}}</p>
<p>tagline: {{tagline}}</p>
<p>food pairing: {{food_pairing}}</p>
<p>brewers tips: {{brewers_tips}}</p>
<img src={{image_url}}>
{{/each}}