    <div>
    {{#each beersFromApi}}
    <div>
    <p>{{name}}</p>
    <img src="{{this.image_url}}">
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <p>{{brewers_tips}}</p>
     </div>
     <ul>
     {{#each food_pairing}}
    <li>{{this}}</li>
    {{/each}}  
    </ul> 

    </div>
    {{/each}}  
    </div>