<div id="generalContainer">
     
    <div id="rowContainer">
           
        <div id="beerImages">
            <img id="beerCardImages" src="{{image_url}}" alt="">
        </div>

        <div id="contentContainer">
            <p class="nameContent">{{tagline}}</p> 
            <p class="beerContent" id="beerContentGrey">Hello My Name Is {{name}}</p>
            <p class="beerContent">{{description}}</p>
            <p class="beerContent">
                <h4 class="beerContent">Food pairing:</h4>
                <ul class="beerContent">
                    <li class="random-beer-food-pairing">{{food_pairing.[0]}}</li>
                    <br>
                    <li class="random-beer-food-pairing">{{food_pairing.[1]}}</li>
                    <br>
                    <li class="random-beer-food-pairing">{{food_pairing.[2]}}</li>
                </ul>
                
                </p>
            <p class="beerContent"><b>Brewers tips: </b>{{brewers_tips}}</p>
        </div>
    </div>
</div>