<div>
    <article>
        {{#each responseFromAPI}}
        <img src="{{image_url}}">
        <h1>{{name}}</h1>
        {{description}}
        {{tagline}}
        {{food_pairing}}
        {{brewers_tips}}
        {{/each}}
    </article>
</div>