<div class="random_beer">
       
        <img class="beer_image" src={{randomBeer.image_url}}>
        <div class="random_beer_item">
        <h3>{{randomBeer.name}}</h3> 
       
        <div class="beer_tag">{{randomBeer.tagline}}</div>
        <p class="beer_des">{{randomBeer.description}}</p>
         
        <h4>Food Pairing</h4>
        {{randomBeer.food_pairing}}
        <p><strong>Brewers Tips:</strong> {{randomBeer.brewers_tips}}</p>
        </div>

</div>