<main>
    {{#each data}}
        <h4>{{name}}</h4>
        <p>{{description}}</p>
        <img src='{{image_url}}'>
        <p>{{tagline}}</p>
        <p>{{food_pairing}}</p>        
        <p>{{brewer_tips}}</p>

    
    {{/each}}
</main>