<div>
    {{#each beer}}
        {{this.image}}
        {{this.name}}
        {{this.description}}
        {{this.tagline}}
        {{this.food_pairing}}
        {{this.brewer_tips}}
    {{/each}}
</div>