
 {{#each randomBeer}}
<div>
   
<img src="{{image_url}}" alt="{{name}}">

<ul>
    <li>{{name}}</li>
    <li>{{description}}</li>
    <li>{{tagline}}</li>
    <li>{{food_pairing}}</li>
    <li>{{brewers_tips}}</li>
</ul>

</div>
 {{/each}}