<div class='random'>
  <div class='element-image'>
    <img src='{{image_url}}' alt='beer' />
  </div>
  <div>
    <h3>{{name}}</h3>
    <h4>{{tagline}}</h4>
    <p>{{description}}</p>

    <p class='sub' id='food'>Food Pairing</p>
    <ul class='pairing'>
      {{#each food_pairing}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p id='random'><span class='sub'>Brewers Tips: </span>{{brewers_tips}}</p>
  </div>
</div>