<div class="op-page">
  <div class="op-beer">
    <img class="op-img" src="{{beer.[0].image_url}}" alt="">
    <h1 class="op-title">{{beer.[0].name}}</h1>
    <h2 class="op-subtitle">{{beer.[0].tagline}}</h2>
    <p class="op-description">{{beer.[0].description}}</p>
    <p class="op-foodpairing"><b>Food Pairing:</b>{{beer.[0].food_pairing}}</p>
    <p class="op-brewertips"><b>Brewer's Tips:</b> {{beer.[0].brewers_tips}}</p>
  </div>
</div>