<div class="ramdon-beer">
  <ul>
  {{#each responseFromAPI}}

    <img src='{{this.image_url}}' alt='Beers'>

    <h1>{{this.name}}</h1>

    <p>{{this.description}}</p>

    <h6>{{this.tagline}}</h6>


    <h1>Food pairing </h1>

    <ul>
       {{#each food_pairing}}
 
          <li>{{this}}</li>
   
      {{/each}}
    </ul>

    <h4>Brewer Tips</h4>
    {{this.brewers_tips}}


  {{/each}}

</ul>

<a class="home-btn" href="/index">home</a>
</div>
