<div id="random-beer">
    <img src="{{beer.image_url}}" alt="">
    <div>
        <h2>{{beer.name}}</h2>
        <p>{{beer.tagline}}</p>
        <p>{{beer.description}}</p>
        <div>{{beer.food_pairing}}</div>
        <p>{{beer.brewers_tips}}</p>
    </div>
</div>