<h1>Random Beer</h1>
{{#each responseFromAPI}}
<div>
    <img src="{{this.image_url}}" alt="image">
    {{this.name}}
    {{this.description}}
    {{this.tagline}}
    {{this.food_pairing}}
    {{this.bewer_tips}}
</div>
{{/each}}