{{#each beers}}
<h2>{{name}}</h2>
<h3>{{tagline}}</h3>
<img src={{image_url}} alt="imagen beer" style="width: 50px;">
<p>{{description}}</p>
<ul>
    {{#each food_pairing}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<p>{{brewers_tips}}</p>
{{/each}}