{{#each responseFromApi}}
  <div class='randomBeer'>
    <div class='imageRandom'>
      <img id='image-random' src={{image_url}} alt='' />
    </div>
    <div class='textoRandom'>
      <h3><b> {{name}} </b> </h3>
      <p>{{description}}</p>
      <p>{{tagline}}</p>
      <p><b> Food Paring </b>
        <ul>
          {{#each food_pairing}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </p>
      <p><b>Brewer Tips:</b> {{brewers_tips}}</p>
    </div>

  </div>
{{/each}}