<main>
    <div class="card mb-3">
      {{#each responseFromAPI}}
        <div class="row">
            <div class="col-md-4 col-lg-3">
            <img src="{{this.image_url}}" class="randomImg" alt="beer">
            </div>
            <div class="col-md-8">
            <div class="card-body random-beer-info">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text text-muted">{{this.tagline}}</p>
                    <p class="card-text">{{this.description}}</p>
                    <h7>Food Pairing</h7>
                    <ul>
                        {{#each food_pairing}}
                            <li>{{this}}</li>
                        {{else}}
                            <li>List is not available</li>
                        {{/each}}
                    </ul>
                    <p><strong>Brewers Tips: </strong>{{this.brewers_tips}}</p>
            </div>
            </div>
        </div>
      {{/each}}
</div>
</main>
