<h1>Random Beer</h1>

<div>
  <h2>{{beer.name}}</h2>
  <img src='{{beer.image_url}}' alt='{{beer.name}} Image' class='beer-images' />
  <p>{{beer.description}}</p>
  <p><strong>Tagline:</strong> {{beer.tagline}}</p>
  <p>{{beer_details}}</p>
</div>