<div class="beer-details">
  <img src="{{beer.image_url}}" alt="{{beer.name}}">
  <h2>{{beer.name}}</h2>
  <p><strong>Description:</strong> {{beer.description}}</p>
  <p><strong>Tagline:</strong> {{beer.tagline}}</p>
  <p><strong>Food Pairing:</strong> {{beer.food_pairing}}</p>
  <p><strong>Brewer Tips:</strong> {{beer.brewers_tips}}</p>
</div>