<div class="random-beer">
    <h1>Random Beer</h1>
    {{#each getRandomBeer}}
    <div class="randomBeerSpecs">
      <img src="{{image_url}}" alt="{{name}}"><br>
        <h2>{{name}}</h2>
        <h3>{{tagline}}</h3>
        <p>Description: {{description}}</p>
        <h3>Food Pairing: {{food_pairing}}</h3>
         <ul>
          <li>{{this}}</li>
        </ul>
        <br>
        <p>Brewer Tips: {{brewer_tips}}</p>
    </div>
      {{/each}}
</div>