<p> {{ cervezaRandom.id }}</p>
    <img style='width:20px' src='{{this.image_url}}'>
    
    <p>{{this.food_pairing}}</p>
    <p>{{this.brewers_tips}}</p>
    <p>{{this.food_pairing}}</p>
    <p>{{this.brewers_tips}}</p>
