{{#each responseFromAPI}}
    <img src="{{ image_url }}" alt="beer image">
    <h1>{{ name }}</h1>
    <p>{{ description }}</p>
    <p>{{ tagline }}</p>
    <h3>Food Pairing</h3>    
    <p>{{ this.food_pairing }}</p>


{{/each}}