<h1> Random Beer </h1>
<article Class='card'>
  <img src='' alt='' />
  <div>

    <img src={{image_url}} height='200px' />
    <h2>{{name}}</h2>
    <b>Food Pairing</b>
    <ul>
      {{#each food_pairing}}
        <li> {{this}} </li>
      {{/each}}
    </ul>
    <h5>{{tagline}} </h5>
    <p>{{description}} </p>

  </div>
</article>