{{#each beer}}
<img src={{image_url}} alt="error">
    <p>Name : {{name}}</p>
    <p>Description: {{description}}</p>
    <p>{{tagline}}</p>
    <p>Goes well with:</p>
    <ul>
        {{#each food_pairing}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>Brewers Tips: </p>
    <ul>
        <li>{{brewers_tips}}</li>
    </ul>
{{/each}}