{{#each beer}}

<div>
    <h3> <img src="{{this.image_url}}" alt=""></h3>
    <h3>{{this.name}}</h3>
    <h3>{{this.description}}</h3>
    <h3>{{this.tagline}}</h3>
    <h3>{{this.food_pairing}}</h3>
    <h3>{{this.brewers_tips}}</h3>
</div>

{{/each}}