<div class="container">

    <h1>Beer to discover</h1>
    {{#each random}}
    <div class="row">

        <div class="col-3"><img class= "image" src="{{this.image_url}}" alt="{{this.name}}"></div>
        <div class="col-9">
            <div class="row">
                <div class="col-12">{{this.name}}</div>
                <div class="col-12">{{this.description}}</div>
                <div class="col-12">{{this.tagline}}</div>
                <div class="col-12">{{this.brewers_tips}}</div>
            </div>
        </div>

    </div>
    {{/each}}
</div> 

