<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<ul>
  {{#each RbeersFromApi}}
    <li>
      <h2>{{name}}</h2>
      <div style="display: flex; flex-direction: row;">
      <img src={{image_url}} alt="" width="70px" height="200px">
      <div style ="width:500px">
      {{tagline}}
     {{description}}
      </div>
      </div>
     </li>

  {{else}}
    <p>No beers yet!</p>
  {{/each}}
</ul></body>
</html>