<div class="card mb-4" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md">
      <img src="{{image_url}}" class="img-fluid rounded-start" alt="{{name}}">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h4 class="card-title">{{name}}</h4>
        <p class="card-text">{{description}}</p>
        <h5 class="card-tagline">{{tagline}}</h5>
        <h6 class="card-text">Food_Pairing:</h6>
        <p class="card-text">{{food_pairing}}</p>
        <h6 class="card-text">Brewers tips:</h6>
        <p class="card-text">{{brewers_tips}}</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">

   