<div class="container">

    <div class=" row">
        {{#each randombeer}}
        <div class=" col-12">

            <img src="{{image_url}}" alt="{{name}}">
            <p>{{name}} {{tagline}} {{description}} {{food_pairing}} {{brewers_tips}}</p>

        </div>
        {{/each}}

    </div>

</div>