<div class="">
    <h1>random-beer</h1>
    {{#each responseFromAPI}}
    {{name}}
    {{image_url}}
    <img src="{{image_url}}" alt="">
    {{description}}
    {{tagline}}
    {{food-pairing}}
    {{brewer-tips}}
    {{/each}}
</div>