<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Beer</title>
</head>

<body>
    <div>
        <img src="{{this.image_url}}" alt="Image">
        <h2>{{this.name}}</h2>
        <h5>{{this.tagline}}</h5>
        <p>{{this.description}}</p>
        <h6>{{this.food_pairing}}</h6>
        <h6>{{this.brewers_tips}}</h6>
    </div>
</body>

</html>