<div class="beersunit">
<img class="random-img"  alt="{{name}}" src="{{image_url}}" />
<br>
<div class="info"></div>
<h2>{{name}}</h2>
<br>
<h5 class="tagline">{{tagline}}</h5>
<br>
<p class="description">{{description}}</p>
<br>
<p><b>Food pairing:</b> {{ this.food_pairing }}</p>
<br>
<p><b>Brewers Tips:</b> {{brewers_tips}}</p>
</div>
</div>