<div>
    {{#each responseFromAPI}}
        <div>
        <img src="{{image_url}}" alt="beers image">
        {{name}}
        {{description}}
        {{tagline}}
        {{food_pairing}}
        {{brewers_tips}}
        </div>
    {{/each}}
</div> 