<div>{{#each beersFromApi}}

    <img src={{this.image}} alt="beer-image">
    <p>{{this.name}}</p>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    <p>{{this.food-pairing}}</p>
    <p>{{this.brewer-tips}}</p>
    {{/each}}
</div>