<div class='beer-cards-wrap'>
    <div class='random-beer-card'>

      {{#if beer.image_url}}
        <img
          src='{{beer.image_url}}'
          alt='image of a beer named {{beer.name}}'
        />
      {{/if}}

      {{#unless beer.image_url}}
        <h1 id="noImgH1">🥴</h1>
      {{/unless}}

      <h2>{{beer.name}}</h2>
      <p class='tagline'>{{beer.tagline}}</p>
      <p>{{beer.description}}</p>
      <h3>Food pairing</h3>
      <ul>
      {{#each beer.food_pairing}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
        <p><span>Brewer Tips: </span>{{beer.brewers_tips}}</p>
      </p>
    </div>
</div>