
<div class="container">
    <h1>Beers</h1>
   <h2> {{name}} </h2>
    <div class="card-group">
        <div class="col-4 same-height">
            <div class="card">
                <img class="card-img-top" src="{{image_url}}" alt="{{tagline}}">
                <div class="card-body">
                    <h5>{{name}}</h3>
                </div>
                <p class="card-text" >{{description}}</p>
                <p class="card-text"> {{food_pairing}} </p>
                <p class="card-text"> {{brewers_tips}} </p>
            </div>
        </div>

    </div>



</div>
</div>