 <div>
      {{#each randomBeers}}
    <img src='{{image_url}}' alt='{{name}}' />
      <h4>{{name}}</h4>
      <h5>{{tagline}}</h5>
      <p>{{description}}</p>
      <p>{{food_pairing}}</p>
      <p>{{brewers_tips}}</p>
         {{/each}}
    </div>