{{#each randombeers}}
    <img src="{{image_url}}" alt="">
   <h2>{{name}}</h2>
   <h3>{{description}}</h3>
   <h5>{{tagline}}</h5>
   <ul>
       <li><h6>{{food_pairing}}</h6></li>
       <li><h6>{{brewers_tips}}</h6></li>
   </ul>
   

   {{/each}}
