<div class="container random-beer">
    <div class="row">
        {{#each beerRandom}}
        <div class="col-sm-4">
            <img class="image-beer" src="{{image_url}}>
        </div>
        <div class="col-sm-8">
            <h1>{{name}}</h1>
            <p class="tagline">{{tagline}}</p>
            <p>{{description}}</p>
            <ul>
                <b>Food Pairing</b>
                {{#each food_pairing}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p><b>Brewers Tips</b>{{brewers_tips}}</p>


        </div>
        {{/each}}
    </div>
</div>