<div class="beer" style="width: 33.333%;">
    <img class="random-img-top" src="{{new.image_url}}" alt="">
    <div class="random-beer-body">
        <h5 class="beer-title">{{new.name}}</h5>
        <p class="beer-text">{{new.description}}</p>
        <p class="beer-text">{{new.tagline}}</p>
        <p class="beer-text">{{new.food_pairing}}</p>
        <p class="beer-text">{{new.brewer_tips}}</p>
    </div>
</div>