{{!-- <img src='{{randomBeer.image_url}}' alt='random beer image' />
<p>{{randomBeer.name}}</p>
<p>{{randomBeer.description}}</p>
<p>{{randomBeer.tagline}}</p> --}}


  
{{>beerpartial randomBeer}}

<div class="right description">
  <p class="bolder">Food Paring</p>
  <ul>
    {{#each randomBeer.food_pairing}}
      <li class="indent">{{this}}</li>
    {{/each}}
  </ul>
  <p><span class="bolder">Brewers Tips:</span> {{randomBeer.brewers_tips}}</p>
</div>





