{{#each beers}}

<div class="random">
    <img src="{{image_url}}" alt="">
    <h2>{{name}}</h2>
    <p>Description: {{description}}</p>
    <p>Tagline: {{tagline}}</p>
    <p>Rating: {{rate}}</p>
    <p>Food Pairing: {{food_pairing}}</p>
    <p>Rating: {{brewers_tips}}</p>
</div>

{{/each}}