
<div>
    <div>
<img src={{random.image_url}} alt="beer image">
    </div>
<h1>{{random.name}}</h1>
<h4>{{random.tagline}}</h4>
<p>{{random.description}}</p>
<ul>
    {{random.food_pairing}}
</ul>
<p>{{random.brewers_tips}}</p>
</div>