<div>
    <ul>
        {{randomBeer}}
          <img class="beers-from-API"
          src="{{this.image_url}}"
          alt="{{this.name}}">
          <li>{{this.name}}</li>
          <p>{{this.tagline}}</p>
          <p>{{this.description}}</p>
          <p>{{this.foodPairing}}</p>
          <p>{{this.brewerTips}}</p>
    </ul>
</div>