<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{random.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h4>{{random.name}}</h4>
    <p class="card-text">{{random.description}}</p>
    <p class="card-text">{{random.tagline}}</p>
    <p class="card-text">{{random.food_pairing}}</p>
    <p class="card-text">{{random.brewers_tips}}</p>
  </div>
</div>