{{#each randomBeer }}
<div class="media">
    <img src="{{image_url}}" width="100" height="400" >
    <div class="media-body">
        <h3 >{{name}}</h3>
        <h5>Description:</h5>
        <p>{{description}}</p>
        <h5>Tagline:</h5>
        <p>{{tagline}}</p>
        <h5>Food Pairing:</h5>
        <ul>
            <li>
                {{food_pairing}}
            </li>
        </ul>
        <h5>Brewers Tips:</h5>
        <p>{{brewers_tips}}</p>
    </div>
</div>
{{/each}}


<footer class="t-random">
    <p>Develop by Ironhack ;)</p>
</footer>