<div>

    {{#each randomBeer}}
     <img src="{{image_url}}" alt="imagen cerveza">
        <h2>{{name}}</h2>
        <h4>{{description}}</h4>
        <h5>{{tagline}}</h5>
        <h4>{{food_pairing}}</h4>
        <h4>{{brewer_tips}}</h4>

        {{/each}}



    </div>