<img src="{{randomBeer.image_url}}" alt="">
<h1>{{randomBeer.name}}</h1>
<h3>{{randomBeer.tagline}}</h3>
<p>{{randomBeer.description}}</p>
<p>{{randomBeer.food_pairing}}</p>
<p>{{randomBeer.brewers_tips}}</p>
