<main>
        <h1>Random Beer Details</h1>
        <img src="{{ beer.image_url }}" alt="{{ beer.name }}">
        <h2>{{ beer.name }}</h2>
        <p>{{ beer.tagline }}</p>
        <p>{{ beer.description }}</p>
 </main>