
  {{#each beers}} 
    {{!-- <h3>{{this.name}}</h3>
    <img src="{{this.image_url}}">
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p> --}}
     {{> beerpartial}}
    <p>{{this.food_pairing}}</p>
    <p>{{this.brewer_tips}}</p>

  {{/each}}
  