<div class="container mt-5">

    <div class="row info-beer">

        {{#each beers}}

        <div class="col-md-4">



            <img src="{{image_url}}" alt="image">



        </div>

        <div class="col-md-8">

            <h4>{{name}}</h4>

            <p>{{description}}</p>

            <p>{{tagline}}</p>

            <ul>
                {{#each food_pairing}}
                <li>{{this}}</li>
                {{/each}}
            </ul>

            <p>{{brewers_tips}}</p>


        </div>

        {{/each}}

    </div>

</div>