{{#each randomBeersFromApi}}

<img src="{{this.image_url}}">
<h1>{{this.name}}</h1>
<p>{{this.description}}</p>
<h3>{{this.tagline}}</h3>
<p>{{this.food_pairing}}</p>
<p>{{this.brewers_tips}}</p>
{{/each}}