<div class="random-beer">
  {{#each responseFromAPI}}
    <img class='beer-img' src='{{image_url}}' alt='{{name}}' />
<div>
    <p>{{name}}</p>

    <p>{{tagline}}</p>

    <p>{{description}}</p>
    <h5>Food Pairing</h5>
    <ul>
      {{#each food_pairing}}
        <li> {{this}}</li>
      {{/each}}
    </ul>
    <h5>Brewer Tips</h5>
    <p>{{brewers_tips}}</p>
</div>
  {{/each}}
</div>