
<h1>Random Beers</h1> 
{{#each randombeers}}
<img src ={{image_url}} alt ={{name}} class ="randombeer-picture">
  <h3>{{name}}!!</h3>
  <h3>{{description}}</h3>
  <h3{{tagline}}></h3>
  <h3{{food_pairing}}></h3>
  <h3>{{brewers_tips}}</h3>
{{/each}}



{{!-- Using Partial

<div class="container">
  <h1>Random Beers</h1> 
  <div class="row">
      {{#each randombeers}} 
        {{> beerpartial this}} 
      {{/each}}
  </div>
</div> --}}


