<div>
    <p>{{cerveza.name}}</p>
    <p>{{cerveza.tagline}}</p>
    <p>First brewed: {{cerveza.first_brewed}}</p>
    <p>{{cerveza.description}}</p>
    <p>{{cerveza.food_pairing}}</p>
    <img src={{cerveza.image_url}} class="beer"/>
</div>