<div>
    {{#each randomBeer}}
        <div class="singleDisplay">
            <H2>{{this.name}}</H2>
            <p><em>"{{this.tagline}}"</em></p>
            <img src="{{this.image_url}}" alt="{{beer}}">
            <H4>Description</H4>
            <p>{{this.description}}</p>
            <h3>Food Pairing</h3>
            <ul>
            {{#each this.food_pairing}}
                <li>{{this}}</li>
            {{/each}}
            </ul>

        </div>
    {{/each}}
</div>