<div id='beer-wrapper'>
    <img src={{image_url}} alt='beer-image' />
    <div class='beer-info'>      
      <h2>{{name}}</h2>
      <p>{{tagline}}</p>
      <article>{{description}}</article>
      <h3>Food Pairing</h3>
      <ul>
        {{#each food_pairing}}
        <li>
            {{this}}
        </li>
        {{/each}}
      </ul>
      <article> <strong>Brewers Tips:</strong> {{brewers_tips}} </article>
          </div>
 
</div>