<div class="container">
  <h1>Random Beer</h1>
  <div class="display">
      {{#each beer}} 
        <img src={{ image_url }}>
        <h2>{{ name }}</h2>
        <h3>{{ tagline }}</h3>
        <article>{{ description }}</article>
        
            <ul>{{ food_pairing }}</ul>
        
      {{/each}}
  </div>
</div>