<div class="d-flex flex-row bd-highlight mb-3">
    <div>
        <img class="card-img-top mt-3 w-75 p-3" src={{image_url}} alt="{{name}}"/>
    </div>
    <div class="mt-5">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{tagline}}</p>
        <p class="card-text">{{description}}</p>
    </div>
</div>