<div class='container'>
  <div class='card' style='width: 18rem;'>
    <img src='{{randomBeer.image_url}}' class='card-img-top' alt='...' />
    <div class='card-body'>
      <h5 class='card-title'>{{randomBeer.name}}</h5>
      <p class='card-text'>{{randomBeer.description}}</p>
      <p class='card-text'>{{randomBeer.tagline}}</p>
      <p class='card-text'>{{randomBeer.food_pairing}}</p>
      <p class='card-text'>{{randomBeer.brewer_tips}}</p>
    </div>
  </div>
</div>