{{#each oneBeer}}
    <div class="detailed">
        {{#if image_url}}
            <div class="box">
                <img class="detail-beer-img" src={{image_url}} alt="beer image">
            </div>
        {{/if}}
        <div class="box">
            <h3>{{name}}</h3>
            <p class="tagline" >{{tagline}}</p>
            <p><strong>Description:</strong> {{description}}</p>
            <p><strong>Food pairing:</strong> 
                <ul>
                    {{#each food_pairing}} 
                    <li>{{ this }}</li>
                    {{/each}}
                </ul>
            </p>
            <p><strong>Brewers tips:</strong> {{brewers_tips}}</p>
        </div>
    </div>
{{/each}}
