<div class="beersunit">
<img class="random-img"  alt="{{name}}" src="{{image_url}}" />
<div class="info"></div>
<h2>{{name}}</h2>
<h5 class="tagline">{{tagline}}</h5>
<p class="description">{{description}}</p>
 <h4>Food Pairing</h4>
{{ this.food_pairing }} 
<p><b>Brewes Tips:</b> {{brewers_tips}}</p>
</div>
</div>