<div class="container mt-5">
    <h1>Beers</h1>
    <br>
    <div class="row ">
        {{#each Random_beersInfo}}
        <div class="container">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{image_url}}" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{description}}</p>
                            <p class="card-text"><small class="text-muted">{{tagline}}</small></p>
                            <h6>Food Pairing</h6>
                            <ul class="list-group">
                                {{#each food_pairing}}
                                <li>{{this}}</li>


                                {{/each}}
                            </ul>
                            <h6>Brewers Tips:</h6>
                            <p>
                                {{brewers_tips}}
                            </p>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        {{/each}}
    </div>







</div>