<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to random beer</h1>
    <nav class="navbar">
        <a class="home" href="/">Home</a>
        <a class="nav-beer" href="/beers">Beers</a>    
    </nav>
    <div>
        {{#each this}}
        <p> {{image}}</p>
        <p> Beer: {{name}}</p>
        <p> {{tagline}}</p>
        <p> {{food_pairing}}</p>
        <p> {{brewers_tips}}</p>
    {{/each}}
    </div>
</body>
</html>