<h1>Random beer</h1>

<img src="{{beer.image_url}}" alt="">
<h3>Name: {{beer.name}}</h3>
<p>{{beer.description}}</p>
<p>Tagline: {{beer.tagline}}</p>
<p>Food Pairing: {{beer.food_pairing}}</p>
<p>Brewer Tips: {{beer.brewers_tips}}</p>
