<div>
    <img src="{{image_url}}" alt="">
    <h5>{{name}}</h5>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <ul>{{#each food_pairing}}
       <li>{{this}}</li> 
        {{/each}}
    </ul>
    <p>{{description}}</p>
    <p>{{brewer_tips}}</p>
    
</div>