<div class='random-beer-container'>
    <img src="{{responseFromAPI.image_url}}" alt="">
    <div class='beer-random'>
        <h5>{{responseFromAPI.name}}</h5>
        <p>{{responseFromAPI.description}}</p>
        <p>{{responseFromAPI.tagline}}</p>
        <p>{{responseFromAPI.food_pairing}}</p>
        <p>{{responseFromAPI.brewers_tips}}</p>


    </div>
</div>