<div class="container beer">

    <div class= "row align-items-center justify-content-center">
        {{#each beer}}
        {{name}}
        <img src="{{image_url}}" alt="{{name}}" class="beers">
        {{description}}
        {{tagline}}
        {{food_pairing}}
        {{brewer_tips}}
        {{/each}}
    </div>
 
</div>