
{{!-- image, name, description, tagline, food pairing and brewer tips. --}}

<h2>This is the chosen beer:</h2>

<div>
<img style="height: 100px" src="{{this.image_url}}"/>
<p>{{this.name}}</p>
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>
<p>{{this.food_pairing}}</p>
<p>{{this.brewers_tips}}</p>

</div>

