{{#each randomBeersFromApi}}
  <img src={{this.image_url}} alt='' />
  <h3>{{this.name}}</h3>
  <h5>{{this.tagline}}</h5>
  <h5>{{this.description}}</h5>
  <h5>{{this.food_pairing}}</h5>
  <h5>{{this.brewer_trips}}</h5>


{{/each}}