<div class="random-wrapper">

    <div class="random-image">
        <img class="random-beer-img" src="{{image_url}}" alt="{{name}}">
    </div>

    <div class="random-content">
        <h2>{{name}}</h2>

        <p class="tagline">{{tagline}}</p>
        
        <p>{{description}}</p>
        
        <p><strong>Food Pairing: </strong></p>
            <ul>
                {{#each food_pairing}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        
        <p><strong>Brewers Tips: </strong>{{brewers_tips}}</p>
    </div>

</div>