

<h2>Name: {{randomBeers.0.name}}</h2>
  <p>
      	<img src= "{{randomBeers.0.image_url}}" alt="random-beer" width="150">
    </p>

    <p>
      Tagline: {{randomBeers.0.tagline}}
    </p>
 <p>
      Description: {{randomBeers.0.description}}
    </p>
  <p>
      Food Pairing: {{randomBeers.0.food_pairing}}
    </p>

    <p>
      Brewers Tips: {{randomBeers.0.brewers_tips}}
    </p>
