<div class="random-wrapper">
    <img src="{{randomBeer.image_url}}"/>
    <div class="text">
    <h2>{{randomBeer.name}}</h2>
    <p class="tagline">{{randomBeer.tagline}}</p>
    <p>{{randomBeer.description}}</p>
    <h3>Food Pairing</h3>
    <ul>
        {{#each randomBeer.food_pairing }}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p><b>Brewers Tips:</b> {{randomBeer.brewers_tips}}</p>
    </div>
</div>