<section class='random-beer'>
  <ul>
    {{#each responseFromApi}}
      <img src='{{this.image_url}}' alt='beer' />
      <p> {{this.name}} </p>
      <p> {{this.description}} </p>
      <p> {{this.tagline}} </p>
      <p> {{this.food_pairing}} </p>
      <p> {{this.brewers_tips}} </p>
    {{/each}}
  </ul>
</section>