<div class="card random-beers" style="width: 18rem;">
 <img src="{{image_url}}" class="card-img-top" alt="...">
  <div class="card-body">
        <p class="card-text"> {{name}}</p>
    <p class="card-text"> {{description}}</p>
      <p class="card-text"> {{tagline}}</p>
        <p class="card-text"> {{food_pairing}}</p>
          <p class="card-text"> {{brewers_tips}}</p>
  </div>
</div>