<h1>Random Beer</h1>
<div>
  <img src="{{ beer.image_url }}" alt="{{ beer.name }}">
  <h2>{{ beer.name }}</h2>
  <p>{{ beer.description }}</p>
  <p>{{ beer.tagline }}</p>
  <p><strong>Food pairing:</strong> {{ beer.food_pairing }}</p>
  <p><strong>Brewer tips:</strong> {{ beer.brewers_tips }}</p>
</div>
<link rel="stylesheet" href="/stylesheets/styles.css">
