<div id="random-beer">
    <div>
        <img src="{{randomBeer.image_url}}" alt="{{randomBeer.name}}">
        <h3>{{randomBeer.name}}</h3>
        <p class="tagline">{{randomBeer.tagline}}</p>
        <p class="description">{{randomBeer.description}}</p>
        <p>Food pairing</p>
        <p id="food-pairing">{{randomBeer.food_pairing}}</p>
        <p id="brewer-tips">Brewer tips: {{randomBeer.brewer_tips}}</p>
    </div>
</div>

{{!-- {{> beerpartial randomBeer }} --}}