<h1>Random Beer of The Day</h1>

<div>
  <h2>{{name}}</h2>
  <h3>{{tagline}}</h3>
  {{#if image_url}}
    <img src='{{image_url}}' alt='{{name}}' />
  {{else}}
    <img src='./images/beer-placeholder.png' alt='beer placeholder image' />
  {{/if}}
  <p>{{description}}</p>
  <div>
    <h4>Food Pairing</h4>

    <ul>
      {{#each food_pairing}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

  </div>
  <p>Brewers Tips: {{brewers_tips}}</p>
</div>


