<main class="center">
    <div class="card center" style="width: 36rem;">
      <img class="card-img-top" src={{randBeer.image_url}} alt="beer">
      <div class="card-body">
        <h3 class="card-title">{{randBeer.name}}</h3>
        <em><b><p>{{randBeer.tagline}}</p></b></em>
        <p class="card-text" maxlength="50">{{randBeer.description}}</p>
        <b><p class="card-text">Food pairings:</p></b>
        <p class="card-text">{{randBeer.food_pairing}}</p>
        <b><p class="card-text">Tips:</p></b>
        <p class="card-text">{{randBeer.brewers_tips}}</p>
      </div>
    </div>
</main>
