<div class="container">
  <h1>Random Beer</h1>
    <div class="row">
        <div class="col-md-2 beer">
            <img  class= "card-img-top" src={{image_url}}>
        </div>

        <div class="col-md-10">
            <h1>{{name}}</h1>
            <h2>{{tagline}}</h2>
            <p>{{description}}</p>
            <h3>Food Pairing</h3>
            <li>{{food_pairing}}</li>
            <h3>Brewer tips:</h3>
            <p>{{brewers_tips}}</p>

        </div>

    </div>

</div>
