<div class="container">
    <h1>Random Beer</h1>
    <div class="beer-info">
        <img src="{{randomBeer.image_url}}" alt="{{randomBeer.name}}">
        <div class="beer-details">
            <h2>{{randomBeer.name}}</h2>
            <p>Description: {{randomBeer.description}}</p>
            <p>Tagline: {{randomBeer.tagline}}</p>
            <p>food pairing: {{randomBeer.food_pairing}}</p>
            <p>Brewers Tips: {{randomBeer.brewers_tips}}</p>
        </div>
    </div>
</div>