<section class='beer-container'>
  <div class='one-beer'>
    {{#each beer}}
      <img src='{{image_url}}' />
      <div>
        <h2 class='name'>{{name}}</h2>
        <p class='tagline'>{{tagline}}</p>
        <p class='description'>{{description}}</p>
        <h3>Food Pairing</h3>
        <p>{{food_pairing}}</p>
        <p><span>Brewers Tips:</span> {{brewers_tips}}</p>
      </div>
    {{/each}}
  </div>
</section>