 <img class="random" src={{randomBeerImage}}/>  
 
 <h1> {{randomBeerName}}</h1>

  <p>
 {{randomBeerDescription}}
 </p>

<h3>{{randomBeerTagline}}</h3>

<p>{{randomBeersFoodPairing}}</p>

<p>{{randomBeerTips}}</p>

 
 
