

{{!--
  {{users.[0].name}}
--}}

<div class="random">
   
    <img class="beers" src="{{beer.[0].image_url}}" alt="random">
    <h2>{{beer.[0].name}}</h2>
    <p class="tag">{{beer.[0].tagline}}</p>
    <p class="desc">{{beer.[0].description}}</p>
    <h4>Food Pairing :</h4>
    <p>{{beer.[0].food_pairing}}</p>
   
</div>