<h1>TestingAgain</h1>

<div class="container">
    <img class="beerImage" src="{{image_url}}" alt="beer image">
    <div class="container">
        <h2>{{name}}</h2>
        <article>{{description}}</article>
        <p>{{this.tagline}}</p>
        <p><strong>Food Pairing:</strong></p>
        
        <ul>
            {{#each food_pairing}}
                <li>
                    {{this}}
                </li>

            {{/each}}
        </ul>

        <p><strong>Brewers' Tips:</strong> {{brewers_tips}}</p>
    </div>
</div>