<section class="beer-container">
  <div class="image-container">
    {{#if image_url}}
      <img src="{{image_url}}" alt="{{name}}-image">
    {{else}}
      <img src="https://images.punkapi.com/v2/keg.png" alt="default-image">
    {{/if}}
  </div>

<div class="beer-info">
    {{>beersPartial this}}
    
    <ul>
        <h3>Food Pairing</h3>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <h3>Brewers Tips: {{brewers_tips}}</h3>
</div>
</section>