{{!-- <ul>
  {{#each randomBeer.food_pairing}}
    <li>{{randomBeer.name}}</li>
    <li>{{randomBeer.image_url}}</li>
    <li>{{randomBeer.tagline}}</li>
    <li>{{randomBeer.description}}</li>
    <li>{{randomBeer.brewers_tip}}</li>
  {{/each}}
</ul> --}}
<p>{{randomBeer.name}}</p>
<p>{{randomBeer.image_url}}</p>
<p>{{randomBeer.tagline}}</p>
<p>{{randomBeer.description}}</p>
<p>{{randomBeer.brewers_tip}}</p
<p><img src="{{randomBeer.image_url}}" alt="{{randomBeer.name}}"></p>