{{#each randomBeer}}
<div class="beers_wrapper">
<img class="content_beerImg" src="{{this.image_url}}" alt="">
<h2>{{this.name}}</h2>
<p class="tagline">{{this.tagline}}</p>
<p>{{this.description}}</p>
<h2>{{this.food_pairing}}</h2>
<h2>{{this.brewer_tips}}</h2>

</div>

{{/each}}

{{!-- 

{{> beerpartial randomBeer}} --}}
