<div>
    {{#each randomFromApi}}
<img src={{this.image_url}}>
<h1>{{this.name}}</h1>
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>
<p>{{this.food_pairing}}</p>
<p>{{this.brewers_tips}}</p>
    {{/each}}
<a href="/beers" class="button">Check The Beers!</a>
<a href="/random-beers" class="button">Check a Random Beer</a>
</div>