<div class="container pb-5">
    {{#each fullBeer as |beer|}}
        {{>beerpartials}}
         <div class="container-random">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4  mx-auto">
                        <div class="card p-3 pb-5">
                            <h6 class="card-title font-weight-bold">First Brewed :</h6>
                            <p class="card-text">{{beer.first_brewed}}</p>
                            <p class="card-title font-weight-bold">Acidity:</p>
                            <p class="card-text">Ph {{beer.ph}}</p>
                            <p class="card-title font-weight-bold">Attenuation level:</p>
                            <p class="card-text">{{beer.attenuation_level}}</p>
                            <p class="card-title font-weight-bold">Volume:</p>
                            <p class="card-text"> {{beer.volume.value}} {{beer.volume.unit}}</p>
                            <p class="card-title font-weight-bold">Boil volume:</p>
                            <p class="card-text"> {{beer.boil_volume.value}} {{beer.boil_volume.unit}}</p>
                            <p class="card-title font-weight-bold">Method:</p>
                            {{#each beer.method.mash_temp as |mash|}}
                            <p class="card-text"> - Mash temp: {{mash.temp.value}} {{mash.temp.unit}} for {{mash.duration}} minutes</p>
                            {{/each}}
                            <p class="card-text"> - Fermentation: {{beer.method.fermentation.temp.value}} {{beer.method.fermentation.temp.unit}}</p>
                            <h6 class="card-title font-weight-bold">Ingredients:</h6>
                            <p class="card-text font-weight-bold">- Yeast:</p>
                            <p class="card-text">{{beer.ingredients.yeast}}.</p>
                            <p class="card-text font-weight-bold">- Malt:</p>
                            {{#each beer.ingredients.malt as |ing|}} 
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {{ing.name}} : {{ing.amount.value}} kg.
                                </li>
                            </ul>
                            {{/each}}
                            <p class="card-text font-weight-bold pt-3">- Hops :</p>
                            {{#each beer.ingredients.hops as |ing|}} 
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {{ing.name}} : {{ing.amount.value}} grams.
                                </li>
                            </ul>
                            {{/each}}
                            <h6 class="card-title pt-3">Perfect with:</h6>
                                <ul>                     
                                    <li>{{beer.food_pairing}}</li>
                                </ul>
                            <p class="card-text"><strong>TIP:</strong><br>{{beer.brewers_tips}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {{/each}}
        {{#each oneBeer as |beer|}}
        <div class="mx-auto">
            {{>beerpartials}}
        </div>
        <div class="container-random">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4  mx-auto">
                    <div class="card p-3">
                        <h6 class="card-title">Perfect with:</h6>
                            <ul>                     
                                <li>{{beer.food_pairing}}</li>
                            </ul>
                        <p class="card-text"><strong>TIP:</strong><br>{{beer.brewers_tips}}</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}


</div>