<h1>toto</h1>

<div>
    <img src="{{randomBeer.image_url}}" alt="">
    <p>
        {{randomBeer.name}}
    </p>
    <p>
        {{randomBeer.description}}
    </p>
    <p>
        {{randomBeer.tagline}}
    </p>
    <p>
        {{randomBeer.food_pairing}}
    </p>
    <p>
        {{randomBeer.brewers_tips}}
    </p>
</div>