<div class="result">
    <div class="">
<h1>{{cervezas.name}}</h1>
    <p>{{cervezas.description}}</p>
    <p>{{cervezas.food_pairing}} Food Pairing</p>
    <p>{{cervezas.brewers_tips}}</p>     
    <img class="" src="{{cervezas.image_url}}">
    </div>    
</div>