<div>
  <p>Random Beer</p>
  <ul>
    
      <li>
        {{beer.name}}
        <img src="{{beer.image_url}}" >
        {{beer.description}}
        {{beer.tagline}}
        {{beer.food_pairing}}
        {{beer.brewers_tips}}
      </li>

    
  </ul>
</div>