<div class="container randomSection">
    <div class="row">

        <div class="col-md-2">
            <img class="beer-images randomImg" src="{{image_url}}" alt="{{name}}">


        </div>
        <div class="col-md-8">
            {{!-- {{>beerpartial this}} --}}
            <h2>{{name}}</h2>
            <hr>
            <p>{{tagline}}</p>
            <hr>
            <p>{{description}}</p>

            <p><strong>Food Pairing</strong></p>
            <ul>

                {{#each food_pairing}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p><strong>Brewer Tips: </strong>{{brewers_tips}}</p>


        </div>

    </div>


</div>