<div>
    {{#each randomBeers}}
    <img src="{{this.image_url}}" alt="{{this.name}}"/>
    <h5>{{this.name}}</h5>
    <h5>{{this.description}}</h5>
    <h5>{{this.tagline}}</h5>
    <h5>{{this.food_pairing}}</h5>
    <h5>{{this.brewer_tips}}</h5>
    {{/each}}
</div>