{{!-- <div class="row">
    <div class="col-2">
        <img class="random-beer-image" src="{{image_url}}" />
    </div>
    <div class="col-8">
        <h5 class="beers-title">{{name}}</h5>
        <p class="beers-tagline">{{tagline}}</p>
        <p class="beers-description">{{description}}</p>
        <p class="beers-pairing">Food Pairing</p>
        <ul>
            {{#each food_pairing}}
            <li class="beers-pairing">{{this}}</li>
            {{/each}}
        </ul>
        <span class="beers-tips">Brewers Tips:</span>
        <span class="beers-tips">{{brewers_tips}}</span>
    </div>
    {{/each}}
</div> --}}
<div class="row">
    {{#each randomBeer}}
    <div class="col-10">
        {{> beerpartial this}}
        <p class="beers-pairing-title">Food Pairing</p>
        <ul>
            {{#each food_pairing}}
            <li class="beers-pairing">{{this}}</li>
            {{/each}}
        </ul>
        <span class="beers-tips-title">Brewers Tips:</span>
        <span class="beers-tips">{{brewers_tips}}</span>
    </div>
    {{/each}}
</div>