<div class="beers">
    <div class="beer-card">
        <img src="{{image_url}}" width="50px">
        <h3> {{name}}</h3>
        <h4> {{tagline}}</h4>
        <h5> 
            {{description}}
            {{food_pairing}}
            {{brewers_tips}}
        </h5>
    </div>
</div>