<div>
    {{#each responseFromAPI}}
    <img src={{this.image_url}} alt="">
    <h2>{{this.name}}</h2>
    <h5>{{this.tagline}}</h5>
    <p>{{this.description}}</p>
    
    <h4>Food Paring:</h4>
    <ul>
        {{#each this.food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <h4>Brewers Tips:</h4>
    <p>{{this.brewers_tips}}</p>
    {{/each}}
</div>