<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>IronBeers</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='./stylesheets/styles.css' />
  </head>
  <body>
    <div class='container random-beer' id='random-beer'>
      {{#each responseFromAPI}}
        {{!-- <img src='{{image_url}}' alt='' />
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <p>{{tagline}}</p> --}}
        <div>{{>beerpartial}}</div>
        <p>{{food_pairing}}</p>
        <p>{{brewers_tips}}</p>
      {{/each}}
    </div>
  </body>
</html>