{{#each responseFromAPI}}
<div class="container">
    <div id="randomBeerImg">
        <img src="{{ image_url }}" alt="beer image">
    </div>
    <div id="randomBeerInfo">
        <h1>{{ name }}</h1>
        <p>{{ description }}</p>
        <p>{{ tagline }}</p>
        <h3>Food Pairing</h3>   
        <ul>
            {{#each food_pairing}}
                <li>{{ this }}</li>
            {{/each}}  
        </ul>
        <p><span><strong>Brewers Tips: </strong></span>{{ brewers_tips }}</p>
    </div>
</div>

{{/each}}