<h1>Random Beers</h1>

<div>
   {{#each randomBeer}}
        <img class="beer-img" src="{{image_url}}" alt="">
        <h2 class="beer-name"> {{name}} </h2>
        <p class="beer-description">{{description}}</p>
        <p class="beer-tagline">{{tagline}}</p>
        <p>{{food_pairing}}</p>
        <p>{{brewers_tips}}</p>
    {{/each}}
</div>