{{#each responseFromAPI}}

<img src="{{this.image_url}}" alt="this is a beer">
<h6>{{this.name}}</h6>
<h6>{{this.description}}</h6>
<h6>{{this.tagline}}</h6>
<h6>{{this.food_pairing}}</h6>
<h6>{{this.brewer_tips}}</h6>

{{/each}}