<div class="row mx-auto rando">
  {{#if beer.image_url}}
    <div class="bottle col-6 d-flex align-items-center"><img src="{{ beer.image_url }}" alt="{{ beer.tagline }}"/></div>
  {{/if}}
  <div class="text col-6 d-flex align-items-center">
    <ul>
      <li><h5><b>{{beer.name}}</b></h3></li>
      <br>
      <li></li><p>{{beer.description}}</p></li>
      <li></li><p><i>{{beer.tagline}}</i></p></li>
      <li></li><p>{{beer.food_pairing}}</p></li>
      <li></li><p>{{beer.brewers_tips}}</p></li>
    </ul>
  </div>
</div>
