<div>

    random beer
    <img src="{{image_url}}" alt="{{name}}">

    <p>Nombre: <strong>{{name}}</strong> </p>

    <p>Nombre: <strong>{{tagline}}</strong> </p>
    <p>Nombre: <strong>{{description}}</strong> </p>
    <p>Nombre: <strong>{{food_pairing}}</strong> </p>
    <p>Nombre: <strong>{{brewers_tips}}</strong> </p>

</div>