<div>
    <ul>
    {{#each randomBeer}}
        <!--  <li><img src="{{this.image_url}}" alt="image of beer: {{this.name}} ">  </li> 
        <li>{{this.name}}</li>
        <li>{{description}}</li>
        <li>{{this.tagline}}</li> -->
        {{> beerpartial }}
        <li>{{food_pairing}}</li>
        <li>{{brewers_tips}}</li>
    {{/each}}
    </ul>

</div>