<main>
    <div class="beer-info">
        <img src="{{randomBeer.image_url}}" alt="">
        <div class="beer-text">
            <h1>{{randomBeer.name}}</h1>
            <p> <q>{{randomBeer.tagline}}</q></p>
            <p>{{randomBeer.description}}</p>
            <p><b>Food Pairing</b></p>
            <ul>
                {{#each randomBeer.food_pairing as |pairing|}}
                <li>{{pairing}}</li>
                {{/each}}
            </ul>
            <p><b>Brewers Tips: </b>{{randomBeer.brewers_tips}}</p>
        </div>
    </div>
</main>