<img
    class="image big"
    src="{{image_url}}"
/>

<h2 class="subtitle">
    {{name}}
</h2>

<p class="description">
    {{description}}
</p>

<p class="tag">
    {{tagline}}
</p>

<b> Food pairing :</b> <br>
<ul id="food-pairing-list">
    {{#each food_pairing}}
    <li class="item">
        {{this}}
    </li>
    {{/each}}
</ul>

<p class="text">{{brewers_tips}}</p>