<div class="image-beer-container">
    <div style="width: 33.333%;">
        <img src="{{randomBeer.image_url}}" alt="">
        <div>
            <h5>{{randomBeer.name}}</h5>
            <p>{{randomBeer.description}}</p>
            <p>{{randomBeer.tagline}}</p>
            <p>{{randomBeer.food_pairing}}</p>
            <p>{{randomBeer.brewer_tips}}</p>
        </div>
    </div>
</div>
