<h1>Random Beer Bolivian Cerveting</h1>
<div class="container">
    <img class="beer-image" src="{{image_url}}" alt="{{name}}">
    <h5>Nombre</h5>
    {{name}}
    <h5>tag</h5>
    <br>
    {{tagline}}
    <br>
    {{food_pairing}}
    <br>
    {{brewers_tips}}
</div>