<div class="mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            {{> beerPartial this}}
        </div>
    </div>
    {{!-- {{#each beer}}  --}}
    {{!-- <h1>{{beer.name}}</h1> --}}
    {{!-- <p>{{beer.description}}</p> --}}
    {{!-- <img src="{{beer.image_url}}" alt="IMG"> --}}
    {{!-- <h2>Food pairing</h2> --}}
    {{!-- <ul> --}}
    {{!-- {{#each beer.food_pairing}} --}}
    {{!-- <li>{{this}}</li> --}}
    {{!-- {{/each}} --}}
    {{!-- </ul> --}}
    {{!-- {{else}} <li>?</li> --}}
    {{!-- {{/each}}</li> --}}
</div>