{{#each randomBeer}}
<img src="{{this.image_url}}">
<p>{{this.name}}</p>
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>

{{#each food_pairing}}
<li>{{this}}</li>
{{/each}}
<p>{{this.brewers_tips}}</p>
{{/each }}