{{#each beersFromApi}}
<p>{{this.name}}</p>
<img src="{{this.image_url}}" alt="">
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>
<p>{{this.food_pairing}}</p>
<p>{{this.brewer_tips}}</p>

{{/each}}