<div>
    {{#each responseFromAPI}}
        <div>
        <img src="{{this.image_url}}" alt="beers image">
        {{this.name}}
        {{this.description}}
        {{this.tagline}}
        {{this.food_pairing}}
        {{this.brewers_tips}}
        </div>
    {{/each}}
</div>