<div>
    {{#each responseFromAPI as |beer|}}
    <div>
        <div><img src={{beer.image_url}} alt={{beer.name}}></div>
        <div>
            <h3>{{beer.name}}</h3>
            <h4>{{beer.tagline}}</h4>
            <p>{{beer.description}}</p>
            <h4>Food Pairing</h4>
            <ul>
                {{#each beer.food_pairing as |foodPairing|}}
                    <li>{{foodPairing}}</li>
                {{/each}}
            </ul>
            <p><strong> Brewers Tips:</strong> {{beer.brewers_tips}} </p>
        </div>
    </div>
    {{/each}}
</div>