<h1>Your random Brewery:</h1>
{{#each brewery}}
    <h3>{{name}}</h3>
    <p>Address: {{address_1}}</p>
    <p>City: {{city}}</p>
    <p>State: {{state_province}}</p>
    <p>Country: {{country}}</p>
    <p>Phone: {{phone}}</p>
    <p>Web: {{website_url}}</p>
    <p>Street: {{street}}</p>
    
  {{/each}}

