{{!-- RANDOM BEER PAGE --}}
<h1>RANDOM BEER PAGE</h1>
{{>beerpartial this.randomBeer}}
{{!-- <img src="{{randomBeer.image_url}}" alt="{{randomBeer.name}}">
<h2> {{randomBeer.name}} </h2>
<div> {{randomBeer.tagline}} </div>
<div> {{randomBeer.description}} </div> --}}
<div> Food-pairing: {{randomBeer.food_pairing}} </div>
<div> Brewer tips: {{randomBeer.brewers_tips}} </div>

