<section id="randomBeerSec">
    <div id="imgDiv">
        <img id="randomBeerImg" src="{{image_url}}" alt="">
    </div>
    <div>
        <h3>{{name}}</h3>
        <h6>{{tagline}}</h6>
        <p>{{description}}</p>
        <h4>Food Pairing</h4>
        <ul>
            {{#each food_pairing}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><b>Brewers Tips: </b>{{brewers_tips}}</p>
    </div>
</section>