<h1>These is a Random Beer</h1>
<div>
{{#each randomBeer}}
<img src="{{this.image_url}}" alt="randomBeer">
 <p>{{this.name}}</p>
 <p>{{this.description}}</p>
 <p>{{this.tagline}}</p>
 <p>{{this.food_pairing}}</p>
 <p>{{this.brewers_tips}}</p>

{{/each}}

</div>