<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
<div id="random-beer-container">
{{#each responseFromAPI}}
<img class="imagen" src="{{image_url}}">
<p class="titulos">{{name}}</p>
<p class="texto">{{description}}</p>
<p class="tag">{{tagline}}</p>
<p>{{food_pairing}}</p>
<p>{{brewers_tips}}</p>
{{/each}} 
</div>
</body>
</html>
