<div class="container">
    <div class="row">
        <div class="col-3">
            <img class="beer-img" src={{image_url}} alt={{name}} />
        </div>
        <div class="col-9 text-random">

            <h2>{{name}}</h2>
            <p class="grey-color">{{tagline}}</p>
            <p>{{description}}</p>
            <h4>Food Pairing</h4>
            <ul>
                {{#each food_pairing}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p><b>Brewers tips:</b> {{brewers_tips}}</p>               
        </div>
    </div>
</div>
