<div id="randomBeerContent">
    <img src="{{randomBeer.image_url}}" alt="randomBeerImage">
    <h2>{{randomBeer.name}}</h2>
    <p class="tagline">{{randomBeer.tagline}}</p>
    <p class="foodparing">{{randomBeer.food_pairing}}</p>
    <p class="brewersTips">{{randomBeer.brewers-tips}}</p>

</div>