{{#each beer}}
<div>
    <img class="image-beer" src="{{this.image_url}}" alt="beer"></img>
    <p><span style="font-weight: bold;">Name: </span><a href="/beers/{{this.id}}">{{this.name}}</a></p>
    <p><span style="font-weight: bold;">Description: </span>{{this.description}}</p>
    <p><span style="font-weight: bold;">Tags: </span> {{this.tagline}}</p>
</div>

<div>
    <p><span style="font-weight: bold;">Food pairing: </span> {{food_pairing}}</p>
    <p><span style="font-weight: bold;">Brewer tips: </span> {{brewers_tips}}</p>
</div>
{{/each}}