<ul>
  {{#each RbeersFromApi}}
    <li>
      <h2>{{name}}</h2>
      <div style='display: flex; flex-direction: row;'>
        <img src={{image_url}} alt='' width='70px' height='200px' />
        <div style='width:500px'>
          {{tagline}}
          {{description}}
        </div>
      </div>
    </li>

  {{else}}
    <p>No beers yet!</p>
  {{/each}}
</ul>