
{{#each binchettes}}
<div>
    <p><img src="{{this.image_url}}" alt="images" class="img"></p>
<p>{{this.name}} <br> {{this.tagline}} <br> {{this.description}}</p>
<p>{{food_pairing}} <br>{{brewers_tips}}</p>
</div>

{{/each}}