
    {{#each randomBeer}} 
    <img src={{this.image_url}} alt="image of beer">
       <p>{{this.name}}</p> 
       <p>{{this.description}}</p> 
       <p>{{this.tagline}}</p>
       <p>{{food_pairing}}</p>
       <p>{{brewers_tips}}</p>

    {{/each}}