
<div class="random">
  <div class="aBeerFlex " >
    {{!-- <div class="rItems"> --}}
      
      <img class="rImg" src="{{random.image_url}}" alt="no image on file">
      <div>
      <h2><b><a class="bLinks" href="/beers/beer-{{random.id}}">{{random.name}}</a></b></h2>
      {{!-- <h2><b>{{random.name}}</b></h2> --}}
      <h4 class="tagLine" >{{random.tagline}}</h4>
      <p>{{random.description}}</p>
    
      <p><b>Food Pairing</b> </p>
      <ul> 
      {{#each random.food_pairing}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
      <p> <b>Brewers Tips:</b>  {{random.brewers_tips}} </p>
      </div>
      {{!-- </div> --}}
</div>
</div>


{{!-- ????{{#if this.image_url}} !== null --}}