<div class='container-random-elements'>
  <img id='random-image' src='{{image_url}}' />
  <div class='container-text-random'>
    <p id='title'>{{name}}</p>
    <p id='subtitle'>{{tagline}}</p>
    <p>{{description}}</p>
    <p>{{food_pairing}}</p>
    <p>{{brewers_tips}}</p>
  </div>
</div>