<div class="beerPos">

    <img src="{{beer.image_url}}" alt="beer photography">
    <h2>{{beer.name}}</h2>
    <p>{{beer.description}}</p>
    <p>{{beer.tagline}}</p>
    <ul>
        <li>
            <p>{{beer.food_pairing}}</p>
        </li>
    </ul>
    <p>{{beer.brewers_tips}}</p>


</div>