<h1>Random Beer</h1>

<div class='beersContainer'>
  <div class='beer'>
    <div class='imgBeerContainer'>
      <img src='{{randomBeer.image_url}}' alt='' />
    </div>
    <div class='beerTextContent'>
      <h2>{{randomBeer.name}}</h2>
      <p>{{randomBeer.description}}</p>
      <h4>{{randomBeer.tagline}}</h4>
      <br /><br />
      <p><strong>Food Pairing:</strong></p>
      <ul class='foodReco'>
        {{#each randomBeer.food_pairing}}
          <li>{{randomBeer}}</li>
        {{/each}}
      </ul>
      <br /><br />
      <strong>Brewer Tips:</strong>
      <p>{{randomBeer.brewers_tips}}</p>
    </div>
  </div>
</div>