<div>
{{#each responseFromAPI}}
    <p><img class ="beer-pic" src ="{{image_url}}"> </p>
    <p>{{name}}</p>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <p>{{food_pairing}}</p>
    <p>{{brewers_tips}}</p>
{{/each}}
</div>