<section>
    <img src="{{image_url}}" alt="">
</section>

<section>
    <h3>Name:{{name}}</h3>
    <p>Description: {{description}}</p>
    <p>Tag: {{tagline}}</p>
    <p>Food pairing: {{food_pairing}}</p>
    <p>Brewers tips: {{brewers_tips}}</p>
</section>