<div>
    {{#each randBeer}}
    <h1>{{name}}</h1>
    <img src="{{image_url}}" alt="beer image">
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <p>{{food_pairing}}</p>
    <p>{{brewers_tips}}</p>
    {{/each}}
</div>