<div>
    
    <img src="{{randomBeer.0.image_url}}" alt="{{randomBeer.0.name}}">
    <p>{{randomBeer.0.name}}</p>
    <p>{{randomBeer.0.description}}</p>
    <p>{{randomBeer.0.tagline}}</p>
    <p>{{randomBeer.0.food_pairing}}</p>
    <p>{{randomBeer.0.brewers_tips}}</p>

</div>