<img
    class="image big"
    src="{{image_url}}"
/>

<h2 class="subtitle">
    {{name}}
</h2>

<p class="description">
    {{description}}
</p>

<p class="tag">
    {{tagline}}
</p>

<p class="text">
    <b> Food pairing :</b> <br> {{food_pairing}}</p>

<p class="text">
    {{brewer_tips}}</p>