<div class="container">
    <div class="row">
        <article>

            <div class="col-md-4">
                <img src="{{image_url}}" />
            </div>

            <div class="col-md-8">
                <p>Name: {{name}}</p>
                <p>Description: {{description}}</p>
                <p>Tagline: {{tagline}}</p>
                <p>Food pairing: {{food_pairing}}</p>
                <p>Brewer tips: {{rewers_tips}}</p>
            </div>

        </article>
    </div>
</div>