<section class='containerRandom'>
  <div class='imgDiv'>
    <img src='{{image_url}}' alt='{{name}}' />
  </div>
  <div class='beerDiv'>
    <h2>{{name}}</h2>
    <p class='tagline'>{{tagline}}</p>
    <p>{{description}}</p>
    <p><b>Food Pairing</b></p>
    <ul>
      {{#each food_pairing}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p><b>Brewers Tips:</b> {{brewers_tips}}</p>
  </div>

  {{#each randomBeer}}
{{> beerpartial this}}
{{/each}}

</section>