{{#each beerRandom}}
<p class="titulo">{{this.name}}</p>
<img class="random-images" src="{{this.image_url}}">
<div class="random-tagline">{{this.tagline}}</div>
<div class="random-description">{{this.description}}</div>
<div class="random-food">{{this.food_pairing}}</div>
<div class="random-brewers">{{this.brewers_tips}}</div>
{{/each}}