{{> menu }}
<main>
    <div class="container-random-beer">
    <ul>
    {{#each responseFromAPI }}
    <li>
        <div class="img-beer" style=" background-image: url({{image_url}});  background-size: contain;
        background-repeat: no-repeat;background-position: center center;">
            
        </div>
         
        <div class="content-random-beer">
            <h2><strong>{{this.name}} </strong></h2>
            <h4>{{this.tagline}}</h4>
            <p>{{this.description}}</p>
            
            <p><strong>Food pairing: </strong>{{> food_pairing }}</p>
            <p><strong>Brewers tips: </strong>{{this.brewers_tips}}</p>
        </div>
    </li>
    {{/each}} 
    </ul>
    </div>
</main>
{{> footer }}