<div>
    <img src="{{beer.image_url}}" />
    <h1>{{beer.name}}</h1>

    <h2>{{beer.tagline}}</h2>

    <p>{{beer.description}}</p>

    <h3>Food Pairing</h3>
    <p>{{beer.food_pairing}}</p>
    
    <h3>Brewer Tips</h3>
    <p>{{beer.brewers_tips}}</p>
</div>