
<div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src="{{randombeers.image_url}}" 
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">{{randombeers.name}}</h5>
      <p class="card-text">{{randombeers.description}}</p>
    <p class="card-text">{{randombeers.tagline}}</p>
    <p class="card-text">{{randombeers.food_pairing}}</p>
    <p class="card-text">{{randombeers.brewer_tips}}</p>
   </div>
  </div>
</div>