<div class="rndBeer">
{{#each this.cervezaRandom}}
<div class="partial-info">
{{> beerpartial this}}
</div>
<div class="extraInfo">
<p><b>Food Pairing</b></p>
<p>{{this.food_pairing}}</p>
<p><b>Brewer Tips:</b> {{this.brewers_tips}}</p>
</div>
{{/each}}

</div>
<!--{{#each this.cervezaRandom}}

<div class="photo">
<img style ="width:30px" src="{{this.image_url}}" alt="">
</div>

<div class="info">
<p>{{this.name}}</p>
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>

</div>

{{/each}}-->