<div>
    {{#each beersFromApi}}
    <p><img src="{{this.image_url}}"></p>
    <p>{{this.name}}</p>
    <p>{{this.tagline}}</p>
    <p>{{this.description}}</p>
    <p>{{this.food_pairing}}</p>
    <p>{{this.brewers_tips}}</p>
{{/each}} 
</div>