<head>
    <title>Random Beer</title>
</head>

<body>
    <div class="card">
        {{#each randomBeer}}
        <div class="imgholder">
            <img src="{{this.image_url}}" alt="{{this.name}}">
        </div>
        <div class="rbox">
            <h2>{{this.name}}</h2>
            <p>{{this.description}}</p>
            <p>{{this.tagline}}</p>
            <h4> Food Pairing </h4>


            <ul class="list">
                {{#each this.food_pairing}}
                <li>{{this}} </li>
                {{/each}}
            </ul>

            <p><span style="font-weight:bolder">Brewers tips: </span>{{this.brewers_tips}}</p>
            {{/each}}
        </div>
    </div>
</body>