<div class="container">
    <h1>Random Beer</h1>
    <div class="row">
        {{#each prueba}}
        <div class="col-md-12">
            <div class="card">
                <div class="text-center h-25 w-25">
                    <img class="card-img-top h-25 w-25" src="{{this.image_url}}" alt="{{this.name}}" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>

                    {{#each this.food_pairing}}
                    <li>{{this}}</li>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>