<h1>Random Beer</h1>

<div>
<h2>{{beer.name}}</h2>
 <img src = {{beer.image_url}} alt="{{beer.name}}" class="beer-image">
<p>{{beer.description}}</p>
<p>{{beer.tagline}}</p>
<p>{{beer.food_pairing}}</p>
<p>{{beer.brewers_tips}}</p>
</div>