 <div class="beers-page">

 <img class="image-random" src={{randomBeerImage}}/>  
 
 <h1> {{randomBeerName}}</h1>

  <p>
 {{randomBeerDescription}}
 </p>

<h3>{{randomBeerTagline}}</h3>

<h2>Food Pairing</h2>
<p>{{randomBeersFoodPairing}}</p>

<h2>Beer Tips</h2>
<p>{{randomBeerTips}}</p>
</div>

 
 
