<div class="container">
    <div class="row">
        {{#each beersFromApi}}
        <div class="col-md-4">
            <div class="card"></div>
            <img class="card-img-top" src="{{image_url}}" alt="" />
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text">{{this.tagline}}</p>
                <p class="card-text">{{this.food_pairing}}</p>
                <p class="card-text">{{this.brewer_tips}}</p>

            </div>
        </div>
        {{/each}}
    </div>
</div>