<div>
    <p><img src="{{image_url}}" alt="{{name}}"> {{name}} {{description}} {{tagline}}</p>
    <p>Food Pairing</p>
    <p>{{food_pairing}}</p>
    <p>Brewers Tips</p>
    <p>{{brewers_tips}}</p>

</div>