<div>
    <div class="media">
        <img src="{{image_url}}" class="align-self-start mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">{{name}}</h5>
            <p>{{tagline}}</p>
            <p>{{description}}</p>
            <h3>Food Pairing</h3>
            <ul>
                {{#each food_pairing}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>