<div id="random-beer-container">
    {{#with randomBeer}}
    <div id="random-beer">
      <img src="{{image_url}}" alt="{{description}}">
    </div>
    <div id="info-section">
      <h2 id="name">{{name}}</h2>
      <p id="tag-line">{{tagline}}</p>
      <p>{{description}}</p>
      <p id="pairings"><b>Food Pairing</b></p>
      <ul>
        {{#each food_pairing}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <p><b>Brewers Tips:</b> {{brewers_tips}}</p>
    </div>
    {{/with}}
</div>
