<div>
    <div>
        <img src="{{beer.image_url}}" alt="beer">
    </div>
    <div>
        <h1>{{beer.name}}</h1>
        <p>{{beer.tagline}}</p>
        <p>{{beer.description}}</p>
        <p>{{beer.food_pairing}}</p>
        <p>{{beer.brewers_tips}}</p>
    </div>
</div>
