<div class="randomicList">
  <div>
    <img src="{{beer.image_url}}" alt="RandomBeer" />
    <div>
      <h1>{{beer.name}}</h1>
      <h2>{{beer.tagline}}</h2>
      <p>{{beer.description}}</p>

      <strong>Food pairing:</strong>
      <ul>
        {{#each beer.food_pairing}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <p><strong>Brewers tips:</strong> {{beer.brewers_tips}}</p>
    </div>
  </div>
</div>
