<div>
    <img src="{{random.image_url}}" height="300"/>
    <h1>{{random.name}}</h1>
    <p>{{random.tagline}}</p>
    <p>{{random.description}}</p>
    <p>Food Pairing: {{random.food_pairing}}</p>
    <p>Brewers Tips: {{random.brewers_tips}}</p>
</div>