<div>
    <article>
        <img src="{{random.image_url}}" alt="{{random.name}}">
        <hr>
        <p>{{random.name}} </p>
        <p>{{random.description}}</p>
        <p>{{random.tagline}}</p>
        <p>{{random.food_pairing}}</p>
        <p>{{random.brewer_tips}}</p>
        <p>Hola</p>
    </article>
</div>