<div class="container-beer">
    <a href="">{{beerId}}</a>
    <div class="image-left">
        <img src="{{beer.image_url}}" alt="">
    </div>
    <div class="text-content-right">
        <h4 class="title-card">
            <a href="/beers/beer">
            
            </a>
            {{beer.name}}
        </h4>
        <h5 class="tag-line">
            {{beer.tagline}}
        </h5>
        <p class="text-description-card">
            {{beer.description}}
        </p>
    </div>
</div>

   

   

