{{!-- we didn't put [] to the index position of the array in express or HBS --}}
<p><img src="{{beer.0.image_url}}" alt="beer-img"></p>
<h1>{{beer.0.name}}</h1> 
<p>{{beer.0.description}}</p>
<h2>Food Pairing</h2>
<p>{{beer.0.food_pairing}}</p>
<p> Brewer Tips : {{beer.0.brewers_tips}}</p>
</li>