<div style="display: flex;">
    <div class="mb-3" style="width: 20%;">
     <img src="{{beersFromApi.image_url}}" class="" alt="..." width="200px" height="400px">
</div>
<div class="card-body" style="width: 60%;">
    <h5 class="card-title">{{beersFromApi.name}}</h5> 
    <small class="text-muted">{{beersFromApi.tagLine}}</small>
    <p class="card-text">{{beersFromApi.description}}</p>
    <h4>Food Pairing</h4>
    {{#each beersFromApi.food_pairing}}
        <li>{{this}}</li>
    {{/each}}
    <br>
    <p class="card-text">{{beersFromApi.brewers_tips}}</p>
</div>
</div>
 
