<div>
            {{#each responseFromAPI}}
            <img src="{{this.image_url}}"></img>
            {{this.name}}
            {{this.description}}
            {{this.food_paring}}
            {{this.brewers_tips}}
            {{/each}}
</div>