{{!-- <div class="random-beer-container">
    <img src="{{beer.image_url}}" alt="">
    <aside>
        <h1>{{beer.name}}</h1> 
        <p>{{beer.description}}</p> 
        <p><i>{{beer.tagline}}</i></p> 
        <h3>Food pairing</h3> 
        {{#each beer.food_pairing}}
            <p>{{this}}</p>
        {{/each}}
        <h3>Brewers tips</h3>
        <p>{{beer.brewers_tips}}</p>
    </aside>
</div> --}}

{{>oneBeer beer}}