<div class='random-container'>
  <div class="random-image"> 
    <img src='{{image_url}}' alt='' />
  </div>
  <div class="random-content">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <p>{{food_pairing}}</p>
    <p>{{brewers_tips}} </p>
  </div>

</div>