<div class='random-beer'>
    <img src="{{image_url}}" alt="{{name}}">
    <div class='about-beer'>
        <h2>{{name}}</h2>
        <p><i>{{tagline}}</i></p>
        <p>{{description}}</p>
        <ul>Food Pairing
            <li>{{[food_pairing]}}</li>
            <li>{{[,food_pairing]}}</li>
            <li>{{[,,food_pairing]}}</li>
        </ul>
        <p><b>Brewers Tips:</b>{{brewers_tips}}
        </p>
    </div>
</div>