
{{!-- <h3>{{randomBeer.0.name}}</h3> --}}
{{!-- <h3>{{responseFromAPI.0.name}}</h3> --}}

<img class='beer-image' src="{{randomBeer.0.image_url}}" alt="Beer image">
<h1>{{randomBeer.0.name}}</h1>
<h3>{{randomBeer.0.tagline}}</h3>
<article>{{randomBeer.0.description}}</article>
<br>
<h4>Food pairing:</h4>
<article>{{randomBeer.0.food_pairing}}</article>
<br>
<h4>Brewer's tips:</h4>
<article>{{randomBeer.0.brewers_tips}}</article>
