<img src="{{randomBeer.image_url}}">
<div>
    <h3>{{randomBeer.name}}</h3>
    <p>{{randomBeer.tagline}}</p>
    <p>{{randomBeer.description}}</p>
    <ul>
        <li>{{randomBeer.food_pairing}}</li>
    </ul>
    <p>{{randomBeer.brewers_tips}}</p>
</div>
