{{#with randomBeer}}
{{!-- <div>
        <img src="{{this.image_url}}" alt="{{this.name}}">
        <h2>{{this.name}}</h2>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
</div> --}}

{{> BeerPartial}}
<a href="/beers/beer-{{this.id}}">
        <div>
                <p>Food Pairing</p>
                <ul>
                        {{#each food_pairing}}
                        <li>{{this}}</li>
                        {{/each}}
                </ul>

        </div>
        
        <div>
                <p>Brewer Tips: <span>{{this.brewers_tips}}</span></p>

        </div>
</a>


{{/with}}