<div>{{#each randomBeer}}
    <img src='{{this.image_url}}' alt='{{this.name}}' />
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    <p>{{this.food_pairing}}</p>
    <p>{{this.brewers_tips}}</p>
  {{/each}}</div>