
<div class="container">
    {{#each id}}
    <ul class="beer-container">
    <li class="beer-li1">Brewery Name: {{name}}</li>
    <li class="beer-li">Brewery Type: {{brewery_type}}</li>
    <li class="beer-li">City: {{city}}</li>
    <li class="beer-li">Country: {{country}}</li>
    <li class="beer-li">Phone: {{phone}}</li>
    <li class="beer-li">Website: <a href="{{website_url}}">{{name}}</a></li>
     </ul>
    {{/each}}
</div>