<div>
    {{#each rBeers}}

    <div>
        <img src={{image_url}} style="width: 50px;">
        <br>
        {{name}}
        <br>
        <br>
        {{description}}
        <br>
        <br>
        {{tagline}}
        <br>
        <br>
        {{food_pairing}}
        <br>
        <br>
        {{brewers_tips}}
    </div>

    {{/each}}
</div>