<h2>{{responseFromApi.name}}</h2>
<div class="card horizontal small">
    <div class="card-image"><img src="{{responseFromApi.image_url}}" alt=""></div>
    <div class="card-stacked">
        <p>{{responseFromApi.description}}</p>
        <p>{{responseFromApi.tagline}}</p>
        <p>{{responseFromApi.food_pairing}}</p>
        <p>{{responseFromApi.brewers_tips}}</p>
    </div>
</div>