<div>
    <img src={{image_url}} alt="yummy beer image">
</div>

<div>
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>

    <h4>Food Pairing</h4>
    <ul>{{food-pairing}}</ul>
    <p><b>Brewers Tips:</b> {{brewers_tips}} </p>
</div>