<div class='random__beer'>
  <div class='random__beer-img'>
    <img src='{{beer.image_url}}' alt='{{beer.name}}' />
  </div>
  <div class='random__beer-info'>
    <div id='random__beer--info-title'><h2>{{beer.name}}</h2></div>
    <div id='random__beer--info-tagline'>{{beer.tagline}}</div>
    <div id='random__beer--info-description'>{{beer.description}}</div>
    <div id='random__beer--info-pairing'>
      <span>Food Pairing</span>
      <div>
        <ul>
          {{#each beer.food_pairing}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>

    </div>
    <div id='random__beer--info-brewersTips'><span>Brewers Tips:</span>
      {{beer.brewers_tips}}</div>
  </div>
</div>