<div>{{#each randomBeer}}
    <img src='{{this.image_url}}' alt='{{this.name}}' />
    <p>{{this.name}}</p>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    <p>{{this.brewers_tips}}</p>

    <p>Food Pairing</p>
    <ul>
      {{#each food_pairing}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>
  {{/each}}</div>