{{#each responseFromAPI}}

<div class="random-div">
    <img class="random-beer" src={{image_url}} alt={{name}}>


    <h1> {{name}} </h1>
    <p> {{tagline}} </p>
    <p1>{{description}}</p1>
    <p1>{{food_pairing}}</p1>
    <p1>{{brewers_tips}}</p1>

</div>

{{/each}}