{{!-- <img src='{{randomBeer.image_url}}' alt='random beer image' />
<p>{{randomBeer.name}}</p>
<p>{{randomBeer.description}}</p>
<p>{{randomBeer.tagline}}</p> --}}
{{>beerpartial randomBeer}}
<ul>
  {{#each randomBeer.food_pairing}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<p>{{randomBeer.brewers_tips}}</p>