<div class = "">
    {{#each responseFromApi}}
    {{#if this.image_url}}
    <img src="{{image_url}}" alt="">
    {{else}}
    <img src="images/beer.png" alt="">
     {{/if}}
    <p>{{name}}</p>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>{{brewers_tips}}</p>
    {{/each}}
</div>