<section class='random-beer'>
  <ul>
    {{#each this}}
      <img src='{{this.image_url}}' alt='beer' />
      <li> {{this.name}} </li>
      <li> {{this.description}} </li>
      <li> {{this.tagline}} </li>
      <li> {{this.food_pairing}} </li>
      <li> {{this.brewers_tips}} </li>
    {{/each}}
  </ul>
</section>