{{#each responseFromAPI}}
     <div class='random-beer'>
     <div class='random-beer-top'>
     <img src='{{image_url}}' class='random-beer_img'/>
     </div>
     <div class='random-beer-body'>

     <h3 class='random-beer-title'>{{name}}</h5>
     <p class='tag'>{{tagline}}</p>

     <h4>Description</h4>
     <p class='description'>{{description}}</p>

     <h4>Food Pairing</h4>
     <p class='pairing'>{{food_pairing}}</p>

     <h4>Brewers Tips</h4>
     <p class='tips'>{{brewers_tips}}</p>




     </div>
      </div>
 {{/each}}