<ul>
    {{#each this}}
        <li>{{image}}</li>
        <li>{{name}}</li>
        <li>{{description}}</li>
        <li>{{tagline}}</li>
        <li>{{food_pairing}}</li>
        <li>{{brewer_tips}}</li>
    {{/each}}
</ul>