<div class="randomBeer">
{{#with beersFromApi}}
    <h2>{{name}}</h2>
    <div class="randomBeerAbout">
        <img src="{{image_url}}" alt="Image for {{name}}">
        <div class="randomBeerDescription">
            <p class="beersTagline">{{tagline}}</p>
            <p>{{description}}</p>
            <h4>Food Pairing</h4>
            {{#each food_pairing}}
                <li>{{this}}</i>
            {{/each}}
            <h4>Brewers Tips:</h4>
            <p>{{brewers_tips}}</p>
        </div>
    </div>
{{/with}}
</div>