    <div class="info">
        <img src="{{image_url}}" alt="">
        <h5 class="title1">{{name}}</h5>
        <p class="beer-description">{{description}}</p>
        <p class="tag">{{tagline}}</p>
        <p class="food-pairing">{{food_pairing}}</p>
        <p class="brewer-tips">{{brewer_tips}}</p>
    </div>