<div class="beerCont">
  <div>
    <img src="{{image_url}}" alt="">
  </div>
  <div>
    <h3>Name:{{name}}</h3>
    <p>Description{{description}}</p>
    <h4>{{tagline}}</h4>
    <p>Food pairing: {{food_pairing}}</p>
    <p>Brewers tips: {{brewers_tips}}</p>
  </div>
</div>