<div>


    {{#each randomBeer}}
    
    <img src="{{ image_url }}" alt="">
    <br>
    {{ name }}
    <br>
    {{ description }}
    <br>
    {{ tagline }}
    <br>
    {{ food_pairing }}
    <br>
    {{ brewers_tips }}
    
    
    {{/each}}


</div>