<!--abro el forEach-->
{{#each beers}}

<!--datos que solicito -->
<img class="imgBeer" src="{{image_url}}" alt="">
<p>
    {{name}}
</p>
<p>
    {{description}}
</p>

<p>
    {{tagline}}
</p>
<p>
    {{food_pairing}}
</p>


{{brewers_tips}}
<!--cierro el forEach-->
{{/each}}