<img src="{{randomBeer.image_url}}" alt="">
<p>{{randomBeer.name}}</p>
<p>{{randomBeer.description}}</p>
<p>{{randomBeer.tagline}}</p>
<p>{{randomBeer.food_pairing}}</p>
<p>{{randomBeer.brewer_tips}}</p>