<div class="random-beer">
    {{#each random}}



    <img class="image" src={{image_url}} alt="foto cerveza">

    <div class="text">
        <h1>{{name}}</h1>
        <p>{{tagline}}</p>
        <p>{{description}}</p>
        <p>{{food_paring}}</p>
        <p>{{brewer_tips}}</p>
    </div>

    {{/each}}
</div>