<h1>RRRRRRRRRRRandom</h1>
{{#each whatever}}
<img src="{{this.image_url}}" alt="">
<h1>Name: {{this.name}}</h1>
<h2>Description: {{this.description}}</h2>
<p>Tagline:{{this.tagline}}</p>
<p>Food pairing: {{this.food_pairing}}</p>
<p>Brewers tips: {{this.brewers_tips}}</p>
<br><br><br>
{{/each}}