<section class="container">
    <img src="{{image_url}}" alt="">
    <p>{{name}}</p>
    <p>{{description}}</p>
    <p>{{brewer_tips}}</p>
    <p>{{tagline}}</p>
    <h6>Food Pairing:</h6>
    <ul>
    {{#each food_pairing}}
    <li>
    {{this}}
    </li>
    {{/each}}
    </ul>
</section>