
<div>
    <h1>Random Beers</h1>
    
      <!--  {{#each beers}} -->

       {{> beerpartial this}}
    
  
      <h5>FOOD PAIRING: {{this.food_pairing}}</h5>
      <h5>BREWERS TIPS: {{this.brewers_tips}}</h5>
    
     <!--   {{/each}}       <div>
    <img src="{{this.image_url}}" alt="{{this.name}}"/>
    <div>
      <h3>{{this.name}}</h2>
      <h4>{{this.description}}</h4>
      <h5>{{this.tagline}}</h5> -->
    </div>
</div>