<div>
  <img height='200' src='{{image_url}}' alt='' />
  <h2>{{name}}</h2>
  <h3>{{tagline}}</h3>
  <p>{{description}}</p>
  <p>Food Pairing: {{food_pairing}}</p>
  <p>Brewers Tips: {{brewers_tips}}</p>

</div>