<div class="container">

    <div class='row'>

        <div class="col">

            <img class="beerimg" src="{{image_url}}" alt="{{beerimg}}">


        </div>

        <div class="col">

            <h2>{{name}}</h2>
            <h3>Description:</h3>
            <p>{{description}}</p>
            <hr>

            <p>{{tagline}}</p>
            <hr>

            <h3>Food pairing</h3>
            <p>{{food_pairing}}</p>
            <hr>


            <h3>Brewer Tips</h3>
            <p>{{brewers_tips}}</p>
        </div>
        
        <a class="btn btn-dark" href="/">Volver a inicio</a>


    </div>