{{#each randomBeer}}

<div id="random-beer">

    <div>
        <img id="random-beer-img" src="{{image_url}}" alt="">
    </div>

    <div class="random-beer-text">
        <h2>{{name}}</h2>
        <h3>{{tagline}}</h3>
        <p>{{description}}</p>
        <p><strong>Food Pairing: </strong></p>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><strong>Brewers Tips: </strong>{{brewers_tips}}</p>
    </div>

</div>

{{/each}}