<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

 <h2><img src="{{responseFromAPI.[0].image_url}}">
 <h3>{{responseFromAPI.[0].name}}</h3>
<h3>{{responseFromAPI.[0].description}}</h3>
<h3>{{responseFromAPI.[0].tagline}}</h3>
<h3>{{responseFromAPI.[0].food_pairing}}</h3>
<h3>{{responseFromAPI.[0].brewers_tips}}</h3>



    
</body>
</html>