<div class="random">
        <img src="{{image}}" alt="{{name}}" />
        <h3><strong>{{name}}</strong></h3>
        <h2 style="color:#bfbfbf">{{tag}}</h2>
        <p>{{description}}</p>
        <h3><strong>Food Pairing:</strong></h3>
        <p>{{food_pairing}}.</p>
        <h3><strong>Brewers Tips:</strong></h3>
        <p>{{brewers_tips}}.</p>
</div>