<div class="container">

    <h1>Cerveza Aleatoria del Día!!!</h1>

    <hr>



    <div class="container">

        {{#each beerRandom}}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <img src="{{image_url}}" class="card-img-top img-fluid mx-auto" alt="{{name}} ">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{descritption}}</p>
                        <p class="card-text">{{tagline}}</p>
                        <p class="card-text">{{food_pairing}}</p>
                        <p class="card-text">{{brewers_tips}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <hr>

    <a href="/" class="btn btn-dark mt-3 mb-5">Volver a inicio</a>


</div>