<div>
    <nav>
        <a href="/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beer">Random Beer</a>
    </nav>
</div>

<h1>random Beer</h1>

<div class="beer">
{{#each randomBeer}}

<li><img src="{{image_url}}"></li>
<li>{{name}}</li>
<li>{{description}}</li>
<li>{{tagline}}</li>
<li>{{food_pairing}}</li>
<li>{{brewer_tips}}</li>

{{/each}}
</div>