<div>

     <img src="{{image_url}}"> </img>
     <h2>{{this.name}}</h2>
     <p>{{this.tagline}}</p>
     <p>{{this.description}}</p>
     <p>Food Pairing</p>
        {{#each food_pairing}}
        {{this}}
        {{/each}}
    <p>{{this.brewer_tips</p>
    

</div>