<div class="wrap-container">
    {{#each beer}}
    <div class="beers-container">
        <div>
            <a href=""><img src="{{ image_url }}" alt="{{ name }}"></a>
        </div>
        <div class="text-container2">
            <h1>{{name}}</h1>
            <h2>{{tagline}}</h2>
            <p>{{description}}</p>
        </div>
    </div>
    {{/each}}
</div>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">© 2021 The Best Beers, App</span>
        </div>
        <ul class="pagination justify-content-end nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="/">1</a></li>
            <li class="page-item"><a class="page-link" href="/beers">2</a></li>
            <li class="page-item"><a class="page-link" href="/random-beer">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </footer>
</div>



