<div>
  {{#each randomBeer}}
    <p>{{this.name}}</p>
    <p>{{this.tagline}}</p>
    <img src={{this.image_url}} />
    <p>food pairing:</p>
    {{#each this.food_pairing}}
      <ul>
        <li> {{this}}</li>
      </ul>

    {{/each}}

    <p>brewer tips:</p>
    {{this.brewers_tips}}
  {{/each}}

</div>