{{#each responseFromAPI}}

<img src="{{this.image_url}}" alt="">
<h2>{{this.name}}</h2>
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>
<p>{{this.food_pairing}}</p>
<p>{{this.brewers_tips}}</p>


{{/each}}