<div>

{{!-- {{randomBeer}} --}}

<p>
     Name: {{randomBeer.name}}
</p>
<p>
    Tagline: {{randomBeer.tagline}}
</p>
<p>
    Description: {{randomBeer.description}}
</p>
<p>
     food pairing: {{randomBeer.food_pairing}}
</p>
<p>
     brewers tips: {{randomBeer.brewers_tips}}
</p>

<p>
    <img src= {{randomBeer.image_url}} alt="randomBeer" width="300">
</p>

</div>