{{#each beerData}}
<img src="{{this.image_url}}" alt="Random beer: {{this.name}}">
<h1>{{this.name}}</h1>
<h2>{{this.tagline}}</h2>
<p>{{this.description}}</p>
<h2>Food Pairing</h2>
<ul>
    {{#each this.food_pairing}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>
<p><strong>Brewer Tips:</strong>{{this.brewers_tips}}</p>

{{/each}}