<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Random Beer</h2>
    {{#each beers}}
        <h2>{{name}}</h2>
        <img class="beers" src="{{image_url}}"></img>
        <p>Description {{description}}</p> 
        <b>{{tagline}}</b>   
        <p><b>Food paring</b></p>
        {{#each food_pairing}}
            <ul>
                <li>{{this}}</li>
            </ul>
        {{/each}}
        <p><b>Brewers Tips:</b>{{brewers_tips}}</p>      
    {{/each}}
</body>
</html>