

<div class="overview">
    <div>
        <img src='{{aBeer.image_url}}'/>
        <h2>{{aBeer.name}}</h2>
        <h3>{{aBeer.tagline}}</h3>
        <p>{{aBeer.description}}</p>
        <p>{{aBeer.foodpairing}}</p>
        <p>{{aBeer.brewers_tips}}</p>
    </div>
</div>

