{{#each beersFromApi}}
<div>
    <img src={{image_url}} alt="">
    <li>{{name}}</li>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <li>{{food_pairing}}</li>
    <p>{{brewers_tips}}</p>
</div>
{{/each}}