<div>
    <img src="{{this.image_url}}" width="100" alt="photo of beer">
    Name: {{this.name}}
    Description: {{this.description}}
    Tagline: {{this.tagline}}
    Food pairing: {{this.food_pairing}}
    Brewer tips: {{this.brewers_tips}}
</div>