


<div class="wrap-container">
    {{#each beer}}
    <div class="beers-container">
        <div>
            <a href=""><img src="{{ image_url }}" alt="{{ name }}"></a>
        </div>
        <div class="text-container2">
            <h1>{{name}}</h1>
            <h2>{{tagline}}</h2>
            <p>{{description}}</p>
        </div>
    </div>
    {{/each}}
</div>



