<div>
    {{#each fullBeer as |beer|}}
        {{>beerpartials}}
        <p>First Brewed : {{beer.first_brewed}}</p>
        <p>Acidity : Ph {{beer.ph}} </p>
        <p>Contributed by : {{beer.contributed_by}}</p>
        <p>Ingredients:</p>
        <p>- Malt:</p>
        {{#each beer.ingredients.malt as |ing|}} 
        <ul>
            
            {{#each ing}}
            <li>{{this}}</li>
            {{/each}}
            
        </ul>
        {{/each}}


    {{/each}}
        {{#each oneBeer as |beer|}}
        {{>beerpartials}}
        
        <h6>Perfect with:</h6>
        <ul>
        
            <li>{{beer.food_pairing}}</li>
            
        </ul>
    
        <p><strong>TIP:</strong><br>{{beer.brewers_tips}}</p>
        {{/each}}


</div>