
<div class='random-beers'>
    {{#each randomBeer}}
    <img src={{this.image_url}}>
    <p>Beer name: {{this.name}}</p>
    <p>Description: {{this.description}}</p>
    <p>Tagline:{{this.tagline}}</p>
    <p>Food pairing: {{this.food_pairing}}</p>
    <p>Brewers tips: {{this.brewers_tips}}</p>
    {{/each}}
  </div>
</div>