    <div class="container">
    <div class="row">
    {{#each beersFromApi}}

        <div class="col-md-2">

            <div class="card ">
                <img src="{{image_url}}" class="card-img-top" alt="{{name}} {{lastName}}">               

            </div>

        </div>
        <div class="col-md-10">
             <div class="card-body">
                    <h5 class="card-title">{{name}} </h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">{{tagline}}</p>
                   <ul>
                    {{#each food_pairing}}
                    <li>
                        {{this}}

                    </li>
                     {{/each}}
                    </ul>
                    <h5>Brewers Tips: {{brewers_tips}}</h5>
                </div>
        </div>
    </div>
</div>
    {{/each}}
</div>
    