<h1>Random Beers</h1>

   {{name}}
 <img src="{{image_url}}" alt=""> 
  <br>
  {{description}}
  {{tagline}}
  <br>
  <br>
  <p>Food pairing: {{food_pairing}}</p>
  <br>
  <p>Brewers tips: {{brewers_tips}}</p>

