<div class='random-container'>
    <div class='random-box'>
        <img src='{{beers.image_url}}' style='height:30vh' />
        <h1>{{beers.name}}</h1>
        <p><small>{{beers.tagline}}</small></p>
        <p>{{beers.description}}</p>
        <h2>Food Pairing</h2>
        <ul>
            <li> {{beers.food_pairing.[0]}}</li>
            <li>{{beers.food_pairing.[1]}}</li>
            <li>{{beers.food_pairing.[2]}}</li>
        </ul>
        <p><b>Brewing Tips: </b>{{beers.brewers_tips}}</p>
    </div>
</div>