<div>
    <h1>Random view beer</h1>

    <ul> {{#each rand}}
        <li>
            <img src="{{this.image_url}}" atl="beers pic">
            <h2>{{this.name}} </h2>
            <h4>{{this.tagline}}</h4>
            <p>{{this.description}}</p>
            <p>{{this.food_pairing}}</p>
            <p>{{this.brewers_tips}}</p>
        </li>
        <br>
        {{/each}}

    </ul>

</div>