<div>
    <ul>
        {{#each random as |beer|}}
        <img src="{{beer.image_url}}" alt="">
        <p>{{beer.id}}</p>
        <h1>{{beer.name}}</h1>
            <h3>{{beer.tagline}}</h3>
            <p>{{beer.description}}</p>
        
            <h4>Food Pairing</h4>
            <ul>
                {{#each food_pairing as |food|}}
                <li>{{food}}</li>
                {{/each}}
            </ul>

            <h4>Brewers Tips:</h4>
            <p>{{beer.brewers_tips}}</p>
        {{/each}}
    </ul>
</div>