<div>
  <img src="{{this.image_url}}" alt="{{this.name}}" style="width: 100px;">
  <h2>{{this.name}}</h2>
  <p>{{this.description}}</p>
  <p>{{this.tagline}}</p>
  <p><strong>Food Pairing:</strong> {{this.food_pairing}}</p>
  <p><strong>Brewer Tips:</strong> {{this.brewers_tips}}</p>
</div>