<h2>Here is the random beer</h2>

<div>
<img class="beerRandom" src="{{image_url}}" alt="beer">
<h5>{{name}}</h5>
<p>{{description}}</p>
<p>{{tagline}}</p>
<p>{{food_pairing}}</p>
<p>{{brewers_tips}}</p>
</div>
