  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="{{randomBeer.image_url}}" class="card-img-top" alt="{{randomBeer.name}}">
        <div class="card-body">
          <h5 class="card-title">{{randomBeer.name}}</h5>
          <p class="card-text">{{randomBeer.description}}</p>
          <p class="card-text">{{randomBeer.tagline}}</p>
        </div>
      </div>
    </div>
  </div>

