<div>
  {{#each beersFromApi}}
    <img src={{image_url}} alt='' />
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <p>{{food_pairing}}</p>
    <p>{{brewer_tips}}</p>

  {{/each}}
</div>