<div id="random-beer-wrapper">
    <div id="random-beer">
        <img src="{{this.image_url}}"/>
        <div id="random-beer-text">
            <h3>{{this.name}}</h3>
            <p><b class="tagline">{{this.tagline}}</b></p>
            <p>{{this.description}}</p>
            <p><b>Brewer's tips:</b> {{this.brewers_tips}}</p>
        </div>
    </div>
</div>