{{#if responseFromAPI}}
    <div id="container">
        {{#each responseFromAPI}}
            <div id="beer-div">
                <img id="random-beer-image" src="{{this.image_url}}" alt="Beer {{this.name}}">
                <div id="beer-info">
                    <div><span id="beer-name">{{this.name}}</span></div>
                    <div>{{this.description}}</div>
                    <div>{{this.tagline}}</div>
                    {{#if this.food_pairing}}
                    <div><span id="pairing">Food pairing:</span>
                        <ul>
                            {{#each this.food_pairing}}
                            <li id="food-pairing">{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                    <div><span id="tips">Brewer's tips:</span> {{this.brewers_tips}}</div>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}