<div>
    {{#each beerFromApi}}
    
    <div class="each-beer">
        <img src={{this.image_url}}>
        <a href="/beers/{{this.id}}" class="beer-name">{{this.name}}</a>
        <p id="description">Description: {{this.description}}</p>
        <p>Tagline: {{this.tagline}}</p>
    </div>
    
   
    
   
 {{/each}}
</div>