 <div class="col-md-12">
  <div class="card">
    <img class="card-img-top" src="{{image_url}}" alt="{{name}}" />
    <div class="card-body">
      <h5 class="card-title">
        {{name}}
      </h5>
      <p class="card-text">
        {{description}}
      </p>
      <p class="card-text">
        {{tagline}}
      </p>
      <p class="card-text">
          {{#each food_pairing}}
          <div class="col-md-12">
            <p>{{this}}</p>
          </div>
          {{/each}}
      </p>
      <p class="card-text">
        {{brewers_tips}}
      </p>
    </div>
  </div>
</div>