<div class="container">
    <img src="{{image_url}}" alt="{{name}}">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <h3>{{food_pairing}}</h3>
    <p>{{brewer_tips}}</p>
</div>