<a href="/beer/{{this.id}}">
  <div class="card">
    <img src="{{this.image_url}}" alt="" height="148px" width="64">
    <h4>{{this.name}}</h4>
    <h5>{{this.tagline}}</h5>
    <p>{{this.description}}</p>
  </div>
</a>