
<div>
    <img src={{beer.image_url}} alt={{beer.id}}>
    {{!-- name --}}
    <h2>name: {{beer.name}}</h2>
    {{!-- tagline --}}
    <h3>tagline: {{beer.tagline}}</h3>
    {{!-- Description --}}
    <p>despcription: {{beer.Description}}</p> 
</div>

