<div class= "col-md-4 text-center card">
    <div class = "img-beer">
        <img src="{{image_url}}" alt="{{name}}"/>
    </div>
    <div class ="text-beer">
        <h2>{{name}}</h2>
        <h4>{{tagline}}</h4>
        <p>{{description}}</p>
    </div>
</div>