
<div id="beerItems">
    <img src={{this.image_url}} alt={{this.id}}>

    <h2>name: {{this.name}}</h2>
    {{!-- tagline --}}
    <h3>tagline: {{this.tagline}}</h3>
    {{!-- Description --}}
    <p>despcription: {{this.Description}}</p> 
</div>

