<div class="col-md-4">

    <div class="card">
        <img class="card-img-top" src="{{photo}}" alt="{{name}} {{lastName}}">
        <div class="card-body">
            <h5 class="card-title">{{name}} {{lastName}}</h5>
            <p class="card-text">{{team}}</p>
        </div>
    </div>

</div>