
  <div class="card-image">
    <figure class="image is-4by3">
      <img id="fotochela2" src="{{this.image_url}}" alt="Placeholder image" >
    </figure>
  </div>
  <div id="caja2" class="beers-content"  >
    <div  class="media">
      <div   class="media-content">
        <p class="title is-4">{{this.name}}</p>
        <p class="subtitle is-6">{{this.tagline}}</p>
        <p class="subtitle is-6">{{this.description}}</p>
        <p class="subtitle is-6">{{this.food_pairing}}</p>
        <p class="subtitle is-6">{{this.brewers_tips}}</p>

     

      </div>
    </div>
  </div>
