

<div>
 <div class="card-style" style="width: 18rem;">
  <img src="{{this.image_url}}" class="card-img" alt="{{this.name}}">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <h6 class="card-subtitle mb-2">{{this.tagline}}</h6>
    <p class="card-text">{{this.description}}</p>
  </div>
 </div>
</div>