
<img alt="{{this.name}}" src="{{this.image_url}}">

<div class="title">
    {{this.name}}
</div>

<div class="tag">
    {{this.tagline}}
</div>

<div class="description">
    {{this.description}}
</div>