<div class="card">
    <div class="img-wrp">
        <img src="{{this.image_url}}" alt="{{this.name}}">
    </div>
    <div class="content-wrp">
        <h2>{{this.name}}</h2>
        <h3>{{this.tagline}}</h3>
        <p>{{this.description}}</p>
    </div>
</div>