<div class="beer-card">
  <img class="beer-img" src="{{ this.image_url }}" alt="{{ this.name }}"/>
  <div class="beer-text">
    <h2 class="beer-name">{{ this.name }}</h2>
    <h4 class="beer-tag">{{ this.tagline }}</h4>
    <p class="beer-info">{{ this.description }}</p>
  </div>
</div>