

<!-- <div class="row">
  <div class="col-md-3">
    <div class="card">
      <img src="{{this.image_url}}"  class="img-fluid bottle"alt="">
      <div class="card-body">
        <h1 class="card-title">{{this.name}}</h1>

      </div>
    </div>
  </div>
</div> -->

<div class="card " style="width: 33.333%;">
      <img src="{{this.image_url}}"  class="img-fluid bottle"alt="">
      <div class="card-body">
        <h1 class="card-title">{{this.name}}</h1>
        <p class="card-text">{{this.description}}</p>
      </div>
</div>
