<div class="uk-card uk-card-small uk-card-default uk-width-1-3 uk-flex-auto">
    <div class="uk-card-media-top">
        <img src="{{image_url}}" alt="{{name}} beer">
    </div>
    <div class="uk-card-body">
        <h2 class="uk-card-title uk-text-lead">{{name}}</h2>
        <h3 class="uk-card-title uk-text-meta">{{tagline}}</h3>
        <p>{{description}}</p>
    </div>
</div>