<div class="beer-image">
  <img src={{image_url}} alt="beer-image">
</div>
<div class="beer-information">
  <h2>{{name}}</h2>
  <h3>{{tagline}}</h3>
  <p>{{description}}</p>
  <p>
    <strong>Food pairing</strong>
  </p>
  <ul>
    {{#each food_pairing}}
    <li>{{this}} </li>{{/each}}
  </ul>
  <p>
    <strong>Brewer's Tips: </strong>{{brewers_tips}}</p>
</div>