
{{#each beers}} 
<li><img src="{{ image_url }}" alt=""></li>
<li>Name: {{name}}</li>
<li>Description: {{ description }}</li>
<li>tagline: {{ tagline }}</li>
<li><a href="/beers/{{ id }}">Learn More about this Beer</a></li>
{{/each}}

