<div class="col-md-4">
    <div class="card">
        <img src={{image_url}} class="card-img-top" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{tagline}}</p>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>