<div class="tabeers" >
    <div class= "row d-flex justify-content-center">
    {{#each beers}}
        <div class="col-4">
            <div class="container">
                <form>
                    <img class="beer-img-top" src="{{this.image_url}}" alt="Beer picture" onclick="window.location.href='/thebeerid{{this.id}}'">
                </form>
                
                <h1 class="beer-title">{{this.name}}</h1>
                <h5 class="beer-tagline">{{this.tagline}}</h5>
                <p class="beer-description">{{this.description}}</p>
            </div>
        </div>
    {{/each}}
    </div>
</div>