<div class="col s12 m4 beer-card">
  <img src="{{beer.image_url}}" alt="{{beer.name}}" class="beer-image">
  <h5 class="left-align">{{beer.name}}</h5>
  <h6 class="left-align">{{beer.tagline}}</h6>
  <p class="left-align">{{beer.description}}</p>
</div>