<div class="col-md-4">
  <div class="card">
    <img class="card-img-top" src="{{image_url}}" width="30%" alt="">
    <div class="card-body">
      <h5 class="card-title">{{name}} </h5>
      <h6 class="card-text">{{tagline}}</h6>
      <p class="card-text">{{description}}</p>
      <p class="card-text">{{food_pairing}}</p>
    </div>
  </div>

</div>