<div class="cards">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{this.image_url}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <h4 class="tag">{{this.tagline}}</h4>
            <p class="card-text1">{{this.description}}</p>
            <p class="card-text2">{{this.brewerTips}}</p>
        </div>
    </div>
</div>