<div class="col-md-4 d-flex flex-column mb-3">
    <img src="{{image_url}}" class="beer-img align-self-center" alt="{{name}}">
    <h5 class="font-weight-bold mt-4">{{name}}</h5>
    <p class="beer-tagline">{{tagline}}</p>
    <p>{{description}}</p>
</div>