<tr>
    <td><img src="{{this.image_url}}" alt="beer image"></td>
    <td><a class="idBeerLink" href="/beers/{{this.id}}">{{this.name}}</a></td>
    <td>{{this.description}}</td>
    <td>{{this.tagline}}</td>
</tr>