<div class="beer-img">
    <img src="{{image_url}}" alt="{{tagline}}" width="80" height="200">
</div>
<div class="text">
    <h2><a href="/beers/{{this.id}}">{{name}}</a></h2>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
</div>
