<a id="beerInfo" href="/select-beer?beer={{id}}">
<div id="beerPartial">
    
    <img src="{{image_url}}" id="picture"/>
    <div id="leftadj">
        <h3 id="name">{{name}}</h3>
        <h5 id="tagline">{{tagline}}</h5>
        <p id="description">{{description}}</p>
        
    </div>
    
</div>
</a>
