{{!-- {{#each beers}}
{{#with this}}
{{name}}
{{/with}}
{{/each}} --}}
<div>
  <img src="{{this.image_url}}" alt="">
  <h1>{{this.name}}</h1>
  <span>{{this.tagline}}</span>
  <p>{{this.description}}</p>
</div>