<div class="beer-card">
    <img class="beer-portrait" src={{this.image_url}} alt={{this.name}}>
    <h2 class="beer-name">{{this.name}}</h2>
    <h3 class="beer-tagline "> {{this.tagline}} </h3>
    <p class="beer-description"> {{this.description}} </p>
</div>