
<div class="imgBeer">
  <img class="bottle" src="{{this.image_url}}" alt="{{this.name}} beer image">
</div>
<div class="infoBeer">
  <h1 class="title">{{this.name}}</h1>
  <h2 class="subtitle">{{this.tagline}}</h2>
  <p class="description">{{this.description}}</p>
