<div class="col-sm-4">
    <div class="card-beer">
        <img src={{ this.image_url}} class="card-img-top" alt={{ this.name }}>
        <div class="card-body">
            <h3 class="titulo">{{ this.name }}</h3>
            <h5 class="titulo-h5">{{ this.tagline }}</h5>
            <p class="text"> {{ this.description }} </p>
        </div>
    </div>
</div>