<div class="card" style="width: 18rem;">
  <img src="{{beer.image_url}}" class="card-img-top" alt="{{beer.name}}">
  <div class="card-body">
    <h5 class="card-title">{{beer.name}}</h5>
    <p class="card-text beer">{{beer.description}}</p>
    <p><strong>{{beer.tagline}}</strong></p>
  </div>
</div>