<div class="col-12 col-md-6 col-lg-4">
  <div class="card">
    <div class="text-center">
      <img class="card-img-top" src="{{image_url}}" alt="{{name}}">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="text-black-50">{{tagline}}</p>
      <p class="card-text">{{description}}</p>
    </div>
  </div>
</div>