<div>
  <div class="uk-card uk-card-default">
    <div class="uk-card-media-top">
      <img src="{{image_url}}" alt="{{name}}" height="50px">
    </div>
    <div class="uk-card-body">
      <h1 class="uk-card-title">{{name}}</h1>
      <h3 class="uk-card-title"><small>{{tagline}}</small></h3>
      <p>{{description}}</p>
    </div>
  </div>
</div>