<div class="col-md-4">
    <div class="beers">
        <img class="beer-img-top" src="{{image_url}}" alt="{{name}}">
        <div class="beer-body">
            <h5 class="beer-title">{{name}} {{tagline}}</h5>
            <p class="beer-text">{{description}}</p>
        </div>
    </div>
</div>