<div class="beerCard col-sm-4 col-6">
  <div class="beerImage">
    <img src="{{this.image_url}}" alt="{{this.name}}">
  </div>
  <h3>{{this.name}}</h3>
  <span>{{this.tagline}}</span>
  <p>{{this.description}}</p>
</div>