<div class="beers-card">
    <img src="{{image_url}}" alt="{{name}}">
    <span><strong>{{name}}</strong></span>
    <span class="beers-card-tagline">{{tagline}}</span>
    <span class="beers-card-description">{{description}}</span>
</div>