<div class="each-beer">
  <figure>
    <img class="img-beer" src="{{this.image_url}}" alt="{{this.name}} picture" />
  </figure>
  <br>
  <h1>{{this.name}}</h1>
  <h2>{{this.tagline}}</h2>
  <br>
  <p>{{this.description}}</p>
</div>