<div class="beer-file col-md-4">
  <div class="img">
    <img class="beer-img" src="{{this.image_url}}" alt="{{this.name}} image">    
  </div>
  <div class="name">
    <h2>{{this.name}}</h2>
  </div>
  <div class="tagline">
    <h3>{{this.tagline}}</h3>    
  </div>
  <div class="description">
    <p>{{this.description}}</p>    
  </div>
</div>