



<div class="col-md-4 flexbox">
    <div class="card">
        <img class="card-img-top" src="{{image_url}}" alt="">
        <div class="card-body">
            <h4 class="card-title">{{name}}</h4>
            <h5 class="card-text-tag">{{tagline}}</h5>
            <h5 class="card-text-tag">{{first_brewed}}</h5>
            <p class="card-text-des">{{description}}</p>
        </div>
    </div>
</div>

