<div class="single-beer">
    <div class="beer-image">
      <img src="{{image_url}}" alt="{{name}}" height="200">
    </div>
    <div>
      <h4> {{name}} </h4>
    </div>
    <div>
      <h5> {{tagline}} </h5>
    </div>
    <div>
      <p> {{description}} </p>
    </div>
</div>