
<div class="beer-info-container">
	
	<img src="{{this.image_url}}" alt="{{this.name}} image" class="beer-image">

	<h2>{{this.name}}</h2>
	<h4>{{this.tagline}}</h4>

	<p>{{this.description}}</p>

</div>