<div id="parent">

<div>
<img src={{image_url}} width="80px" height="200px">

<h4>{{name}}</h4>
<h3>{{tagline}}</h3>

<div>{{description}}</div>

{{#if food_pairing}}
<ul>
 {{#each food_pairing}}
 <li>{{this}}</li>
 {{/each}}
</ul>
{{/if}}
</div>

</div>