{{!-- <div class="card" style="width: 33.333%;">
   
  <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}} {{this.name:}}</h5>
    <p class="card-text">{{this.tagline:}}</p>
  </div>
</div> --}}

<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img class="card-img-top" alt="Thumbnail [100%x225]" src="{{this.image_url}}" data-holder-rendered="true" ">
                <div class=" card-body">
        <h3>{{this.name}}</h3>
        <p class="text-muted">{{this.tagline}}</p>
        <p class="card-text">{{this.description}}</p>
        
    </div>
</div>
</div>