<div class="beer-container">
    <div class="img-container">
        <img src="{{this.image_url}}" alt="{{this.name}}">
    </div>
    <div class="description-container">
        <h1>{{this.name}}</h1>
        <h2>{{this.tagline}}</h2>
        <p>{{this.description}}</p>
    </div>
</div>