<div class="beerContainer">
    <img src="{{this.image_url}}" alt="">
    <div class="beerInfo">
        <h4 class="elemInfo">{{this.name}}</h4>
        <h5 class="elemInfo">{{this.tagline}}</h5>
        <p class="elemInfo">{{this.description}}</p>
        <p class="randomElem">Food Pairing:</p>
        <ul class="randomElem">
        {{#each this.food_pairing}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
        <p class="randomElem">Brewer Tips: {{this.brewers_tips}}</p>
    </div>
</div>