<div class="item-beer mb-3">
    <div class="img-beer ">
        <img class="h-100 rounded mx-auto d-block" src="{{this.image_url}}" alt="{{this.name}}" >
    </div>
    <h5 class="font-weight-bold mt-4">{{this.name}}</h5>
    <span class="text-secondary">{{this.tagline}}</span>
    <p class="mt-2 text-justify">{{this.description}}</p>
</div>