<div class="container">

    <div class="col">
    <img src="{{this.image_url}}" alt="{{this.name}}" class="row">
    <h1 class="row">{{this.name}}</h1>
    <h2 class="row">{{this.tagline}}</h2>
    <p class="row">{{this.description}}</p>  
    </div>

</div>