{{!-- <div class="col-md-4 text-center"> --}}

  <div class="col-md-4 text-center">

    <img class="image-size2" src="{{this.image_url}}" alt="{{this.name}}">
  </div>
  <div class="col-md-8 text-center agua">
    <h2> {{this.name}} </h2>
    <h4> {{this.tagline}} </h4>
    <p> {{this.description}} </p>
    <ul>{{#each this.food_pairing}}
    <li>{{this}}</li>
    {{/each}}
    
    <p> {{brewers_tips}} </p>
  </div>
{{!-- </div> --}}