<article class="col-4 beer">
    <img src="{{this.image_url}}" alt="{{this.name}}" class="beer-img">
    <h1>{{this.name}}</h1>
    <p class="subtitle">{{this.tagline}}</p>
    <p>{{this.description}}</p>
</article>
