
  <img src="{{this.image_url}}" alt={{b.name}}>

  <h1>Name: {{this.name}}</h1>

  <h3>Tagline: {{this.tagline}}</h3>

  <p>Description: {{this.description}}</p>






{{!-- Now, you should create a partials folder inside the views, and beerPartial.hbs file inside 
the partials folder. Our beerPartial.hbs will display an image, name, description, and tagline 
of the beer. It should look like the following: --}}

   {{!-- <img class="beer-img" src="{{this.image_url}}" alt="">
+      <div class="description-body">
+        <h3 class="beer-name">{{this.name}}</h3>
+        <h5 class="tagline">{{this.tagline}}</h5>
+        <h5>{{this.description}}</h5> --}}