<div class="col-md-4">

    <div class="card">
        <img class="beer-img-top" src="{{image_url}}" alt="{{name}}">
        <div class="card-body">
            <h4 class="card-name">{{name}}</h4>
            <h5>{{tagline}} </h5>
            <p class="beer-text">{{description}}</p>
        </div>
    </div>

</div>