<!--beerPartial.hbs-->
  <div class="card">
    <div class="card-header text-center">
      <img class="img-fluid" src={{image_url}} alt={{id}}>
    </div>
    <div class="card-body">
      <h7 class="">{{name}}</h7>
      <h8 class="text-justify">{{description}}</h8>
      <h8 class="text-muted">{{tagline}}</h8>
    </div>
  </div>
