<div class="beer">
  <img alt="{{this.name}}" src={{this.image_url}}>
  <div class="beer-description">
    <h2>{{this.name}}</h2>
    <h4>{{this.tagline}}</h4>
    <p>{{this.description}}</p>
  </div>
</div>