<div class="col-sm-3 p-4 m-2">

  <img class="img-thumbnail" src="{{this.image_url}}" alt="{{this.name}}">

  <h5 class="card-title">{{this.name}}</h5>
  <p class="card-text"><small class="text-muted">{{this.tagline}}</small></p>
  <p class="card-text">{{this.description}}</p>

</div>