<div class="cardRandom">
    <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
    <div class="cardRandom-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.tagline}}</p>
        <p class="card-description">{{this.description}}</p>
        <p class="card-description"><b>Food pairing</b><br>{{this.food_pairing}}</p>
        <p class="card-description"><b>Brewers Tips</b><br>{{this.brewers_tips}}</p>
    </div>
</div>