<div class="beer-item">
  <img src="{{this.image_url}}" height="250px" alt="{{this.name}} {{this.tagline}}">
  
    <h2>{{this.name}}</h2>
    <h5>{{this.tagline}}</h5>
    <p>{{this.description}}</p>
  
</div>