<div class="beer-card" style="width: 20vw; display: flex; flex-direction: column; margin: 30px 5% 30px 5%;">
  <img class="card-img" src="{{this.image_url}}" alt="{{this.name}}" style="height: 20vh; width: auto; align-self: center;">
  <div class="card-text">
    <h4 class="card-title">{{this.name}}</h4>
    <h5 class="card-subtitle" style="color: rgba(145, 145, 145, 0.481);">{{this.tagline}}</h5>
    <p>{{this.description}}</p>
  </div>
</div>