  <div>
    <img src="{{beer.image_url}}" alt="{{beer.name}}" class="card-img-top">

   </div>
  <div class="card-body">
    <h5 class="card-title">{{beer.name}}</h5>
    <p class="card-title">Hello my name is {{beer.name}}</p>
    <p class="card-text">{{beer.description}}</p>
    <h5>Food Pairings:</h5>
    <ul>
      {{#each beer.food_pairing}}
      <li>
        {{this}}
      </li>
      {{/each}}
    </ul>

     <p><b>Brewer Tips: </b> {{beer.brewers_tips}}</p>

   </div>