
<div class="card col-sm-3">
    <div class="img-box">
        <img class="card-img-top mx-auto" src="{{this.image_url}}" alt="{{this.name}}">
    </div>
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5><small>{{this.tagline}}</small>
        
        <p class="card-text">{{this.description}}</p>
      </div>
</div>