<div class="beers-container">
    <img src="{{image_url}}" alt="Beer">
    <h2>{{name}}</h2>
    <p>{{tagline}}</p>
    <p>{{description}}</p>
</div>

<!--div class="beer" style="width: 33.333%;">
  <img class="beer-img-top" src="{{image_url}}" alt="beer image">
  <div class="beer-body">
    <h5 class="beer-title">{{name}} {{description}}</h5>
    <p class="beer-text">{{tagline}}</p>
  </div>
</div -->