<div class="eachBear" style="width: 300px; padding:10px 10px;">
    <img style="width: 30px; height:80px; position:relative;left: 50%;top:10%;" class="beer-images"
        src="{{this.image_url}}" alt="{{this.name}}">
    <h4 style="margin: 0;"> {{this.name}} </h4>
    <i style="color:#bfbfbf; font-size:14px"> {{this.tagline}} </i>
    <p style="font-size: 12px;"> {{this.description}} </p>
</div>