<div class="col-md-4 text-center">
  
    <div class="container">
      <img class="image-size" src={{this.image_url}} alt="{{this.name}}">
    </div>
    <div>
      <h2> {{this.name}} </h2>
      <h4> {{this.tagline}} </h4>
      <p> {{this.description}} </p>
    </div>
  </div>
