<div class="beer-container"><img class="beer-img" src="{{this.image_url}}" alt="{{this.name}}">
  <h1 class="beer-title">{{this.name}}</h1>
  <blockquote>{{this.tagline}}</blockquote>
  <p class="beer-description">{{this.description}}</p>
</div>