<div class="card col-4">
    <img src="{{image_url}}" class="card-img-top" style="height: 40%; width: 10%" alt="{{name}}">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{tagline}}</h6>
        <p class="card-text">{{description}}</p>
    </div>
</div>