<div class="col-md-4 beer-wrapper">
    <div class="b-img-wrapper">
        <img src="{{image_url}}" alt="{{name}}"/>
    </div>
    <h3 class="b-title">{{name}}</h3>
    <h4 class="b-tagline">{{tagline}}</h4>
    <p class="b-description">
        {{description}}
    </p>
</div>