<div class="beer-item">
  <div class="beer-image-center">
    <img class="beer-image" src="{{image_url}}" alt="Image of the {{name}} beer">
  </div>
  <h2>{{name}}</h2>
  <p class="beer-tagline">{{tagline}}</p>
  <p class="beer-description">{{description}}</p>
</div>