<div class="beers-container">
    <img src="{{image_url}}" alt="Beer">
    <h2>{{name}}</h2>
    <p>{{tagline}}</p>
    <p>{{description}}</p>
</div>



{{!-- <ul>
    <li>{{image_url}}</li>
    <li>{{name}}</li>
    <li>{{description}}</li>
    <li>{{tagline}}</li>
</ul>
</div> --}}