<div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img src="{{this.image_url}}" alt="{{this.name}}">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">{{this.name}}</h3>
            <h2> {{beers.0.tagline}} </h2>
            <p>{{this.description}}</p>
        </div> 
    </div>
</div>