<div class="row">
  <div class="col-4 col-sm-4 col-md-4 text-right">
    <img class="image" src="{{ image_url }}" alt="{{ name }} beer image">
  </div>
  <div class="col-8 col-sm-8 col-md-8">
    <h1>{{ name }} - <small>{{ tagline }}</small></h1>
    <h4>Description</h4>
    <p>{{ description }}</p>

    <h4>Food pairing</h4>
    <ul>
    {{#each food_pairing }}
    <li>{{ this }}</li>
    {{/each}}
    </ul>

    <h4>Brewer tips</h4>
    <p>{{ brewers_tips }}</p>
  </div>
</div>