<div class="card">
  <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">{{this.name}}</h4>
    <h5>{{this.tagline}}</h5>
    <span>{{this.first_brewed}}</span>
    <p class="card-text">
      {{this.description}}
    </p>
    <h4>Food Pairing</h4>
    <p>{{this.food_pairing}}</p>
    <h4>Brewer Tips</h4>
    <p>{{this.brewers_tips}}</p>
  </div>
</div>





