<div>
    <img src="{{this.image_url}}" alt="">
    <h1>{{this.name}}</h1>
    <h1>{{this.tagline}}</h1>
    <p>{{this.description}}</p>
    <p>{{this.brewers.tips}}</p>
    <p>{{this.food.pairing}}</p>
</div>