<div class="col-md-4">

    <div class="beersPic">
        <img class="bottle-img-top" src="{{image_url}}" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{name}} {{tagline}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="first_brewed"> {{first_brewed}}</p>
            <li class="first_brewed"> {{food_pairing}}</li>
        </div>
    </div>

</div