<div class="col-3">
  <img class="imgheight" src="{{this.image_url}}">
</div>
<div class="col-6">
  <h1>{{this.name}}</h1>
  <h3>{{this.tagline}}</h3>
  <p>{{this.description}}</p>
  <ul>
    <h3>Food Pairing</h3>
    {{#each this.food_pairing}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <p><b>Brewers tips</b> {{this.brewers_tips}}</p>
</div>