<div class="random-beers">
  <img src={{this.image_url}} class="random-beer-image">
  <div class="text-container">
    <h4 class="random-beer-name">{{this.name}}</h4>
    <h5 class="random-beer-tagline">{{this.tagline}}</h5>
    <p class="random-beer-description">{{this.description}}</p>
    <h6 class="random-beer-pairing"><b>Food pairing</b></h6>
    <ul class="ingredients-list">
      {{#with this.food_pairing}}
      <li>{{this.[0]}}</li>
      <li>{{this.[1]}}</li>
      <li>{{this.[2]}}</li>
      {{/with}}
    </ul>
    <p class="random-beer-tips"><b>Brewer tips: </b>{{this.brewers_tips}}</p>
  </div>
</div>