<div class="randomBeers">
  <img class="randomBeers-img" src="{{randomBeers.imageurl}}" alt="RandomBeer image cap">
  <div class="randomBeers-body">
    <h5 class="randomBeers-name">{{randomBeers.name}}</h5>
    <p class="randomBeers-tagline">{{randomBeers.tagline}}</p>
    <p class="randomBeers-description">{{randomBeers.description}}
    </p>
    <p class="randomBeers-food-pairing">Food Pairing</p>
    <ul>
        <li>{{ randomBeers.foodPairing}}</li>
    </ul>
    <p class="randomBeers-brewer-tips">{{randomBeers.brewerTips}}
    </p>
  </div>
</div>