<div class="col-md-3">
  <span class="d-block text-center">
    <img src={{image_url}} class="img" alt="Card image cap">
  </span>
</div>
<div class="col-md-9">
  <h4 class="card-title"><b>{{name}}</b><br>
    <span>{{tagline}}</span>
  </h4>
  <p class="card-text">{{description}}</p>
  <h5>Food Pairing</h5>
    <ul>
      {{#each food_pairing}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p><b>Brewer Tips</b>: {{brewers_tips}}</p>
</div>