<div class="desBeer" style="width: 34%;">
    <img class="image" src="{{this.image_url}}">
    <h1 class="name">{{this.name}} </h1>
    <h2 class="tagline">{{this.tagline}} </h2>
    <p class="description2">{{this.description}} </p>
    <p class="food">{{this.food_pairing}} </p>
    <p class="tips">{{this.brewers_tips}} </p>
</div>