<div class="beer-random-container">

    <img src="{{this.image_url}} " alt="random-beer">

    <div class="text-container">
        <h1>{{this.name}} </h1>
        <p>
            {{this.tagline}}
        </p>
        <p>
            {{this.description}}
        </p>
        <h3>Food Pairing:</h3>

        <p>
            <ul>
                {{#each this.food_pairing}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </p>




        <p>
            <h3>Brewers Tips</h3>
            {{this.brewers_tips}}
        </p>
    </div>
</div>