<div class= "card-size card">
    <img src="{{this.image_url}}" alt="Image of {{this.name}} beer bottle">
    <h5>{{this.name}}</h5>
    <h6 class="tagline">{{this.tagline}}</h6>
    <p>{{this.description}}</p>
    <p>Food pairing</p>
    <p>{{this.food_pairing}}</p>
    <p>Brewer Tips</p> <span>{{this.brewers_tips}}</span>
</div>