<div class="randombeer-container">
   <div class="randombeer-img">
       <img src={{this.image_url}} alt="card-image" class="card-img">
   </div>
   <div class="randombeer-text">
        <h1>{{this.name}}</h1>
        <h3>{{this.tagline}}</h3>
        <p>{{this.description}}</p>
        <h4>Food Pairing</h4>
        <ul>
            {{#each this.food_pairing}}
            <li>{{this}}</li>
            {{/each}} 
        </ul>
        <h4>Brewers Tips</h4>
        <p>{{this.brewers_tips}}</p>
   </div>
</div>