<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{image_url}}" alt="cerveza {{name}}">
      </div>
      <div class="col-md-6">
        <h3>{{name}}</h3>
        <h4>{{tagline}}</h4>
        <p>{{description}}</p>

        <h5>Food Pairing</h5>
        <ul>
        {{#each food_pairing}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
        
        <p><strong>Brewers Tips </strong>{{brewers_tips}} </p>
      </div>
    </div>
</div>