<div>
    <img src="{{image_url}}" alt="" >
    <h1>{{this.name}}</h1>
    <h2>{{this.tagline}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.food_pairing}}</p>
    <p>{{this.brewer_tips}}</p>
</div>