<div class="random-beer-box">
    <div class="random-beer-img-container">
        <img src={{ this.image_url }}>
    </div>

    <div class="random-beer-description">
        <h1>{{ this.name }}</h1>
        <h4 class="light-gray tagline">{{ this.tagline }}</h3>
            <p>{{ this.description }}</p>

            <div class="food-pairing">
                <h3>Food Pairing</h3>
                <ul>
                    {{#each food_pairing}}
                    <li>{{ this }}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="brewers-tips">
                <p><strong>Brewers Tips:</strong>
                    {{ this.brewers_tips }}
                </p>
            </div>
    </div>
</div>