<link rel="stylesheet" href="../stylesheets/styles.css">
<div class="beer-flex">
<div class="random-beer">
      <img class="random-beer-img beer-img-top" src="{{this.image_url}}" alt="">
      <div class="random-beer-body">
        <h5 class="beer-title">{{this.name}}</h5>
        <h6 class="beer-title">{{this.tagline}}</h6>
        <p class="beer-text">{{this.description}}</p> 
        <p class="beer-text">{{this.food_pairing}}</p> 
        <p class="beer-text">{{this.brewers_tips}}</p> 
      </div>
</div>
</div>