<div>
    <img src={{this.image}} alt="beer">
    <div>
        <p> {{this.name}}</p>
        <p> {{this.description}}</p>
        <p> {{this.tagline}}</p>
        <p> {{this.foodpairing}}</p>
        <p> {{this.brewertips}}</p>
    </div>
</div>