<div class="beer-box">
    <img src="{{this.image_url}}" alt="">
    <h3 class="beer-name">{{this.name}}</h3>
    <p class="beer-tagline">{{this.tagline}}</p>
    <p class="beer-description">{{this.description}}</p>
    <p class="beer-pairing">{{this.food_pairing}}</p>
    <p class="beer-tips">{{this.brewers_tips}}</p>
</div>