<link rel="stylesheet" href="/stylesheets/partial.css">
<div class="random-partial">
<div class="random-card" style="width: 150%;">
      <img class="img-random" src="{{this.image_url}}" alt="">
      <div class="card-body">
        <h4 class="card-name">{{this.name}}</h4>
        <p class="card-tagline">{{this.tagline}}</p>
        <p class="description">{{this.description}}</p>
        
        {{!-- <ul class="food-pairing">
            {{#each this.food-pairing}}
            <li>
              {{this}}
            </li>
        </ul>
      --}}
        <p class="brewers-tips">Brewers Tips: {{this.brewers_tips}}</p>
      </div>

    
</div>
</div>