<div class="randomBox">
    <img class="randomPic"height="400" width="200" src={{this.image_url}}>
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
    <p><ul>
        {{#each this.food_pairing}}
            {{this}}
        {{/each}}
        {{!-- <li>{{this.food_pairing[0]}}</li> --}}
    </ul></p>
    <p>{{this.brewers_tips}}</p>
</div>