<div class="randomBeer-div">
  <img class="randomBeer-image" src="{{this.image_url}}" alt="">
  <div class="randomBeer-body">
    <h5 class="randomBeer-name">{{this.name}}</h5>
    <p class="randomBeer-description">{{this.description}}</p>
    <p class="randomBeer-tagline">{{this.tagline}}</p>
    <p class="randomBeer-food-pairing">
      <b>FOOD PAIRING:</b>{{this.food_pairing}}</p>
    <p class="randomBeer-brewers-tips">
      <b>Brewer Tips:</b>{{this.brewers_tips}}</p>
  </div>
</div>