<div class="random-info-container">
    <div class="random-beer-image">
        <img src={{this.image_url}} alt=" Beer Image ">
    </div>
    <div class="random-text-wrapper">
        <h1>{{this.name}}</h1>
        <h2>{{this.tagline}}</h2>
        <p>{{this.description}}</p>
        <ul>
            <li>{{this.food_pairing.[0]}}</li>
            <li>{{this.food_pairing.[1]}}</li>
            <li>{{this.food_pairing.[2]}}</li>
        </ul>
        <p>{{this.brewers_tips}}</p>
    </div>

</div>