<div class="container">
  <div class=" random-div row">
   <div class="col-md-3">
     <img style="height:250px;width:25%;margin:10px auto" class="card-img-top" src="{{image_url}}" alt="Card image cap">
   </div>
   <div class="col-md-6">
     <h3 class="card-title">{{name}}</h3>
     <br>
      <h5 class="card-tagline">{{tagline}}</h5>
      <br>
      <p class="card-text">
        {{description}}
      </p>
      <br>
      <p class="card-text">
        <h4><strong>Food Pairing</strong></h4>
        {{food_pairing}}
      </p>
      <br>
      <p class="card-text">
        <span><strong>Brewers Tips : </strong></span>  {{brewers_tips}}
      </p>
   </div>
  </div>
</div>