<div class="col-md-4">

    <div class="card">
        <img class="card-img-top imgdim" src="{{image_url}}" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{name}} {{tagline}}</h5>
            <p class="card-text">{{description}}</p>
            <h5>Food pairing</h5>
            <ul>
                <li><p class="card-text">{{food_pairing}}</p></li>
            </ul>
            <h5>Brewers tips</h5>
            <p class="card-text">{{brewers_tips}}</p>
        </div>
    </div>

</div>