<div class="col-sm-3">
  <img class="size" src="{{this.image_url}}" alt="beer-image">  
</div>
  <div class="col-sm-6">
    <h1>{{this.name}}</h1>
    <p class="text-muted">
      {{this.tagline}}
    </p>
    <p>
      {{this.description}}
    </p>
    <b>Food Pairing</b>
    <ul>
      <li>{{this.food_pairing.[0]}}</li>
      <li>{{this.food_pairing.[1]}}</li>
      <li>{{this.food_pairing.[2]}}</li>
    </ul>
    <p>
      <b>Brewer Tips:</b>
      {{this.brewers_tips}}
    </p>
  </div>