<div class="card" style="width: 33.333%;">
    <img class="beer-img-top" src="{{this.image_url}}"
        alt="">
    <div class="beer-body">
        <h5 class="beer-title"> {{this.name}} {{this.tagline}}</h5>
        <p class="beer-text">{{this.description}}</p>
        <p class="beer-food pairing">{{this.food_pairing}}</p>
        <p class="beer-brewer tips">{{this.brewers_tips}}</p>
    </div>
</div>