<div class="random">
    <img src="{{this.image_url}}">

<div class="textRandom">
<h1>{{this.name}}</h1>

<h3>{{this.tagline}}</h3>
<p>

{{this.description}}
</p>
<h2>Food Pairing</h2>
<p>
{{this.food_pairing}}
</p>
<h2>Brewers Tips</h2>
<p>
{{this.brewers_tips}}
</p>
</div>

</div>