<div class="beerRandom">

    <article class="card">
        <img  src="{{image_url}}" alt="Random Image">
        <div class="card-body">
            <h2 class="card-title">{{name}}</h2>
            <p class="card-text">{{description}}</p>
            <p class="card-text">{{tagline}}</p>
            <p class="card-text">{{food_pairing}}</p>
            <p class="card-text">{{brewers_tips}}</p>

        </div>
    </article>

</div>