<div class="row">
    <div class="col justify-content-center">

        <div>
            <div class="jumbotron ">
                <img src={{this.image_url}} alt="Random Beer" class="card-img-top1">
                <h1 class="display-4">{{this.name}}</h1>
                <p class="lead">{{this.description}}</p>
                <hr class="my-4">
                <p>{{this.tagline}}</p>
                <p>{{this.food_pairing}}</p>
                <p>{{this.brewer_tips}}</p>

            </div>
        </div>
    </div>
</div>