<div class="random">
 <div><img class="beerImages" src="{{this.image_url}}" alt=""></div>
    <div class="randomProp"><h2>{{this.name}} </h2>
    <h3> {{this.tagline}}</h3>
    <h4>{{this.description}}</h4>
    <h4><p>Food Pairing: </p>{{this.food_pairing}}</h4>
    <h4><p>Brewers tips: </p>{{this.brewers_tips}}</h4></div>

</div>