<div class="col-md-6">
    <div class="card">
        <img class="card-img-top" src="{{image_url}}" alt="">
       
    </div>
</div>

<div class="col-md-6">
        <div class="card-body">
            <h1 class="card-title">{{name}}</h1>
            <h2>{{tagline}}</h2>
            <p class="card-text">{{description}}</p>

            <p>{{food_pairing}}</p>
            <p>{{brewers_tips}}</p>
        </div>
</div>