<div class="randomBeerPartials">
    <img src={{image_url}} alt="">
    <h1>{{name}}</h1>
    <h2>{{tagline}}</h2>
    <p>{{description}}</p>
    <h4>Food Pairing</h4>
    <p>{{food_pairing}}</p>
    <h5>Brewers Tips: </h5>
    <p>{{brewers_tips}}</p>
</div>