<div class="col-md-3">
  <div class="card">
    <img class="card-img-top" src="{{image_url}}" alt="">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <h6>{{tagline}}</h6>
      <p class="card-text">{{description}}</p>
      <p class="card-text">{{food_pairing}}</p>
      <h6 class="card-title">{{brewers_tips}}</h6>
    </div>
  </div>
</div>