<div class="content">

   <img class=“card-img-top” src="{{this.image_url}}" alt=“Card image cap”>
   <div class="random-div">
      <h2>{{this.name}}</h2>
      <h2>{{this.description}}</h2>
      <h2>{{this.tagline}}</h2>
      <h2>{{this.food_pairing}}</h2>
      <h2>{{this.brewers_tips}}</h2>
   </div>
</div>