<div class="beer" style="width: 33.333%;">
    <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
    <div class="column">
        <h2>{{this.name}}</h2>
        <h3>{{this.tagline}}</h3>
        <p>{{this.description}}</p>
        <h4>Food Pairing</h4>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>


</div>