
{{!-- You should display an image, name, description, tagline, food pairing and brewer tips. --}}



<div>{{image_url}}</div>
<div>{{name}}</div>
<div>{{description}}</div>
<div>{{tagline}}</div>
<div>{{food_pairing}}</div>
<div>{{brewers_tips}}</div>