<div class="random-beer">
      <img class="random-beer-img" src="{{this.image_url}}" alt="beer-img">
      <div class="random-beer-body">
        <h4 class="random-beer-name">{{this.name}}</h4>
        <h5 class="random-beer-tagline">{{this.tagline}}</h5>
        <p class="random-beer-description">{{this.description}}</p>
        <h6 class='random-beer-foodpairing-title'>Food Pairing</h6>
        <ul class="random-beer-foodpairing">
         {{#each food_pairing}}
          <li>{{this}}</li>
         {{/each}}
        </ul> 
        <p class="random-beer-brewerstips"><b>Brewers tips:</b> {{this.brewers_tips}}</p>
      </div>
</div>