<div id='beerPic'>
<img src="{{this.image_url}}">
</div>

<div class="beerRandom">
<h3>{{this.name}}</h3>
<h4>{{this.tagline}}</h4>
<p>{{this.description}}</p>
<div><b>Food Pairing</b></div><p>{{this.food_pairing}}</p>
<p><b>Brewers Tips:</b> {{this.brewers_tips}}</p>
</div>