 <div class="beers-container">
<article class="card">
     <img id="beer-image" src="{{this.image_url}}" alt=""/>
    <h3 id"card-name">{{this.name}}</h3>
     <p id="tagline">{{this.tagline}}</p>
   <p>{{this.description}}</p>
   <p>{{this.description}}</p>
   <p>{{this.description}}</p>
</article>
</div>