<div class="beer">
  <img src="{{image_url}}" alt="{{name}} image" class="beer__image">
  <div>
    <h3 class="beer__title">{{name}}</h3>
    <p class="beer__tagline">{{tagline}}</p>
    <p class="beer__description">{{description}}</p>
    <a href="/beer/{{id}}" class="beer__show-details">Read more</a>
  </div>
</div>