<div class="beer" style="width: 33.333%;">
      <img class="beer-image" src="{{this.image_url}}" alt="beer image">
      <div class="beer-body">
        <h5 class="beer-name">{{this.name}}</h5>
        <h4 class="beer-tagline">{{this.tagline}}</h4>
        <h3 class="beer-description">{{this.description}}</h3>
        <h3 class="beer-brewerstips">{{this.brewers_tips}}</h3>
        <h3 class="beer-foodpairing">{{this.food_pairing}}</h3>
      </div>
</div>