{{!-- <h1>funcionaaa</h1> --}}
<ul>
    {{#each beers}}
    <li>
        <h3>{{name}}</h3>
        <p>{{tangline}}</p>
        <p>{{description}}</p>
        <img src="{{image_url}}" alt="{{name}}">
    </li>
    {{/each}}
</ul>