<div class="detail">
    <div class="image">
        <img src={{beer.image_url}} alt={{beer.name}}>
    </div>
    <div class="content">
        <h3>{{beer.name}}</h3>
        <h6>{{beer.tagline}}</h6>
        <p>{{beer.description}}</p>
    </div>
    <div class="extra-content">
        <p><b>Food Pairing </b></p> 
        <ul>
            {{#each beer.food_pairing}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><b>Brewers Tips: </b>{{beer.brewers_tips}}</p>
    </div>
</div>

