<section class="page">
    <div class="grid">
        {{#each array}}
        <div class="beer">
            <a href="/beer/{{this.id}}"><img class="img" src="{{this.image_url}}" alt="{{this.name}}"></a>
            <h3>{{this.name}}</h3>
            <h4>{{this.tagline}}</h4>
            <p>{{this.description}}</p>
        </div>
        {{/each}}
    </div>
</section>