<div class="beerDetails">
    <img src="{{data.image_url}}" alt="{{data.name}}" />
    <h2>{{data.name}}</h2>
    <p class="beer-tagline">{{data.tagline}}</p>
    <p class="beer-description">{{data.description}}</p>
    <p>{{data.food_pairing}}</p>
    <p>{{data.brewers_tips}}</p>
</div>