{{#each beers}}
{{!-- <div>
<img class="beer-img" src={{image_url}} alt="">

<h1>{{name}}</h1>
<p>{{description}}</p>
<p>{{tagline}}</p>
</div> --}}
<a href="/beers/{{id}}">
{{>beerCard}}
</a>
{{/each}}