<h1>Beers </h1>
{{#each database}}

<div class="beerContainer">
    <img class="Beer" src="{{this.image_url}}" alt="Image of {{this.name}}">
    <div class="beerName">
        {{this.name}}
    </div>
    <div class="beerTagline">{{this.tagline}}</div>
    <div class="beerDescription">{{this.description}}</div>
</div>
{{/each}} 