<section id="beersList">
    {{#each beersFromApi}}
    <article class="beer">
        <a href="/beers/{{this.id}}"><img src="{{this.image_url}}" alt="{{this.name}}" /></a>
        <h2>{{this.name}}</h2>
        <p class="beer-tagline">{{this.tagline}}</p>
        <p class="beer-description">{{this.description}}</p>
    </article>
    {{/each}}
</section>