<div class="allbeers">
  {{#each beersFromApi}} 
  <div class="eachbeer">
    <img class="beer-image" src="{{this.image_url}}" alt="{{this.name}}"/>
    <h2 class="beer-title">{{this.name}}</h2>
    <p class="beer-tagline">{{this.tagline}}</p>
    <p class="beer-description">{{this.description}}</p>
  </div>
  {{/each}}
</div>