<div class="six-pack">
    {{#each beers}}
        <div class="beer-can">
            {{!-- <div class="image">
                    <img src={{image_url}} alt={{name}}>
                  </div>
                  <div class="content">
                    <h3>{{name}}</h3>
                    <h6>{{tagline}}</h6>
                    <p>{{description}}</p>
                  </div> --}}
            {{> beerBottle}}
        </div> 
    {{/each}}
</div>


