{{#each beers}}
<div class="container">
    <div class="beer-card">
        <a href="/beers/{{this.id}}" class="href">
            <img src="{{this.image_url}}" alt="beer {{this.name}}" height="300" />
            <h3>{{this.name}}</h3>
            <h4>{{this.tagline}}</h4>
            <p>{{this.description}}</p>
        </a>
    </div>
</div>
{{/each}}