 <div>
    <h2>This is the Random Beer</h2>

    <main class="beer_random">
    <ul>
        <img src="{{image_url}}">
        <li>{{name}}</li>
        <li>{{description}}</li>
        <li>{{tagline}}</li>
        <li>{{food_pairing}}</li>
        <li>{{brewers_tips}}</li>
    </ul>
    </main>
    
</div>