<div class="container2">
     <a href="/detailed/{{this.id}}"><img src={{this.image_url}} class="selected" alt="Beer image"></a>
    <h1>{{this.name}}</h1>
    <h5>{{this.tagline}}</h5>
    <p>{{this.description}}</p>
  </div>