<section class="randombeer">
    <div class="randombeerCard">
        <img src="{{image_url}}" alt="{{name}}"/>
        <h2>{{name}}</h2>
        <blockquote>{{tagline}}</blockquote>
        <p>{{description}}</p>
        <p>{{food_pairing}}</p>
        <p>{{brewers_tips}}</p>
    </div>
</section>