<div class="beer-container">
  
    {{!-- <img src="{{beer.image_url}}">
    <li>{{beer.name}}</li>
    <li>{{beer.description}}</li>
    <li>{{beer.tagline}}</li> --}}

    {{>beer_partial beer}}
    <li>{{beer.food_pairing}}</li>
    <li>{{beer.brewers_tips}}</li>
  
</div>