<div class="container">
    <div class="row beer card">
        <div class="col-md-12">
            <img class="" src="{{randomBeer.image_url}}" alt="{{randomBeer.name}}">
            <h4>{{randomBeer.name}}</h4>
            <p class="card-text">{{randomBeer.description}}</p>
            <small>{{randomBeer.tagline}}</small>
            <h5>{{randomBeer.food_pairing}}</h5>
            <p>{{randomBeer.brewers_tips}}</p>
        </div>
    </div>
</div>