<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>Iron beers</title>
    <meta name="description" content="width=device-width, initial-scale=1.0" />
    {{!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"  what does this do?> --}}
    <link rel="stylesheet" type="text/css" href="/css/about-style.css" />
    {{!-- do i need to link style sheet on every hbs file?? --}}
</head>

<body>
    <h1>Random Beer</h1>
    <div class="random-beer-container">
        <div>
            {{#each randomBeer}}
            {{> beerpartial }}
            <p><strong>Food Pairing: </strong>
                  {{#each food_pairing}}
                  <li>{{this}}</li>
                  {{/each}}
                <p><strong>Brewer's Tips: </strong>{{brewers_tips}}</p>
            </p>
            {{/each}}
            <!-- Is there a better way to do this? Seems a bit weird to use 'each' since it's an array with only one element-->

            <!-- 
            FROM EARLIER ITERATION
            <h2>{{{randomBeer.[0].name}}}</h2> {{! because randomBeer is an array with 1 object --}}
            <img src={{{randomBeer.[0].image_url}}} alt="image of random beer">
            <h3>{{randomBeer.[0].tagline}}</h3>
            <p>{{randomBeer.[0].description}}</p>
            <p><strong>Food Pairing: </strong>
                  {{#each randomBeer.[0].food_pairing}}
                  <li>{{this}}</li>
                  {{/each}}
            </p>
            <p><strong>Brewer's Tips: </strong>{{randomBeer.[0].brewers_tips}}</p>
            -->

        </div>

    </div>
</body>