<div class="container">

    <div class="row">

        <div class="col-3">
            <img class="card-img-top" src="{{randomBeer.image_url}}">
        </div>

        <div class="col-7">
            <h1>{{randomBeer.name}}</h1>
            <h2>{{randomBeer.tagline}}</h2>
            <p>{{randomBeer.description}}</p>
            <p><span class="bold">Food Pairing</span></p>
            <p>{{randomBeer.food_pairing}}</p>
            <p> <span class="bold">Brewers Tips:</span> {{randomBeer.brewers_tips}}</p>

        </div>
    </div>
</div>