<h1>Random beer !</h1>

<div id="img-beer">
    <img src="{{random.image_url}}">
</div>

<h2>{{random.name}}</h2>
{{random.description}}
{{random.tagline}}
    <ul>
{{#each random.food_pairing}}
        <li>{{this}}</li>
{{/each}}
    </ul>

{{random.brewers_tips}}
