<ul class="random-beers">
    {{#each responseFromAPI}}
    <img id="random-beers-img" src="{{this.image_url}}" alt="random beer">
    <div class="text-box">
    <h1>{{this.name}}</h1>
    <p id="tagline">{{this.tagline}}</p>
    <p>{{this.description}}</p>
    <p class='text-box-fix'><span>Food Pairing</span></p>
    <li class="food-li">{{this.food_pairing.[0]}}</li>
    <li class="food-li">{{this.food_pairing.[1]}}</li>
    <li class="food-li">{{this.food_pairing.[2]}}</li>
    <p class='text-box-fix'><span>Brewers Tips:</span> {{this.brewers_tips}}</p>
    </div>
    {{/each}}
</ul>
