<div class="container">
    <h1>RANDOM BEERS</h1>
    <div class="row">

        <div class="col-md-2">
            <img src="{{randomBeer.image_url}}" alt="">

        </div>

        <div class="col-md-10">
            <h2>{{randomBeer.name}}</h2>
            <p>{{randomBeer.description}}</p>
            <p>{{randomBeer.tagline}}</p>
            <p>{{randomBeer.food_pairing}}</p>
            <p>{{randomBeer.brewer_tips}}</p>

        </div>

    </div>


</div>