<div>
  <img src= "{{image_url}}" alt="beers">
  <article>
    <h1>{{ name }}</h1>
    <p>{{ description }}</p>
    <h3>{{ tagline }}</h3>
    <p>{{ food_pairing }}</p>
    <p>{{ brewers_tips }}</p>
  </article>
</div>