
<div class="random-beer">
    {{blabla}}
    <h1>{{name}}</h1>
    <img src={{image_url}} alt="">
    <span>{{tagline}}</span>
    <p>{{description}}</p>
    <ul>{{food_pairing}}</ul>
    <p>{{brewers_tips}}</p>
</div>



