<div class="muestra">
    <div class=>

        <div  >
            <img class="beer" src="{{image_url}}" alt="">
            <div class="descripcion">
                <h5 class="text-center">{{name}}</h5>
                <p class="text-center">{{tagline}}</pclass="text-center">
                    <p class="text-center">{{description}}</p>
                    <p class="text-center"></p>
                    <p>Food Pairing:</p>
                    <ul>
                        {{#each food_pairing}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>

            </div>
        </div>
    </div>
</div>