<div>
    <img src={{randomBeer.image_url}}><br>
{{randomBeer.name}}<br>
{{randomBeer.tagline}}<br>
{{randomBeer.description}}<br>
{{randomBeer.food_pairing}}<br>
{{randomBeer.brewer_tips}}<br>
</div>