<!-- beersCard.hbs -->
<div class="random card-group">
  <div class="card">
    <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{description}}</p>
      <p class="card-text"><small class="text-muted">{{tagline}}</small></p>
      <p class="card-text">{{description}}</p>
      <ul>{{#each food_pairing}}
          <li>{{this}}</li>
          {{/each}}
      </ul>
    </div>
  </div>
</div>