<div>
proutirpout
{{#each beer}}
    <div class="solobeer beer">
        <h2>{{this.name}}</h2>
        <div><img src="{{this.image_url}}" alt="{{this.name}}"/></div>
        <p>{{this.description}}</p>
        <ul>{{#each this.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <aside>{{this.tagline}}</aside>

    </div>
    {{/each}}
    
</div>