<div>
    {{#if randomBeer.image_url}}
        <img src={{randomBeer.image_url}} alt="random-beer">
    {{else}}
        <img src="/images/random-beer.png" alt="random-beer">
    {{/if}}
    
    <h2>Name: {{randomBeer.name}}</h2>
    <p>Tagline: {{randomBeer.tagline}}</p>
    <p>Description: {{randomBeer.description}}</p>
</div>