
<img src={{beersFromApi.[0].image_url}}>
<h4>{{beersFromApi.[0].name}}</h4>
<p>{{beersFromApi.[0].description}}</p>
<p>{{beersFromApi.[0].tagline}}</p>
<p>{{beersFromApi.[0].brewers_tips}}</p>
<ul>
    <li>{{beersFromApi.[0].food_pairing.[0]}}</li>
    <li>{{beersFromApi.[0].food_pairing.[1]}}</li>
    <li>{{beersFromApi.[0].food_pairing.[2]}}</li>
</ul>

