{{#each randomBeer}}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="beer">
                <img class="img-beer" src="{{image_url}}" alt="{{name}}">
            </div>
        </div>
        <div class="beer-body col-md-8">
            <h4>{{name}}</h4>
            <p>{{description}}</p>
            <p>{{tagline}}</p>
            <p>{{food_pairing}}</p>
            <p>{{brewers_tips}}</p>
            <hr>
        </div>
    </div>
</div>
</div>
{{/each}}