<div>

  <header>
    <h2>Random Beer</h2>
  </header>

  <main class="beers-container">
      <div>{{name}}
          <br>
          {{description}}
          <br>
          {{tagline}}
          <br>
           {{food_pairing}}
          <br>
          {{brewers_tips}}
          <br>
          <img src="{{image_url}}" alt="{{name}} image">
      </div>
      {{!-- {{> movieCard this}} --}}
  </main>
  
</div>