{{!-- <div class="container">
    {{#each Beer}}
    <img src={{image_url}} alt={{name}}>

    <h1>{{name}}</h1>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <p><strong> Food pairings: </strong>{{food_pairing}}</p>
    <ul>
        <li><strong> Brewer tips: </strong>{{brewers_tips}}</li>
    </ul>
    {{/each}}

</div> --}}
<div class="container">
    <h1>Cerveza Sorpresa</h1>

    <div class="row">

        {{#each Beer}}
        {{>BeersCards this}}
        <ul>
            <li><strong> Food pairings: </strong>{{food_pairing}}</li>
            <li><strong> Brewer tips: </strong>{{brewers_tips}}</li>
        </ul>
        {{/each}}

    </div>
</div>