<div class="randomContainer">

    <img src="{{randomBeers.img}}" alt="" class="randomImg">
    <div class="randomTxt">
        <h1 class="randomheading">
            {{randomBeers.name}}
        </h1>
        <h4 class="randomTagline">
            {{randomBeers.tagline}}
        </h4>
        <div class="randomDescr">
            {{randomBeers.description}}
        </div>
        <div class="randomPair">
            {{randomBeers.food_pairing}}
        </div>
        <div class="randomTips">
            {{randomBeers.brewers_tips}}
        </div>
    </div>
</div>