{{#each randomBeer}}
<div class="randomBeerContainer">
    <img class="randomBeerImg" src="{{this.image_url}}" alt="Image of {{this.name}}">
    <div class="randomBeerContent">
    <h3 class="beerName">{{this.name}}</h3>
    <div class="beerTagline">{{this.tagline}}</div>
    <div class="beerDescription smallerFont">{{this.description}}</div>
    <div class="foodPairing smallerFont"> 
        <h4 id="foodPairingHeadline">Food Pairing</h4> 
        <ul class="smallerFont">
            {{#each this.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>


    </div>
    <p class="smallerFont"><b>Brewer tips:</b> {{this.brewers_tips}}</p>
    </div>
</div> {{/each}}
