{{#each responseFromAPI}}
<div>
    <h1>Random brewers</h1>
    <img src="{{this.image_url}}" alt="">
    <h3>{{this.name}}</h3>
    <h6>{{this.tagline}}</h6>
    <p>{{this.description}}</p>
    <p>{{this.food_pairing}}</p>
    <p>{{this.brewers_tips}}</p>
</div>
{{/each}}
