<main id="beer-list">
  <div class="beer-card">
    <div class="beer-thumb-container">
      <img class="beer-thumb" src="{{randomBeer.[0].image_url}}" />
    </div>
    <div>
      <h2>{{randomBeer.[0].name}}</h2>
      <h3>{{randomBeer.[0].tagline}}</h3>
      <p>{{randomBeer.[0].description}}</p>
      <span><strong>Food Pairing</strong></span>
      <ul>
        {{#each randomBeer.[0].food_pairing}}
          <li class="food-pairing">{{this}}</li>
        {{/each}}
      </ul>
      <p><strong>Brewers Tips:</strong> {{randomBeer.[0].brewers_tips}}</p>
    </div>
  </div>
</main>