<img src="{{this.image_url}}" alt="">
<h1>{{this.name}}</h1>
<h3>Description: {{this.description}}</h3>
<h4>Tagline: {{this.tagline}}</h4>
<h4>Food pairing: {{this.food_pairing}}</h4>
<h4>Brewers tips: {{this.brewers_tips}}</h4>


