<div>
    {{#each  randomList}}
    <h1>{{this.name}}</h1>
    <img src="{{image_url}}" alt="">
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    <p>{{food_pairing}}</p>
    <p>{{brewers_tips}}</p>
    {{/each}}
</div>