<section class="randombeer">
    {{#each beer}}
    <div class="randombeerCard">
        <img src="{{this.image_url}}" alt="{{this.name}}"/>
        <h2>{{this.name}}</h2>
        <blockquote>{{this.tagline}}</blockquote>
        <p>{{this.description}}</p>
        <p>{{this.food_pairing}}</p>
        <p>{{this.brewers_tips}}</p>
    </div>
    {{/each}}
</section>
