<div>
    <img src="{{ image_url }}" alt="beer">
    <h1> {{{ name }}}</h1>
    <h2> {{{ description }}}</h2>
    <h2> {{{ tagline }}}</h2>
    <h2> {{{ food_pairing }}}</h2>
    <h2> {{{ brewer_tips }}}</h2>
</div>