<div>
    {{#each randomBeers}}
    <div>

        <div class="beer-image">
            <img src="{{this.image_url}}" alt="photo of {{this.name}}">
        </div>
        <div class="beer-details">
            <h2>{{this.name}}</h2>
            <p>{{this.description}}</p>
            <p>{{this.tagline}}</p>
            <p>{{this.food_pairing}}</p>
            <p>{{this.brewer_tips}}</p>
        </div>
    </div>
    {{/each}}
</div>