{{#each randombeer}}

<div>
  <img src={{ image_url }}>
  <p>
    {{ name }}
  </p>
  <p>{{ description }} </p>

  <p>{{ tagline }}</p>
  
  <p>{{ food_paring }}</p>

  <p>{{ brewers_tips }}</p>

</div>



{{/each}}