<div class='rand-beer-container'>
    <img src="{{beer.image_url}}" alt="">
    <div class='rand-info'>
        <h3>{{beer.name}}</h3>
        <h5>{{beer.tagline}}</h5>
        <p>{{beer.description}}</p>
        <h4>Food Pairing</h4>
        <ul>
            {{#each beer.food_pairing as |foodPair|}}
                <li>{{foodPair}}</li>
                <br>
            {{/each}}
        </ul>
        <p><b>Brewers Tips:</b>{{beer.brewers_tips}}</p>
    </div>
</div>
