<div>
    <h1>Random Beers</h1>


    <img src="{{randomBeers.image_url}}" alt="">
    <h2>{{randomBeers.name}}</h2>
    <p>{{randomBeers.description}}</p>
    <p>{{randomBeers.tagline}}</p>
    <p>{{randomBeers.food_pairing}}</p>
    <p>{{randomBeers.brewer_tips}}</p>


</div>