<div>
  {{#each beer}}
    <img src="{{image_url}}" alt="">
    <h2>{{name}}</h2>
    <br>
    <p>{{description}}</p>
    <br>
    <h4>{{tagline}}</h4>
    <br>
    <ul>
      {{#each food_pairing}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <br>
    <p> <b>Brewers Tips:</b> {{brewers_tips}}</p>
  {{/each}}
</div>
