<div class="beer-container col-md-4">
  <a href="/single_beer?id={{this.id}}"><img src="{{this.image_url}}" class="aligncenter"></a>
  <h2 class="beer-title">{{this.name}}</h2>
  <div class="beer-tagline">{{this.tagline}}</div>
  <div class="beer-description">{{this.description}}</div>
</div>