<div
  style='display: flex; flex-flow: column; border:solid 1px black; width:300px;
   align-items: center;padding: 20px;
  '
>
  <a href='beers/{{this.id}}'>{{this.name}}</a>
  <img src={{this.image_url}} alt='' width='70px' height='200px' />
  {{this.tagline}}
  {{this.description}}
</div>