
<div class="col-md-4">
  <div class="card">
    <img class="card-img-top" src="{{image_url}}" alt="{{name}}"   />
    <div class="card-body">
      <h5 class="card-title">
        {{name}} 
      </h5>
      <p class="card-text">
        {{tagline}}{{description}}
      </p>
      <h5>
        <div class="row">
          <div class="col-md-6">
            <p>Food pairing</p>
          </div>
          <div class="col-md-6">
            <p>Brewer tips</p>
          </div>
          <div class="col-md-6">
            <p>{{food_pairing}}</p>
          </div>
          <div class="col-md-6">
            <p>{{brewers_tips}}</p>
          </div>
        </div>
      </h5>
    </div>
  </div>
</div>
