{{!-- <div class="uk-card uk-card-default">
    <div class="uk-card-media-top">
        <center><img src="{{image_url}}" width="100px" height="100px" alt="img"></center>
    </div>
    <div class="uk-card-body">
        <h3 class="uk-card-title">{{name}}</h3>
        <p class="uk-text-meta uk-margin-remove-top">{{tagline}}</p>
        <p>{{description}}</p>
    </div>
</div>


 --}}









<div class='container-beer'>
    <div class="row">
        <img src={{this.image_url}} alt={{this.name}} />
        <h3>Name: {{this.name}}</h3>
        <h3>Description: {{this.description}}</h3>
        <h3>Tagline: {{this.tagline}}</h3>
    </div>
</div>  
{{!-- <div class="card-container">
    {{#each beers}}
            <div>
                <img src="{{this.image_url}}" alt="chela" width="10%">
                <h3>{{this.name}}</h3>
                <p>{{this.tagline}}</p>
                <p>{{this.description}}</p>
            </div>
        {{/each}}
</div> --}}



{{!-- <div class="card col-4 align-items-center" style="width: 33.333%;">
  <img class="card-img-top " src="{{image_url}}" alt="Beer image">
  <div class="card-body">
    <h2 class="card-title">{{name}}</h2>
    <h6 class="card-subtitle mb-2 text-muted">{{tagline}}</h6>
    <p class="card-text">{{description}}</p>
  </div>
</div> --}}