{{!-- 
{{#each beer}}
<li> 
  {{this.name}}
</li>
<li> 
  {{this.}}
</li>
{{/each}} --}}

<div class="container">
  <div class="row">
{{#each beer}}


 <div class="card col-4 col">

  <div class="card-body">
      <img src="{{this.image_url}}" alt="image" height="200px" width="60px">
    <h5 class="card-title"><strong>{{this.name}} </strong></h5>
    <p> {{this.tagline}} </p>
    <p class="card-text"> {{this.description}}</p>
   
  </div>
</div> 



{{/each}}
</div>
</div>
{{!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
  <div class="card-body">
     <h5 class="card-title">{{this.name}}</h5>
      <p> {{this.tagline}} </p>
    <p class="card-text">{{this.description}}</p>
  </div>
</div> --}}