<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src="jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {{#if_equal active 'home'}}
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          {{/if_equal}}
          {{#if_equal active 'beers'}}
          <li class="nav-item active">
            <a class="nav-link" href="#">Beers <span class="sr-only">(current)</span></a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/beers">Beers</a>
          </li>
          {{/if_equal}}
          {{#if_equal active 'random'}}
          <li class="nav-item active">
            <a class="nav-link" href="#">Random Beers <span class="sr-only">(current)</span></a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/random-beers">Random Beers</a>
          </li>
          {{/if_equal}}
        </ul>
      </div>
    </nav>
    {{{body}}}
    <footer>
      <p>Develop by Ironhack ;)</p>
    </footer>
  </body>
</html>
