<div class="rand-beer">
  <div style="height: 200px;">
  <img src="{{beer.0.image_url}}" alt="" style="height: 100%;">
  </div>
  <h4>{{beer.0.name}}</h4>
  <h5>{{beer.0.tagline}}</h5>
  <p>{{beer.0.description}}</p>
  <h3>Food Pairing</h3>
  {{#each beer.0.food_pairing}}
  <p>{{this}}</p>
  {{/each}}
  <h3>Brewers Tips</h3>
  <p>{{beer.0.brewers_tips}}</p>
</div>