<div class="beer-container">
  <img class="beer-img" src="<%= beer.image_url%>" alt="<%= beer.name%>">
  <h2 class="beer-name"><%= beer.name%></h2>
  <h3 class="beer-tagline"><%= beer.tagline %></h3>
  <p class="beer-description"><%= beer.description%></p>
</div>