<div>
    <img src="{{image_url}}" alt="beer"> <!-- el triple corchete trae todas las imágenes de las cervezas-->
    <h4>{{name}}</h4>
    <p>{{tagline}}</p>
    <p>{{description}}</p>
    {{#each food_pairing}} <p>{{this}}</p> {{/each}}
    <p>{{brewers_tips}}</p>
</div>