<div class="container random-beer">
  <div class="row">
    <div class="col-sm-3">
      <img src="{{beers.image_url}}" alt="Beer image">
    </div>
    <div class="col-sm-7">
      <h5>{{beers.name}}</h5>
      <p class="tag-line">{{beers.tagline}}</p>
      <p>{{beers.description}}</p>
      <p class="bold"><strong>Food Pairing</strong></p>
      <ul>
        {{#each beers.food_pairing}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <p><a class="bold"><strong>Brewers Tips: </strong></a>{{beers.brewers_tips}}</p>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>