<div class="randombeer" style="width: 33.333%;">
      <img class="beer-image" src="{{beers.image_url}}" alt="beer image">
      <div class="beer-body">
        <h5 class="beer-name">{{beers.name}}</h5>
        <h4 class="beer-tagline">{{beers.tagline}}</h4>
        <h3 class="beer-description">{{beers.description}}</h3>
        <h3 class="beer-brewerstips">{{beers.brewers_tips}}</h3>
         <h3 class="beer-foodpairing">{{beers.food_pairing}}</h3>
      </div>
</div>
