<div class="index-container">


<div class="random_div">

<p> {{ randomBeer.name}} </p>
<img class="card-img-top" src="{{randomBeer.image_url}}" alt="beers"width="100" height="200">
<p> {{ randomBeer.description}} </p>
<p> {{ randomBeer.tagline}} </p>
<p> {{ randomBeer.food_pairing}} </p>
<p> {{ randomBeer.brewers_tips}} </p>

</div>

