<div id="random-beer">
  <img src="{{beers.0.image_url}}" alt="">
  <div id="beer-info">
    <h2>{{beers.0.name}}</h2>
    <p class="beer-tagline">{{beers.0.tagline}}</p>
    <p>{{beers.0.description}}</p>
    <p><b>Food Pairing</b></p>
    <ul>
      {{#each beers.0.food_pairing}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <p><b>Brewers Tips:</b>{{beers.0.brewers_tips}}</p>
  </div>
</div>