<ul class="beer-list">
	<p><img src="{{randomBeer.image_url}}"></p>
	<p><h1>{{randomBeer.name}}</h1></p>
	<p>{{randomBeer.tagline}}</p>
	<p>{{randomBeer.description}}</p>
	<p><h2>Food Pairing</h2></p>
	<p>{{randomBeer.food_pairing}}</p>
	<p>Brewer's Tips: {{randomBeer.brewers_tips}}</p>
</ul>