<div class="random-beer-div">
    <div>
        <img class="beer-img" src="{{beers.image_url}}">
    </div>
    <div>
        <h3 class="beer-name">{{beers.name}}</h3>
        <p class="beer-tagline">{{beers.tagline}}</p>
        <P class="beer-desc">{{beers.description}}</P>
        <strong>Food Pairing</strong>
        <ul>
            {{#each beers.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

        <p><strong>Brewers tips: </strong>{{beers.brewers_tips}}</p>
    </div>
</div>