{{#each beers}}
<div>
    <img src="{{image_url}}" alt="beer image">
    <h3>{{name}}</h3>
    <h5>{{description}}</h5>
    <p>{{tagline}}</p>
    <h4>Food Pairig</h4>
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p><b>Brewers Tips:</b>{{brewers_tips}}</p>
</div>
{{/each}}