<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
      {{!-- {{> beerPartial}}

      <img class="image" src={{this.img}} alt="beer-image">
  <h1 class="image2">{{this.image}}</h1> --}}
  <h5 class="beer-name">{{beerRandom.name}}</h5>
  <p class="beer-description">{{beerRandom.description}}</p>
  <p class="beer-tagline">{{beerRandom.tagline}}</p>
  
</body>
</html>