<div class="beer-details">

   <img class = 'beer-img' src={{beer.url}}>
   <div>
       <h2 class="heading">{{beer.title}}</h2>
       <p class="tagline">{{beer.tagline}}</p>
       <p>{{beer.description}}</p>
       <h5 class="subheader">Food pairing</h5>
       <ul class="food">
               {{#each beer.food}}
                   <li>{{this}}</li>
               {{/each}}
       </ul>
       <p><span class="subheader">Brewers Tips: </span>{{beer.tips}}</p>
   </div>
</div>