<div class="all-content">
{{#each beers}} 
<div class="beer-content">
<img class="beers-img" src="{{image_url}}" alt="beer-pic">
</div>
<div class="description">
<h3>{{name}}</h3>
{{tagline}}
{{description}}

<h4>Food Pairing</h4>
<ul>
{{#each food_pairing}} 
  <li>{{this}}</li>
{{/each}}
</ul>
{{brewers_tips}}
</div>
{{/each}}
</div>
