<div class="randomBlock">
    <div> <img class="imgRandom" src="{{beerss.image_url}}" /> </div>
    <div class="textRandom">
        <h2 class="name">{{beerss.name}}</h2>
        <p class="greyInfo">{{beerss.tagline}}</p>
        <p class="info">{{beerss.description}}</p>
        <h4>Food Pairing</H4>
        <ul>
            {{#each beerss.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <div>
            <h4>Brewers Tips:</h4>
            <p>{{beerss.brewers_tips}}</p>
        </div>
    </div>
</div>