{{!-- <h1>{{data.name}}</h1> --}}
{{!-- <h1>{{data.name}}</h1> --}}
<div class ="randomBeer">
  <img src="{{data.image_url}}">
</div>
<div class ="desBeer">
  <h1>{{data.name}}</h1>
  <h4>{{data.tagline}}</h4>
  <p> {{data.description}}</p>
  
</div>