<!-- On the randomBeer.hbs you should print the random beer you get. 
You should display an image, name, description, tagline, food pairing and brewer tips -->

    
<div class="cards-container">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src= ""{{beerRandom.image_url}}"" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{beerRandom.name}}</h5>
        <p class="card-tagline">{{beerRandom.tagline}}</p>
        <p class="card-text">{{beerRandom.description}}</p>
        <p class="card-text">{{beerRandom.food_pairing}}</p>
        <p class="card-text">{{beerRandom.brewer_tips}}</p>
      </div>
    </div>
  </div>
    