<div class="randombeer-container">
  <div class="">
 
  <img src="{{image_url}}" height="250px" alt="{{name}} {{tagline}}">

    <h2>{{name}}</h2>
    <p>{{tagline}}</p>
    <p>{{description}}</p>

<h5>Food Pairing</h5>
  <ul>
    {{#each food_pairing}}
    <li><p>{{this}}</p></li>
{{/each}}
</ul>

<h5>Brewers tips</h5>
<p>{{brewers_tips}}</p>
</div>
</div>