<div class="randomBeer-container">
    <div class="random-image">
        <img src="{{randomBeer.image_url}}" alt="randomBeer-image">
    </div>
    <div class="random-description">
        <h2>{{randomBeer.name}}</h2>
        <h4 id="tagline">{{randomBeer.tagline}}</h4>
        <p id="beer-description">{{randomBeer.description}}</p>
        <ul>
            <h5>Food Pairing</h5>
            {{#each randomBeer.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <h5>Brewer Tips:</h5>
        <p>{{randomBeer.brewers_tips}}</p>

    </div>
</div>