
<div class='row'>
   {{#each beers}}
   
   <div class="card col-8 text-center position">
       <img class="card-img-top img-position" src={{this.image_url}} alt="Card image cap" style="height:50vh; width:10vw;">
       <div class="card-body">
           <h5 class="card-title">{{this.name}}</h5>
           <h6 class="card-text">{{this.tagline}}</h6>
           <p class="card-text">{{this.description}}</p>
           <h6 class="card-text">{{this.food_pairing}}</h6>
           <h6 class="card-text">{{this.brewers_tips}}</h6>
       </div>

   </div>
   {{/each}}
</div>