<div class="col-3">
  <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
</div>
<div class="card-body col-6">
  <h1 class="card-title">{{name}}</h1>
  <h2 class="card-subtitle">{{tagline}}</h2>
  <p class="card-text">{{description}}</p>
  <h4 class="card-text">Food Pairing</h4>
  <ul>
    {{#each food_pairing}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <p class="card-text"><strong>Brewer Tips:</strong> {{brewers_tips}}</p>
</div>
</div>