<div id="random-beer">

    <img src="{{this.image_url}}">
    <section>
        <h2>{{this.name}}</h2>
    <h4>{{this.tagline}}</h4>
    <p>{{this.description}}</p>
    <h3>Food Pairing</h3>
    <ul>
      {{#each food_pairing}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
     <p><strong>Brewer Tips: </strong>{{brewers_tips}}</p>
  </section>
</div>
    </section>

 </div>