<div class="col-md-6 justify-content">
    <div class="row card">

        <img class="card-img-top" src="{{image}}" alt="beer">

        <div class="card-body">
            <h1 class="card-title">{{name}}</h1>
            <p class="card-text">{{tagline}}</p>
            <p class="card-text">{{description}}</p>
            <p class="card-text">{{foodpairing}}</p>

        </div>
    </div>

</div>