{{#each beers}}
<h1>{{this.name}}</h1>
<img src="{{this.image_url}}" alt="beer">
<h2>{{this.tagline}}</h2>
<p>{{this.description}}</p>
<h3>{{this.foodpairing}}</h3>
<p>{{this.brewertips}}</p>
{{/each}}