<div class="random-beer">
  <div>
  <img class="beer-img" src="{{image_url}}" alt="Card image cap" height = "300" width = "150">
  </div>
  <div class="beer-body">
    <h3 class="beer-title">{{name}}</h3>
    <h4 class="beer-tagline">{{tagline}}</h4>
    <p class="beer-text">{{description}}</p>
    <ul>
    {{#each food_pairing}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p class="beer-tips">{{brewers_tips}}</p>

  </div>
</div>