<div class="beers">
    <div class="beer">
        <img src="{{this.image_url}}" alt="">
        <h2>{{this.name}}</h2>
        <h4>{{this.tagline}}</h4>
        <p>{{this.description}}</p>
        <h4>Food Pairing:</h4>
        <ul>
            {{#each this.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><span class = "bold">Brewers tips: </span>{{this.brewers_tips}}</p>
    </div>
</div>