
<div class="beer-container">
  <picture>
    <source srcset={{image_url}}>
    <source srcset="/images/beer.png">
    <img src='' alt={{tagline}}>
  </picture>
  <div class="beer-info">
    <div><strong>Name: </strong>{{name}}</div>
    <div><strong>Tagline: </strong>{{tagline}}</div> 
    <div><strong>Description: </strong>{{description}}</div>
  </div>
</div>
