<div class="random-container">
  <img src="{{featuredBeer.image_url}}" alt="">
  <ul>
    <li>
      <h3>{{featuredBeer.name}}</h3>
      <p>{{featuredBeer.description}}</p>
      <h5>{{featuredBeer.tagline}}</h5>
      <p>{{featuredBeer.food_pairing}}</p>
      <p>{{featuredBeer.brewers_tips}}</p>
    </li>
  </ul>
</div>