<div id="random-container">
  {{#each beers}}
  <img src="{{this.image_url}}" alt="cervezas">
  <h2>{{this.name}}</h2>
  <p>{{this.description}}</p>
  <h5>{{this.tagline}}</h5>
  <p>{{this.foodpairing}}</p>
  <p>{{this.brewertips}}</p>
  {{/each}}
</div>