{{#with beer}}
<div class="random-beer">
    <div class="random-beer-img">
      <img src={{image_url}} alt="beer">
    </div>  

    <div class="random-description">
        <h2>{{name}}</h2>
        <h3>{{tagline}}</h3>
        <p>{{description}}</p>
        <h4>Food Pairing</h4>
        <ul class="list-food-pairing">
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><span class="bold">Brewers Tips:</span> {{brewers_tips}}</p>
    </div>
</div>
{{/with}}