
<div class="container-fluid beer-div">

  <div class="row">

    <div class="col-md-4"></div>


    <div class="col-md-4 random-beer-div">


<img src={{beers.image_url}} class="img-fluid beer-img">


<h2>
  {{beers.name}}

</h2>

<h3>

  {{beers.tagline}}
</h3>
<p>
  {{beers.description}}

</p>

<p>

  Suggested Pairings: {{beers.food_pairing}}


</p>



<p>
  {{beers.brewers_tips}}

</p>
</div>


    </div>
  </div>