
    <img src="{{randomBeer.image_url}}" alt="beer">
    <h1>{{randomBeer.name}}</h1>
    <h2>{{randomBeer.tagline}}</h2>
    <p>{{randomBeer.description}}</p>
    <h3>Food Pairing</h3>
    <ul>
        {{#each randomBeer.food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>
        <span>Brewer Tips:</span>{{randomBeer.brewers_tips}}
    </p>
</div>