<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{beers.0.image_url}}" alt="{{this.name}}">
  <div class="card-body">
    <h5 class="card-title">{{beers.0.name}}</h5>
    <p class="card-text">{{beers.0.tagline}}</p>
    <p class="card-text">{{this.description}}</p>
    <h4><strong>Food pairings</strong></h4>
    <ul>
      {{#each beers}}
      <li>{{this.food_pairing}}</li>
      {{/each}}
    </ul>
    <p><strong>Brewer Tips:</strong> {{beers.0.brewers_tips}} </p>
  </div>
</div>