<div>
  <div>
    <img src="{{image_url}}">
  </div>
  <h1>{{this.name}}</h1>
  <p>{{this.tagline}}</p>
  <p>{{this.description}}</p>
  <h2>Food Pairing</h2>
  <ul>
    {{food_pairing}}
  </ul>
  <p>Brewers Tips: {{brewers_tips}}</p>
</div>