<div class="beer-container-random">
    {{#each beers}}
        <div class="beer-random">
            <img src={{image_url}}>
            <div>
                <h1>{{name}}</h1>
                <h2>{{tagline}}</h2>
                <p>{{description}}</p>
                <h3>Food Pairing</h3>
                {{#each food_pairing}}
                    <li>{{}</li>
                {{/each}}
                <p><strong>Brewer's Tips:</strong> {{brewers_tips}}</p>
            </div>
        </div>
    {{/each}}
</div> 