   
   {{#each beerObject}}
   <div class="random-beer">
    <div class="random">
        <img src="{{this.image_url}}" alt="beer">
    </div>
    <div class="random-des">
        <h3>{{this.name}}</h3>
        <span>{{this.tagline}}</span>
        <p>{{this.description}}</p>
        <p>Food Pairing</p>
        <ul>
          {{#each this.food_pairing}}
           <li>{{this}}</li>
           {{/each}}
        </ul>
        <p><b>Brewer's tips:</b>{{this.brewers_tips}}</p>
    </div>
    {{/each}}
    </div>