<section id="random-beers">
{{#each beers}}
  <img src="{{this.image_url}}" alt="{{this.name}}">
  <div class="random-beer">
    <h2>
      {{this.name}}
    </h2>
    <h3>
      {{this.tagline}}
    </h3>
    <p>
      {{this.description}}
    </p>
    <p>
      <strong>
        Food Pairing
      </strong>
      <ul>
      {{#each this.food_pairing}}
      <li> {{this}}</li>
      {{/each}}
    </ul>
    </p>
    <p>
      <strong>
        Brewers Tips:
      </strong>
      {{this.brewers_tips}}
    </p>
  </div>
{{/each}}
</section>