    
<section class="random-beer">
      {{#each beers}}
      <img class="beer-img" src="{{ this.image_url }}">
      <h2>{{ this.name }}</h2>
      <em>{{ this.tagline }}</em>
      <p>{{ this.description }}</p>  
      <h5><strong>Food Pairing</strong></h5>
        {{#each food_pairing}} <li>{{this}}</li> {{/each}}
     <p><strong>Brewers Tips:</strong></p>
     <p>{{ brewers_tips }}</p>
      {{/each}}
</section>
