<div class="rand-container">
  {{#each beer}}
  <img src="{{this.image_url}}" alt="chela" width="10%">
  <div>
    <h3>Name: {{this.name}}</h3>
    <h4>{{this.tagline}}</h4>
    <p>{{this.description}}</p>
    <h5>Food pairing</h5>
    <p>{{this.food_pairing}}</p>
    <h5>Brewers Tips</h5>
    <p>{{this.brewers_tips}}</p>
  </div>
  {{/each}}
</div>