<div class="index-container d-flex justify-content-center align-self-center">
    <div class="beer-container">
        <div class="card">
            <img class="card-img-top" src="{{this.image_url}}" alt="Beer image">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text">{{this.tagline}}</p>
                <p class="card-text">{{this.food}}</p>
                <p class="card-text">{{this.brewer}}</p>
            </div>
        </div>
    </div>
</div>