
<div class="card ">
  <div class="card-header text-center">
    <img class="img-fluid " src={{image_url}} alt={{id}}>
  </div>
  <div class="card-body">
    <h2 class="">{{name}}</h2>
    <h3 class="text-muted">{{tagline}}</h3>
    <h3 class="text-justify">{{description}}</h3>
  </div>
</div>