<div class="random">
    <img class="single-beer" src="{{this.image_url}}" alt="Beer image">
    <div class="details">
        <h4 class="beer-title">{{this.name}}</h4>
        <h6 class="beer-tagline">{{this.tagline}}</h6>
        <p class="beer-text">T{{this.description}}</p>
        <h6 class="beer-title">Food Pairing</h6>
        <p class="beer-paring">{{this.description}}</p>
        <h6 class="beer-title">Brewers Tips</h6>
        <p class="beer-paring">{{this.description}}</p>
    </div>
</div>