<div class = "randomContainer">
<img class = "randomImg" src="{{image_url}}" alt="beer">
<div class = "randomInformation">
  <h1 class = "randomTitle">{{name}}</h1>
  <h2 class = "randomTagline">{{tagline}}</h2>
  <p class = "randomDescription">{{description}}</p>
  <h3 class = "randomTitleFood">Food Pairing</h3>
  <ul class = "randomList">
    {{#each food_pairing}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <p class = "randomTips"><b>Brewers Tips:</b>{{brewers_tips}}</p>
</div>
</div>
