<h1>Random Beers</h1>

 {{!-- <img src="{{beer.image_url}}" alt="Card image cap">  --}}


 <div class="media">
  <img class="d-flex align-self-start mr-3" width= "100px" src="{{beer.image_url}}" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">{{beer.name}}</h5>
    <p>{{beer.tagline}}</p>
    <p>{{beer.description}}</p>

  </div>
</div>
