

    <div class="wrapper-random">

    <div id="img-random">
        <img class="img-beer" id="img-random"src={{this.image_url}} alt="image">
    </div>

    <div id="text-random">
            <h2>{{this.name}}</h2>
            <h3>{{this.tagline}}</h3>
            <p>{{this.description}}</p>
            <h4>Food pairing</h4>
            <p>{{this.food_pairing}}</p>
            <p> <b>Brewer tips: </b> {{this.brewers_tips}}</p>
    </div>

    </div>

