<div class="index-container">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="text-links" href="/">Home</a>
        <a class="text-links" href="/Beers">Beers</a>
        <a class="text-links active" href="/random-beers">Random Beer <span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>
</div>

<div>
 <div class="card-style" style="width: 18rem;">
  <img src="{{this.image_url}}" class="card-img" alt="{{this.name}}">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <h6 class="card-subtitle mb-2">{{this.tagline}}</h6>
    <p class="card-text">{{this.description}}</p>
  </div>
 </div>
</div>
