<div class="container">
    <img class="beer-img" src={{randombeer.image_url}} height="300px;">

    <div class="text">
        <h2>{{randombeer.name}}</h2>
        <h3>{{randombeer.tagline}}</h3>
        <p>{{randombeer.description}}</p>

        <p>Food pairing: {{randombeer.food_pairing}}</p>

        <p>Brewers Tips: {{randombeer.brewers_tips}}</p>
    </div>
</div>
