<div class="randomBeer">
    <div>
        <img id="randBeer" src="{{image_url}}" width="200" alt="">
    </div>
    <div>
        <h4>{{name}}</h4>
        <h5>{{tagline}}</h5>
        <p>{{food_pairing}}</p>
        <p>{{brewers_tips}}</p>
       

    </div>

</div>
