
<div class="randomBeer">
    <div class="img_random_box">
        <img src={{beer.image_url}} alt="" class="lil_image">
    </div>
    <div class="partial">
        <div class="beerName">{{beer.name}}</div>
        <div class="beerTag"> {{beer.tagline}}</div>
        <div class="beerDesc">{{beer.description}}</div>
        <div class="foodPair">
            <div></div>
            <div class="beerDesc">{{beer.food_pairing}}</div>
        </div >
        <div class="beerDesc">
            <div class="font-weight: bold">Brewers tips:</div>
            <div>{{beer.brewers_tips}}</div>
        </div>
    </div>
</div>
