<div>
    <img src="{{image}}" alt="beer image">
    <h3>{{name}}</h3>
    <h5>{{description}}</h5>
    <p>{{tagline}}</p>
    <h4>Food Pairig</h4>
    <ul>
        <li>{{food}}</li>
    </ul>
    <p><b>Brewers Tips:</b>{{brewer}}</p>
</div>