<div>
  <article>
    <img src="{{photo}}" alt="beer">
    <div>
      <h2>{{name}}</h2>
      <h3>{{tagline}}</h3>
      <p>{{description}}</p>
      <p>{{food}}</p>
      <p>{{brews}}</p>
    </div>
  </article>
</div>