  <!-- {{#each beers}} 
  {{>beerPartial this}}
  {{/each}} -->
  <div class="container random">
    <img src="{{image_url}}" alt="" width="auto" height="300">
  </div>
    <div class="container random">
    <h6>{{name}}</h6>
    <h6>{{tagline}}</h6>
    <h6>{{first_brewed}}</h6>
    <h6>{{abv}}</h6>
    <h6>{{food_pairing}}</h6>
    <h6>{{description}}</h6>
</div>
  
