
    <div class="beerfacts">
        <div>
            <img src="{{chosenBeer.image_url}}" alt="">
        </div>

        <div>
            <h3>{{chosenBeer.name}}</h3>
            <p class="tagline">{{chosenBeer.tagline}}</p>
            <p class="description">{{chosenBeer.description}}</p>
            <h5><b>Food Pairing: </b></h5>
            <ul>
                <li>{{str0}}</li>
                <li>{{str1}}</li>
                <li>{{str2}}</li>
            </ul>
            {{!-- <p class="pairing">{{chosenBeer.food_pairing}}</p> --}}
            <p class="brewer"><b>Brewer Tips:</b> {{chosenBeer.brewers_tips}}</p>
        </div>
    </div>
