{{#with beers.[0]}}
<div class="random-beers">
    <div class="random-img">
        <img src="{{image_url}}" alt="beer">
    </div>
    <div class="beer-partial-text">
        <h1>{{name}}</h1>
        <h2>{{tagline}}</h2>
        <p>{{description}}</p>
        <h3>Food Pairing</h3>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><strong>Brewers Tips: </strong>{{brewers_tips}}</p>
    </div>
</div>
{{/with}}
{{!-- {{ beers.[0] }} --}}