<div class="randomBeer">
  <img src={{image_url}} alt="Beer bottle">

<div class "randomBeerInfo">
  <h2>{{name}}</h2>
  <h3>{{tagline}}</h3>
  <p>{{description}}</p>
  <h4>Food Pairing</h4>
  <p>{{food_pairing}}</p>
  <h4>Brewer's Tips</h4>
  <p>{{brewers_tips}}</p>
 </div> 
</div>
