<div id="rndm_wrapper">
  <img src="{{aBeer.image_url}}" alt="">
  <div id="rndm_info">
    <h2>{{aBeer.name}}</h2>
    <h3 id="rndm-tagline">{{aBeer.tagline}}</h3>
    <p>{{aBeer.description}}</p>
    <h3>Food Pairing</h3>
    <ul>
      {{#each aBeer.food_pairing}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p><b>Brewers tips: </b>{{aBeer.brewers_tips}}</p>
  </div>
</div>