<div class="index-container">
    {{#with pepe}}
    <img src={{image_url}} width=100 alt="beers">
    <h3>{{name}}</h3>
    <h5>{{tagline}}</h5>
    <p>{{description}}</p>
    {{#each food_pairing}}
         <li>{{this}}</li>
    {{/each}}
    <p>{{brewers_tips}}</p>

{{/with}}

</div>      