
<div class="container-fluid beer-div">

  <div class="row row-margin">

    <div class="col-md-3"></div>


    <div class="col-md-2 random-beer-div">


<img src={{beers.image_url}} class="img-fluid random-beer-img">
    </div>
    <div class="col-md-3 random-beer-div random-beer-margin">

<h2>
  {{beers.name}}

</h2>

<h3>

  {{beers.tagline}}
</h3>
<p>
  {{beers.description}}

</p>

<p>

  Suggested Pairings: {{beers.food_pairing}}


</p>



<p>
  {{beers.brewers_tips}}

</p>
</div>


    </div>
  </div>