<body id="background-gallery">
<div class="product-absolute">
  <div class="container">
    <div class="row">
      <div class="product-image col-lg-4">
        <img class="card-img-top" src=" {{randbeer.0.image_url}} " alt="Card image cap">
      </div>
      <div class="product-info col-lg-8">
        <h1> {{randbeer.0.name}} </h1>
        <h5> {{randbeer.0.tagline}} </h5>
        <p class="beer-info"> {{randbeer.0.description}} </p>
        <h6 class="intro-list">Food Pairing</h6>
        <ul>
          {{#each randbeer.0.food_pairing}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
        <p class="beer-description"> {{randbeer.0.brewers_tips}}  </p>
      </div>
    </div>
  </div>
</div>
</body>
