
 {{#each beers}}
<div class="card" style="width: 70%;">
  <img class="card-img-top" src="{{this.image_url}}" alt="image">
  <div class="card-body">
    <h5 class="name">{{this.name}}</h5>
 
    <p class="description">{{this.description}}</p>
    
    <p class="tagline">{{this.tagline}}</p>
   
    <p class="food-pairing">{{this.food-pairing}}</p>
  
    <p class="brewer-tips">{{this.brewer-tips}}</p>

  </div>
</div>

  {{/each}}

    
    
 




