<div class="randomBeer">
    {{#each beer}}
    {{> beerPartials}}
    {{!-- variables inside #each needs 2 dots and slash ../variable --}}
    {{#if ../len }}
    {{!-- {{log ../len}} --}}
    <br>
    <b> Food Pairing </b>
    <ul>
        {{#each this.food_pairing}}
        <li> {{this}} </li>
        {{/each}}
    </ul>
    <p><b>Brewers Tips:</b> {{this.brewers_tips}} </p>
    {{/if}}
    {{!--this extra </div> closing tag, because it opens in beerPartials --}}
</div>
{{!-- {{log ../len}} => works --}}
{{!-- {{log len}} => undefined- --}}
{{/each}}
</div>
{{> footer}}