<div class="random-content">
    <img src="{{randomBeer.image_url}}" alt="">
    <div class="random-text">
        <h1>{{randomBeer.name}}</h1>
        <h3>{{randomBeer.tagline}}</h3>
        <p>{{randomBeer.description}}</p>
        <h5>Food Pairing</h5>
        <ul>
            <li>{{randomBeer.food_pairing}}</li>
        </ul>
        <p>{{randomBeer.brewers_tips}}</p>
    </div>
</div>