
<div class = "random-beer">
    <div>
        <img src="{{image_url}}" alt="404">
    </div>
    <div class="description">
    <p class = "beername">{{name}}</p>
    <p class = "beerdescription">{{description}}</p>
    <p class = "beertag">{{tagline}}</p>
    <h3>Food Pairing</h3>
    <p>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </p>
    <p><h4>Brewer Tips: </h4>{{brewers_tips}}</p>
    </div>
</div>