<div class="random-container">
    <img class="randombeer-img" src={{this.image_url}} alt="some beer">
    <div class="randombeer-text-wrapper">
        <h2>{{this.name}}</h2>
        <h3 class="h3">{{this.tagline}}</h3>
        <p class="description">{{this.description}}</p>
        <ul>
            <b>Food paring</b>
            {{#each this.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>
            <b>Brewers tips:</b>
            <span>{{this.brewers_tips}}</span>
        </p>
    </div>
</div>