<div class="random-beer">
  {{#each beers}}

  <img src="{{this.image_url}}" alt="">
  <div class="random-beer-text">

    <h5><b>{{this.name}}</b></h5>
    <p>{{this.description}}</p>
    <p><b>{{this.tagline}}</b></p>
    <ul>
      {{#each this.food_pairing}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p>{{this.brewers_tips}}</p>

  </div>
  {{/each}}
</div>