<div class="container">
  <div class="beer">
    <img src="{{image_url}}" alt="beer">
    <h3>{{name}}</h3>
    <p>{{tagline}}</p>
    <p>{{description}}</p>
    <h4>Food Pairing</h4>
    <ul>
      {{#each food_pairing}}
      <li>{{this}}</li> {{/each}}
    </ul>
    <h4>Brewers Tips: </h4> <p>{{brewers_tips}}</p>
  </div>
</div>