<div class="random-beer">
    <div class="random-img">
        <img src="{{image_url}}" alt="">
    </div>
    <div class="random-content">
        <h3>{{name}}</h3>
        <h4>{{tagline}}</h4>
        <p>{{description}}</p>
        <h3>Food Pairing</h3>
        {{#each food_pairing}}
        <ul>
            <li>{{this}}</li>
        </ul>
        {{/each}}
        <h3>Brewer's Tips:</h3>
        <p>{{brewers_tips}}</p>
    </div>
</div>
