<div>
     {{#each beerObject}}
     <div class="container d-flex justify-content-center">
          <div class="row m-5">
               <div class="col-2">
                    <div class="d-flex justify-content-center">
                         <img style="height: 10rem;" src="{{image_url}}" alt="">
                    </div>
               </div>
               <div class="col-10">
                    <p class="font-weight-bold">{{tagline}}</p>
                    <p class="text-secondary">{{name}}</p>
                    <p>{{description}}</p>
                    <div>
                         {{#each food_pairing}}
                         <li>{{ this }}</li>
                         {{/each}}
                    </div>
                    <p><b>Brewers Tips: </b>{{brewers_tips}}</p>
               </div>
          </div>
     </div>
     {{/each}}
</div>
