<div class="random-beer-container">
    <img src="{{beer.image_url}}">
    <div class="random-beer-content">
        <h2>{{beer.name}}</h2>
        <h3>{{beer.tagline}}</h3>
        <p>{{beer.description}}</p>

        <h4>Food Pairing</h4>
        <ul>
            {{#each beer.food_pairing}}
                <li>{{this}}</li>
            {{/each}}
        </ul>

        <p><span class="bold">Brewers Tips: </span>{{beer.brewers_tips}}</p>
    </div>
</div>