
 <h1>{{this.name}}</h1>
<div>
    <div>
        <img class="ramdon-beer" src="{{this.image_url}}"/>
    </div>
    <div>
        <h1>{{this.name}}</h1>
        <h2>{{this.tagline}}</h2>
        <p> {{this.description}} </p>
        <p> {{this.food_pairing}} </p>
        <p> {{this.brewers_tips}} </p>
    </div>
</div>