<div class = "beer-div">
<div class="beer-container">
  <img src="{{this.image_url}}" alt="beer picture" class = "beer-picture"><br>
  <h2 class="beer-name">{{this.name}}</h2>
  <p class="beer-tagline">{{this.tagline}}</p>
  <p class="beer-description">{{this.description}}</p>
</div>


</div>

{{!-- <div class="card cards-container" style="width: 18rem;">
      <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">{{this.name}}</h2>
        <h3 class="card-text">{{this.tagline}}</h3>
        <p>{{this.description}}</p>
      </div> --}}
