<div class="card content" id="no-border" >
  <div class="row g-0">
    <div class="col-md-3 d-flex justify-content-center align-items-center" >
      <img src="{{image_url}}" class="img-fluid rounded-start p-3" alt="..." style="height: 350px;"/>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><b>{{name}}</b></h4>
        <p class="card-text text-muted">{{tagline}}</p>
        <p class="card-text">{{description}}</p>
        
        <h5><b>Food Pairing</b></h5>
        <ul>
          {{#each food_pairing as |pair|}}
            <li>{{pair}}</li>
          {{/each}}  
        </ul>
        <p class="card-text"><b>Brewers Tips:</b>{{brewers_tips}}</p>
      </div>
    </div>
  </div>
</div>