<div class="row beer-detail">
  <div class="col-12 col-md-2 text-center">
    <img class="img-fluid" src="{{ beer.image_url }}" alt="{{ beer.name }}" />
  </div>
  <div class="col-12 col-md-10">
    <h1 class="mb-2">{{ beer.name }}</h1>
    <p class="text-muted mb-2">{{ beer.tagline }}</p>
    <p>{{ beer.description }}</p>
  </div>
</div>
