<div class="container"> 
    <div class="row">
        <div class="col">
            <img  src="{{beer.image_url}}" alt="{{beer.name}} class="img-fluid"" />
        </div>
        <div class="col" >
            <h1>{{beer.name}}</h1>
            <h2>{{beer.tagline}}</h2>
            <p>{{beer.description}}</p>
            <p>Food Pairing: {{beer.food_pairing}}</p>
            <p>Brewers Tips: {{ beer.brewers_tips}}</p>
        </div>
    </div>
</div>


 