
<div class="row">
    <div class="col-3"><img src="{{beer.image_url}}" style="height: 400px;"/>
    </div>
    <div class="col-9">
        <h3>{{beer.name}}</h3>
        <p>{{beer.tagline}}</p>
        <p>{{beer.description}}</p>
        <h5>Food Pairing</h5>
        <ul>
            {{#each beer.food_pairing as |pair|}}
            <li>{{pair}}</li>
            {{/each}}
        </ul>
        <p><b>Tips:</b> {{beer.brewers_tips}}</p>
    </div>
</div>