<h1>Random beer</h1>
<section>

    {{!-- ******************** without partials ******************** --}}
    {{#each beers}}
        <div class="beer">
            {{#if this.image_url}}
                <img src="{{ this.image_url }}" alt="{{ this.tagline }}" class="align-self-center mr-3" />
            {{/if}}
            <div class="beer-inner">
                <h3 class="mt-0">
                    <a href="/beers/{{this.id}}"></a>
                    {{!-- we have to create this route "/beers/{{someBeerId}" --}}
                    {{this.name}}
                    </a>
                </h3>

                <h5>{{this.tagline}}</h5>
                <p>{{this.description}}</p>
            </div>
        </div>
    {{/each}}

    <div class="buttons">
        <a class="btn btn-primary button-margin" href="/random-beer">Choose another random beer</a>
    </div>



    {{!-- ******************** with partials ******************** --}}
    {{!-- {{#each beers}}
        <div class="beer">
            {{>beerpartial this}}
        </div>
    {{/each}}

    <div class="buttons">
        <a class="btn btn-primary button-margin" href="/random-beer">Choose another random beer</a>
    </div> --}}
</section>