<div>
    <img rsc="{{beer.image_url}}" alt="beer">
    <h1>{{beer.name}}</h1> 
    <p>{{beer.description}}</p>
    <p><b>Food Pairing</b></p>
    <p>{{beer.food_pairing}}</p>
    <p><b>Brewer Tips</b></p>
    <p>{{beer.brewers_tips}}</p>
</div>